/* /* ===========================================
              UNIVERSAL STYLES
=============================================*/
$color-primary-dark: #432344;
$color-primary-light: #f9f9f9;
$color-primary-red: #FF2525;
$color-primary-brown: #FFC03D;
$color-secondary-brown: #cf920d;

$color-white: #FFF;
$color-black: #100c08;

$color-instagram: #EE1092;
$color-twitter: #0764F7;
$color-github: #333;

$color-success: #16A085;
$color-error: #FF3F34;

$color-primary-bg2: #FB623A;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* =====================================
            REUSABLE CODE
======================================= */

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* max-width: 100vw; */
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: $color-white;
}

/* Clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.fa-instagram:active,
.fa-instagram:hover {
  color: $color-instagram;
  transition: color 0.2s;
}

.fa-twitter:active,
.fa-twitter:hover {
  color: $color-twitter;
  transition: color 0.2s;
}

.fa-github:active,
.fa-github:hover {
  color: $color-github;
  transition: color .2s;
}

/* ================= 
    flash messages
================== */
.flash {
  width: 100%;
  font-size: 90%;
  font-weight: 400;
}

.success-flash,
.error-flash {
  padding: .5rem;
  width: 100%;
}

.success-flash {
  background: rgba($color-success, .5);
  color: $color-primary-dark;
}

.error-flash {
  background: rgba($color-error, .5);
  color: $color-primary-dark;
}

/* body button */
.btn {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 300;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* body button prefered call to action selection */
.btn-full {
  background-color: $color-primary-brown;
  border: 1px solid $color-primary-brown;
  color: $color-black;
  font-weight: 400;
  box-shadow: .5rem 1.2rem 1.5rem -1.5rem rgba($color-black, .1);
  transition: all .2s;
}

/* body button alternative call to action selection */
.btn-ghost {
  background-color: transparent;
  border: .1rem solid $color-secondary-brown;
  color: $color-secondary-brown;
}

.btn-full:hover {
  background-color: $color-secondary-brown;
  border-color: $color-secondary-brown;
  transform: translateY(-3px);
  box-shadow: .2rem .6rem 1rem -.75rem rgba($color-black, .1);
  color: $color-white;
}

.btn-full:active {
  transform: translateY(-1px);
  box-shadow: .1rem .3rem .5rem -.75rem rgba($color-black, .1);
}

.btn-ghost:hover,
.btn-ghost:active {
  color: $color-black;
  background-color: $color-primary-brown;
  border-color: $color-primary-brown;
}

.italic {
  font-style: italic;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

/* ============================================================= 
                        LANDING PAGE
============================================================== */

/* #menuIcon {
  background: none;
} */

#menuIcon,
.menu-icon {
  position: fixed;
  font-size: 2rem;
  left: 4.2rem;
  top: 2.4rem;
  cursor: pointer;
  z-index: 1;
}

.landing-section #menuIcon {
  animation: 1s menuFadeIn 12s forwards;
  opacity: 0;
}

@keyframes menuFadeIn {
  100% {
    opacity: 1;
  }
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color-black, .8);
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.menu-content a:link,
.menu-content a:visited {
  padding: 1.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: $color-white;
  display: block;
}

.menu-content a:active,
.menu-content a:hover {
  background-color: rgba($color-primary-red, 0.3);
  transition: .3s ease-in-out;
}

.menu-container .closebtn {
  position: absolute;
  top: 3.6rem;
  right: 4.8rem;
  font-size: 3rem;
  color: $color-white;
  z-index: 1;
  cursor: pointer;
}

.landing-section {
  overflow: hidden;
}

.brand {
  color: $color-primary-red;
  font-weight: 400;
  font-family: 'Caveat', cursive;
}

.caveat {
  font-family: 'Caveat', cursive;
}

/* Blog tag colors */
.green {
  background-color: $color-success;
}

.yellow {
  background-color: $color-primary-brown;
}

.purple {
  background-color: $color-primary-dark;
}

.red {
  background-color: $color-primary-red;
}

/* ====================
  landing page styles
===================== */

section h1,
h2,
h3 {
  font-weight: 300;
}

/* ===============

  greeting styles 

================= */

@keyframes navFade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.jiggle {
  animation-name: jiggle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 10s;
}

@keyframes jiggle {

  48%,
  62% {
    transform: scale(1.0, 1.0)
  }

  50% {
    transform: scale(1.1, 0.9)
  }

  56% {
    transform: scale(0.9, 1.1) translate(0, -.5rem)
  }

  59% {
    transform: scale(1.0, 1.0) translate(0, -.3rem)
  }
}

  /* Boxes animations */
  @keyframes spanSlideRight {
    100% {
      opacity: 0.6;
      margin-left: 0;
    }
  }

  @keyframes h1slideRight {
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes btnSlideDown {
    100% {
      opacity: 1;
      top: 0;
    }
  }

@keyframes imgSlideLeft {
  100% {
    opacity: 1;
    right: 0;
  }
}

.greeting {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(20, 30, 48, 0.7), rgba(36, 59, 85, 1)),
    url("/resources/img/greetings.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  &__nav {
    display: flex;
    list-style: none;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 1rem 3rem;
    animation: 1s navFade .5s forwards;
    opacity: 0;
    margin-top: -10rem;

    &--brand {
      flex: 1;
      font-size: 150%;
      font-family: 'Caveat',
      cursive;
    }

    &--items {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 1rem;

        a {

          &:link,
          &:visited {
            color: $color-black;
            font-weight: 400;
            font-size: 1rem;
            transition: border-bottom .2s, color .2s;
          }

          &.nav--item {

            &:hover,
            &:active {
              color: $color-white;
              padding-bottom: .5rem;
              border-bottom: .3rem solid $color-black;
            }
          }

          &.btn-ghost {

            &:link,
            &:visited {
              color: $color-secondary-brown;
              font-weight: 300;
            }

            &:hover,
            &:active {
              color: $color-black;
            }
          }

          &.jiggle {
            margin: 0;
            position: relative;
            left: 0;
            text-transform: none;
            margin-left: 1rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  &__boxes {
    display: flex;
    width: 90%;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--box {
      flex: 1;
      padding-left: 3rem;
      backface-visibility: hidden;

      .greeting__box--subHeading {
        font-size: 1.2rem;
        color: $color-white;
        animation: 1s spanSlideRight 1s ease-in forwards;
        opacity: 0;
        margin-left: -50px;
      }

      .greeting__box--mainHeading {
        font-size: 1.6rem;
        margin: 2rem 0 3rem 0;
        line-height: 1.4;
        position: relative;
        left: -10rem;
        color: $color-white;
        animation: 1s h1slideRight 2s ease-in forwards;
        opacity: 0;
        font-weight: 400;
      }

      &.btn {
        text-transform: none;
      }

      & .btn-full {
        position: relative;
        top: -1.5rem;
        opacity: 0;
        animation: 1s btnSlideDown 4.5s ease-in forwards;

        /* Blink and expand/shrink effect on landing page main cta button */
        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10rem;
          background-color: $color-primary-brown;
          transition: all .4s;
          z-index: -1;
        }

        /* animating the ::after element we created above, on .greeting__box .btn-full hover */
        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }

        & i {
          margin-right: 1rem;
        }
      }
    }

    &--image {
      flex: 1;
      align-self: flex-end;

      & img {
        height: 45vh;
        position: relative;
        right: -8rem;
        opacity: 0;
        animation: 1s imgSlideLeft 3s ease-in-out forwards;
      } 
    }
  }

}

/*===================*/
.intro {
  background-color: $color-primary-light;

  /* larger nested container */
  &__container {
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    width: 90%;
    background-color: $color-white;
    padding: 10rem 0;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
    position: relative;
    top: -2rem;

    & img {
      height: 15rem;
    }

    & p {
      line-height: 1.2;
    }

    /* smaller nested containers */
    &--about {
      flex: 1;
    }

    &--give {
      flex: 1;

      a {
        &:link,
        &:visited {
          color: $color-black;
          text-decoration: underline;
          text-decoration-color: $color-primary-red;
          text-decoration-thickness: .2rem;
        }
      }
    }

    &--receive {
      flex: 1;
    }

    &--about,
    &--give,
    &--receive {
      padding: 0 2rem 0 3rem;
    }

    /* first nested div heading */
    &--about h2 {
      margin: 2rem 0;
    }

    &--about p {
      margin-bottom: 3rem;
    }
    
    /* second and third divs */
    &--give h2,
    &--receive h2 {
      font-size: 1.2rem;
      margin: 2rem 0;
    }

    &--give p,
    &--receive p {
      margin-bottom: 1rem;
    }
  }
}

/* ==============
    features
=============== */

.features {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10rem;

  &__head {
    margin: 12rem 0 5rem 0;
    text-align: center;
  }

  &__head p {
    font-size: 1rem;
    font-weight: 400;
    opacity: .5;
  }

  &__boxes {
    display: flex;
    justify-content: space-between;

    &--box {
      flex-basis: 32%;
      padding: 3rem 3rem;
      border-radius: .5rem;
      background-color: $color-white;
      box-shadow: 0 .5rem .5rem rgba($color-black, .1);
      display: flex;
      flex-direction: column;

      & a:link,
      & a:visited {
        width: 3rem;
        color: rgba($color-primary-red, .7);
        font-size: 1.7rem;
        transition: color 0.2s;
      }

      & a i {
        margin-top: 3rem;
        margin-bottom: 5rem;
        font-size: 1.2rem;
      }

      & h3 {
        margin-bottom: 2rem;
      }

      & p {
        width: 80%;
        margin-bottom: 4rem;

        & a {
          
          &:link,
          &:visited {
            color: rgba($color-primary-red, .7);
            text-decoration: underline;
            transition: color .2s;
          }

          &:hover,
          &:active {
            color: $color-primary-red;
          }
        }
      }

      & img {
        height: 10rem;
        position: relative;
        left: 0;
        align-self: flex-end;
      }
    }
  }
}

/* ===============
    about us
================ */

.about {
  display: flex;
  align-items: center;
  padding: 5rem 0;

  &__image {
    flex: 1;
  }

  &__text {
    text-align: center;
    flex: 1;

    &--sub {
      opacity: .5;
    }

    &--main {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    &--main:after {
      display: block;
      width: 20rem;
      background-color: rgba($color-primary-dark, .2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto;
    }

    &--phrase {
      font-size: initial;
      margin: 0 auto;
      width: 80%;
      padding-top: 3rem;
      line-height: 1.3;
    }
  }

  &--signature {
    margin-top: 3rem;
    height: 5rem;
  }
}

/* ===============
      founder
================ */
.founder {
  display: flex;
  align-items: center;
  background-color: $color-primary-bg2;

  &__text {
    flex: 1;
    padding-left: 6.5rem;

    &--mainHeading {
      margin-bottom: 3rem;
      font-weight: 300;

      &::after {
        display: block;
        position: relative;
        top: 2rem;
        background-color: rgba($color-primary-red, 0.3);
        width: 2rem;
        height: .5rem;
        content: " ";
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
      }
    }

    &--subHeading {
      font-size: .7rem;
      margin-left: 1rem;
      color: $color-black;
      opacity: .5;
    }

    &--paragraph {
      color: $color-black;
      font-size: initial;
      width: 90%;
      margin-bottom: 2rem;

      & a {
        &:link,
        &:visited {
          color: $color-white;
          transition: color .2s;
        }

        &:hover,
        &:active {
          color: $color-black;
          text-decoration: underline;
        }
      }
    }
  }

  &__image {
    flex: 1;
    align-self: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.8)),
      url("/resources/img/founder.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    & a {

      &:link,
      &:visited {
        transition: background-color 1s;
      }

      &:hover,
      &:active {
        background-color: rgba($color-primary-light, .1);
      }
    }

    &--mainHeading {
      font-size: 1.7;
      font-weight: 400;
      color: $color-white;
      padding: 3rem;
      border: .1rem solid $color-white;
      border-radius: .2rem;
    }

    &--subHeading {
      color: $color-white;
      opacity: .5;
      text-transform: uppercase;
      font-size: .5rem;
      font-weight: 400;
      letter-spacing: .05rem;
      margin-right: .5rem;
    }
  }
}

/* ==============
    our numbers
=============== */

.numbers {
  padding: 5rem 0 10rem 0;
  text-align: center;

  &__main--heading {
    margin-bottom: 2rem;

    &::after {
      display: block;
      height: .1rem;
      width: 10rem;
      content: " ";
      background-color: rgba($color-primary-red, .3);
      margin: 0 auto;
      position: relative;
      top: 3rem;
    }
  }

  &__boxes {
    margin: 0 auto;
    width: 60%;
    text-align: center;

    &--digit {
      margin-top: 5rem;
      color: $color-primary-red;
      font-size: 4rem;
      font-weight: 900;
      font-family: "Caveat", cursive;
    }

    &--icon {
      font-size: 1.6;
      margin-right: 2rem;
      color: rgba($color-black, .5);
    }

    &--title {
      font-size: 1.1rem;
      display: inline-block;
    }
  }
}

/* ================
    testimonials
================= */

.testimonials {
  &__header {
    text-align: center;
    background-color: $color-primary-light;
    padding: 10rem 0 15rem 0;

    &--main {
      text-transform: uppercase;
      color: rgba($color-primary-dark, .5);
    }

    &--brand {
      text-transform: none;
      color: $color-primary-red;
      font-size: 1.2rem;
    }

    &--sub {
      font-weight: 300;
      margin-bottom: 4rem;
    }
  }

  &__boxes {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
  }

  &__box {
    width: 30%;
    background-color: $color-white;
    padding-top: 5rem;
    padding-left: 2rem;
    border-radius: .5rem;
    position: relative;
    top: -18rem;
    box-shadow: 0 .5rem .5rem rgba($color-black, .1);

    &--paragraph {
      line-height: 150%;
      margin: 2rem 0;
      width: 80%;
      
      &::before {
        display: block;
        content: "\201C";
        position: absolute;
        top: 5rem;
        color: rgba($color-black, .3);
        font-size: 12rem;
        font-weight: 400;
      }
    }

    &--name {
      font-size: 90%;
      margin-bottom: 2rem;
    }

    &--title,
    &--company {
      display: block;
      font-size: .8rem;
      font-style: italic;
      letter-spacing: .05rem;
      padding-bottom: .5rem;
    }
  }
}

/* ===============================================================
    NEWSLETTER SECTION - still trying to improve this bit :)
================================================================== */

.newsletter {
  background: linear-gradient(rgba($color-black, .8), rgba($color-black, .8)), url('/resources/img/newsletter-bg-min.jpg');
  /* try to compress the background image or remove 'background-size: cover' to remove lag on scroll" */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color-white;
  padding: 15rem 0;

  &__content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--mainHeading {
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 6rem;
      letter-spacing: .1rem;
      word-spacing: .3rem;
    }

    &--subHeading {
      margin: 0 auto;
      color: rgba($color-white, .8);
      font-size: 2.35rem;
      margin-bottom: 2rem;
      word-spacing: .2rem;
    }

    &--email,
    &--btn {
      margin: 1rem 0 2rem;
    }

    &--email {
      font-size: 2rem;
      font-family: inherit;
      width: 60rem;
      text-align: center;
      padding: 2rem 0;
      color: $color-white;
      border: .2rem solid rgba($color-white, .7);
      background-color: rgba($color-black, .1);
      border-radius: 12rem;
      transition: all .2s;
    }

    &--email:hover,
    &--email:active,
    &--email:focus {
      background-color: rgba($color-black, .7);
    }

    &--email::placeholder {
      color: rgba($color-white, .7);
      word-spacing: .3rem;
    }

    &--btn {
      cursor: pointer;
      border-radius: 12rem;
      font-size: 2rem;
      padding: 1.5rem 3rem;
      color: $color-black;
      letter-spacing: .1rem;

      &:active,
      &:hover {
        color: $color-primary-light;
      }
    }
  }
}

/* ==============
      socials
=============== */
.socials {
  margin: 10rem 0 5rem 0;
  padding: 0 3rem;
  text-align: center;

  &--mainHeading {
    margin-bottom: 4.5rem;

    &::after {
      display: block;
      width: 10rem;
      background-color: rgba($color-primary-red, .2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto;
    }
  }

  &__boxes {
    margin: 0 auto;
    width: 60%;
    text-align: center;

    &--box {
      margin-top: 3rem;

      .socials--boxLink:link,
      .socials--boxLink:visited {
        color: rgba($color-primary-red, .7);
        font-size: 2rem;
      }

      .socials--boxIcon {
        font-size: 2rem;
      }
    }
  }
}

/* ================
    contact-us
================ */
.contact {
  display: flex;
  align-items: center;
  padding: 5rem 0 10rem 0;

  &--image {
    flex: 1;
  }

  &--form {
    flex: 1;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
    padding: 5rem 0 5rem 3rem;
    position: relative;
    right: 6.5rem;
    display: flex;
    border-radius: .5rem;

    /* OUR-CONTACTS */
    .form__cards,
    .form__inputs {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.form__cards {

  &--mainHeading {
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1rem;
  }

  &--card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.card {
  &__icon {
    &--container {
      padding: 0 2rem 0 0;
    }

    &--element {
      font-size: 1.4rem;
      color: rgba($color-black, .5);
    }
  }

  &__txt {
    &--title {
      margin-bottom: .5rem;
      text-transform: uppercase;
      font-size: .7rem;
      font-weight: 300;
    }

    &--desc {
      color: rgba($color-black, .5);
      font-size: .7rem;
      width: 80%;
    }
  }
}

/* SEND-US-A-MESSAGE */
.form__inputs {
  margin-right: 7rem;

  &--secondaryHeading {
    word-spacing: .2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 1rem;
  }

  .form__input {
    margin-bottom: 3rem;

    &--label {
      position: relative;
      top: -1rem;
    }

    &--labelHead {
      font-weight: 300;
    }

    &--text,
    &--email,
    &--textArea {
      width: 100%;
      outline: none;
      border: .1rem solid rgba($color-primary-dark, .3);
      color: inherit;
    }

    &--text,
    &--email {
      /* 
      obsolete styles to be deleted
      height: 4.5rem;
      line-height: 4.5rem; 
      padding-left: 2rem; 
      */

      padding: 1.5rem 1rem;
      border-radius: .5rem;
    }

    &--submitBtn {
      position: relative;
      top: -3rem;
      letter-spacing: .05rem;
      cursor: pointer;
    }
  }
}

/* ======================
    landing page footer 
====================== */
.landingFooter {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  
  &__content {
    display: flex;
    padding: 10rem 6rem;
    background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)),
      url("https://images.unsplash.com/photo-1598746666848-01f94f708ebe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color-white;
  }

  /* Developers */
  &__developer {
    text-align: center;
    background-color: $color-black;
    border: none;
    padding: 1rem 0;
    color: rgba($color-white, .5);
  }
}

.footerCard {
  flex: 1;
  margin-right: 2rem;

  &--title {
    margin-bottom: 3rem;
  }

  &__text {
    font-size: initial;

    &--paragraph {
      line-height: 1.5;
      color: $color-primary-light;
      width: 95%;
      margin-bottom: 1rem;
    }

    &--icon {
      margin: 1rem 1rem 0 0;
      font-size: 1.2rem;
      color: $color-primary-light;
    }
  }

  /* recent posts */
  &__post {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 1rem 0;

    &:nth-of-type(even) {
      border-top: 1px solid rgba($color-primary-light, .5);
      border-bottom: 1px solid rgba($color-primary-light, .5);
    }

    &--image,
    &--image2 {
      height: 7.6rem;
      width: 7.6rem;
    }

    &--image {
      border-radius: 50%;
      margin-right: 2rem;
    }

    &--bodySpan {
      color: rgba($color-white, .5);
      font-size: .7rem;
    }

    &--bodyTitle {
      font-size: .7rem;
      font-weight: 300;
    }
  }
}

/* ============================================================= 
                      BLOG APP STYLES
============================================================== */
@keyframes headerSlideUp {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

/* Hero section */
.hero,
.heroTwo,
.hero-l {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
  /* fixing hero div to NOT scroll with the showcase div */
  position: sticky;
  top: 0;
  color: $color-white;
  overflow: hidden;
}

/* Index hero(left side) section */
.hero {
  background: linear-gradient(rgba($color-black, .2), rgba($color-black, .8)),
  url("https://images.unsplash.com/photo-1569437061238-3cf61084f487?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* 
  use this as a mixin/extend cuz i'm gonna do the same thing with heroTwo__header too
  margin-top will be a variable to cater for the difference
  */
  &__header {
    width: 100%;
    text-align: center;
    margin-top: 55vh;
    font-size: .8rem;
    position: relative;
    bottom: -5rem;
    opacity: 0;
    backface-visibility: hidden;
    animation: headerSlideUp 1.5s linear 2s forwards;
    display: flex;
    flex-direction: column;

    &--image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      border: 8px solid rgba($color-primary-red, .2);
    }
  }

  &__body {
    &--mainTitle {
      font-size: 1.2rem;
      font-weight: 400;
    }

    &--desc {
      font-weight: 300;
      text-align: center;
      font-size: 1.2rem;
      width: 70%;
      margin: auto;
      margin-top: 1rem;
    }

    &--link:link,
    &--link:visited {
      padding: 1rem;
      font-size: 2rem;
      color: $color-primary-light;
    }
  }
}

.heroTwo__headerTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */
  width: 80%;
  margin: 65vh auto;
  font-size: .8rem;
  position: relative;
  /* for Pop up animation */
  bottom: -5rem;
  opacity: 0;
  backface-visibility: hidden;
  animation: headerSlideUp 1.5s linear 2s forwards;
  display: flex;
  flex-direction: column;

  &--mainTitle {
    font-size: 1rem;
    font-weight: 400;
    width: 70%;
  }
}

.heroTwo__body {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  &--cardImage {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 8px solid rgba($color-primary-red, .2);
  }

  &--cardText {
    font-size: 1rem;
    padding: .5rem 1rem;
    position: relative;
    top: -1rem;
    width: 70%;
  }

  &--cardTitle {
    margin-bottom: .5rem;
  }

  &--cardDate {
    color: rgba($color-primary-light, .5);
    margin-left: .2rem;
  }
}

/* ===================
    Showcase section
==================== */
@keyframes slideLeft {
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes textLeftRight {
  80% {
    left: 1rem;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes btnSlideDown {
  100% {
    opacity: 1;
    top: 0;
  }
}

.showcase {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */

  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__writers {
    width: 80%;
    height: 50rem;
    background-image: linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)),
      url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    opacity: 0;
    position: relative;
    right: -25rem;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    animation: slideLeft 2s 1 0s forwards;

    &Container {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      flex-basis: 90%;
      opacity: 0;
      position: relative;
      left: -25rem;
      background-color: $color-white;
      padding-left: 0;
      animation: textLeftRight 2s ease-out 0s 1 forwards;

      &--title {
        font-size: 1.2rem;
        font-weight: 400;
      }

      &--paragraph {
        margin-bottom: 3rem;
      }

      &--link {
        font-size: .65rem;
        padding: 1rem 2rem;
        position: relative;
        top: -1.5rem;
        opacity: 0;
        animation: btnSlideDown 1s linear 2s 1 forwards;
        backface-visibility: hidden;
      }

      &--mainLink:link,
      &--mainLink:visited {
        opacity: .8;
        color: $color-black;
      }
    }

    &--empty {
      flex-basis: 15%;
    }
  }

  @keyframes smallSlideRight {
    50% {
      margin-top: 3rem;
    }

    70% {
      opacity: 0;
      left: -1.5rem;
    }

    100% {
      margin-top: 3rem;
      left: 0;
      opacity: 1;
    }
  }

  /* Separator Section */
  &__separator {
    align-self: flex-end;
    margin-right: 10%;
    position: relative;
    left: -5rem;
    opacity: 0;
    animation: smallSlideRight 2.5s linear 2s 1 forwards;
    backface-visibility: hidden;

    &--title {
      font-weight: 300;
      font-size: .75rem;
    }
  }

  &Boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
    /* using the same padding as on the .wrapper class. Can make it into a mixin */
    padding-bottom: 10rem;

    &__box {
      position: relative;
      width: 100%;
      height: 20rem;
      margin-top: 1rem;
      overflow: hidden;
      border-radius: .5rem;

      &--linkImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        transform: scale(1);
        transition: .3s ease-in-out;
      }

      &--linkImage:hover {
        filter: grayscale(.5);
        transform: scale(1.1);
      }
    }
  }

  /* Index footer */
  &__footer {
    /* 
    this code should be a mixin/extend cuz its the same as showcase footer the second one just a few lines down 
    */

    height: 12rem;
    padding: 5rem;
    padding-left: 0;
    background: rgba($color-primary-red, .7);
    color: $color-primary-light;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    &--paragraph {
      width: 100%;
      text-align: center;
    }
  }
}

/* 
showcaseCard is the top div nested within showcasesBoxes__box fixed to the top 
contains blog author name, blog date and tag
*/
.showcaseCard {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem;
  padding-top: 1rem;
  padding-left: 2rem;
  background-image: linear-gradient(to bottom, rgba(10, 0, 0, .6), rgba(27, 29, 32, .5), rgba(5, 30, 54, .4), rgba(15, 36, 56, .3), rgba(7, 40, 73, 0));
  border-radius: .5rem;

  &__author {
    display: flex;
    flex-basis: 100%;

    &--image {
      height: 6rem;
      width: 6rem;
      border-radius: .5rem;
    }
  }

  &__text {
    font-weight: 300;
    color: $color-white;
    margin-left: 2rem;
    margin-top: 1rem;

    &--title {
      font-size: .75rem;
      margin-bottom: .2rem;
    }

    &--paragraph {
      font-size: .7rem;
      color: rgba($color-primary-light, .7);
      font-family: 'Caveat', cursive;
    }
  }

  &__tag {
    flex: 1;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;

    &--link {
      &:link,
      &:visited {
        font-size: .9rem;
        color: $color-primary-light;
        padding: .5rem 1.6rem;
        border-radius: 1.5rem;
      }

      &:active,
      &:hover {
        color: $color-white;
        transition: color .2s;
      }
    }
  }
}

.showcaseText {
  width: 100%;

  &__head {
    &--title {
      margin-bottom: .5rem;
      width: 85%;

      &Link {
        &:link,
        &:visited {
          color: $color-black;
          font-weight: 400;
          font-size: .85rem;
        }

        &:active,
        &:hover {
          color: rgba($color-black, .5);
          transition: color .2s;
        }
      }
    }
  }

  &__paragraph {
    font-size: .8rem;
    line-height: 1.2;
  }

  &__link {
    margin-top: 1rem;
    font-size: .8rem;
    margin-bottom: 3.5rem;
    transition: all .2s;

    &--anchorTag {
      &:link,
      &:visited {
        color: rgba($color-black, .5);
        border-bottom: .1rem solid rgba($color-black, .5);
      }

      &:active,
      &:hover {
        color: $color-black;
        transition: color .2s;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: .1rem;
    background-color: rgba($color-black, .1);
  }
}

/* ===============================================
                SHOW ROUTE
================================================ */

@keyframes admenuLeft {
  100% {
    opacity: 1;
    right: 0;
  }
}

.showcaseTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */

  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & a:link,
  & a:visited {
    color: rgba($color-black, .5);
    text-decoration: underline;
  }

  & a:active,
  & a:hover {
    color: $color-black;
  }

  &__admin {
    list-style: none;
    display: flex;
    flex-direction: column;

    position: fixed;
    right: -2.5rem;
    top: 40%;
    opacity: 0;
    transform: translate(-40%);
    animation: admenuLeft 1s linear 3s forwards;

    &--li {
      padding: 1rem .5rem;

      &:last-of-type {
        border-bottom: .1rem solid transparent;
      }
    }

    &--link {
      transition: all 0.5s;

      &:link,
      &:visited {
        color: $color-primary-brown;
      }

      &:active,
      &:hover {
        color: $color-secondary-brown;
      }

      /* showing tooltip on li item hover */
      &:hover .showcaseTwo__admin--tooltip,
      &:active .showcaseTwo__admin--tooltip {
        visibility: visible;
      }
    }

    &--tooltip {
      visibility: hidden;
      width: 6rem;
      color: $color-black;
      text-align: center;
      border-radius: 1.5rem;
      padding: .5rem 0;
      font-size: .7rem;

      /*Positioning the tooltip*/
      position: absolute;
      z-index: 1;
      right: 105%;
    }

    &--i {
      font-size: .7rem;
    }

    &--button {
      display: inline-block;
      border: none;
      font-size: .7rem;
      margin: 0;
      text-decoration: none;
      color: rgba($color-primary-bg2, .5);
      font-family: sans-serif;
      cursor: pointer;
      text-align: center;
      transition: color 0.5s;
    }

    &--button:hover,
    &--button:active {
      color: $color-primary-red;
    }
  }

  .blog {
    padding-top: 3rem;
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* this can be a mixin/extend. using the same padding on showcaseBoxes */
    padding-bottom: 10rem;
  }
}
/* ====================
    Blog show section 
======================= */
@keyframes mainHeadingSlideDown {
  0% {
    font-weight: 500;
  }

  95% {
    font-weight: 500;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes smallPop {
  90% {
    color: rgba($color-black, .8);
    transform: scale(1.03);
  }

  100% {
    color: rgba($color-black, .3);
    transform: scale(1);
  }
}

.blog__heading {
  width: 65%;
  margin: 0 auto;
  text-align: center;

  &--mainHeading {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    position: relative;
    top: -2.5rem;
    opacity: 0;
    animation: mainHeadingSlideDown 1s linear 0s forwards;
    
    &:after {
      display: block;
      height: .1rem;
      background-color: rgba($color-primary-light, .5);
      content: " ";
      width: 20rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }

  &--paragraph {
    color: rgba($color-black, .3);
    font-size: .8rem;
    animation: smallPop 1s linear 2s forwards;
    transform: scale(1);

    &:after {
      display: block;
      height: .1rem;
      content: " ";
      background-color: rgba($color-primary-light, .5);
      width: 20rem;
      margin-top: 2rem;
      margin: 0 auto;
    }
  }
}

/*
 try to find a way to pattern bem naming for blog body elements after the blog__body style 
 starting from here next time
 rest up me brudda :)
*/

.blog__body {
  width: 90%;
  margin: 0 auto;
}

.blog p {
  margin-bottom: 20px;
  line-height: 135%;
  font-size: .8rem;
}

.text-wrap {
  white-space: pre-wrap;
}

.section-one {
  margin-top: 3rem;
}

.section-two h3 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.section-two p:nth-of-type(2) {
  border-left: .2rem solid $color-primary-red;
  padding: 1rem;
  line-height: 1.45rem;
  word-spacing: .5rem;
}

.section-three h4 {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

.section-three .text-wrap {
  padding: 1rem 2rem;
}

.section-three h5 {
  font-size: .95rem;
  margin-bottom: .5rem;
}

.section-three img {
  width: 100%;
  height: 30rem;
}

.section-three p:last-of-type {
  margin-top: 2rem;
}

.section-four h6 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.new-comment-form {
  margin-bottom: 3rem;
}

/********* Show-backlinks section *************/

.show-backlinks h3 {
  font-size: 1.1rem;
  margin-top: 5rem;
  margin-bottom: .5rem;
  border-top: .2rem solid rgba($color-primary-light, .5);
  padding-top: 2rem;
}

.show-backlinks p {
  margin-left: .2rem;
  color: rgba($color-black, .5);
  font-size: .9rem;
  border-bottom: .2rem solid rgba($color-primary-light, .5);
  padding-bottom: 3rem;
}

.show-backlinks p a {
  font-size: 1.1rem;
  margin-left: .5rem;
  font-weight: 400;
}

.show-backlinks p .green {
  color: $color-success;
  text-decoration: none;
}

.show-backlinks p .yellow {
  color: $color-primary-brown;
  text-decoration: none;
}

.show-backlinks p .purple {
  color: $color-primary-dark;
  text-decoration: none;
}

.show-backlinks p .red {
  color: $color-primary-red;
  text-decoration: none;
}

/********* backlinks-cards *****************/
.backlinks-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.backlinks-card {
  flex-basis: 49%;
  margin-bottom: 3rem;
}

/********** card header *******/
.backlinks-header {
  position: relative;
  overflow: hidden;
}

.backlinks-header a img {
  width: 100%;
  height: 12.5rem;
  border-radius: .3rem;
  scale: 1;
  opacity: .7;
  transform: scale(1);
  transition: .3s ease-in-out;
}

.backlinks-header a img:active,
.backlinks-header a img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.tag-links a:link,
.tag-links a:visited {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: .7rem;
  padding: 5px 2rem;
  color: $color-white;
  border-radius: 3rem;
}

.backlinks-header .green:link,
.backlinks-header .green:visited {
  background-color: $color-success;
  text-decoration: none;
}

.backlinks-header .yellow:link,
.backlinks-header .yellow:visited {
  background-color: $color-primary-brown;
  text-decoration: none;
}

.backlinks-header .purple:link,
.backlinks-header .purple:visited {
  background-color: $color-primary-dark;
  text-decoration: none;
}

.backlinks-header .red:link,
.backlinks-header .red:visited {
  background-color: $color-primary-red;
  text-decoration: none;
}

/******** card-body ***********/

.backlinks-body h4 {
  width: 85%;
  margin-bottom: 1rem;
  font-size: .9rem;
  letter-spacing: .01rem;
}

.backlinks-body h4 a:link,
.backlinks-body h4 a:visited {
  color: $color-black;
  text-decoration: none;
}

.backlinks-body h4 a:active,
.backlinks-body h4 a:hover {
  color: rgba($color-black, .7);
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
}

.backlinks-body p {
  border: 0;
  padding: 0;
  margin-bottom: .5rem;
  color: rgba($color-black, .7);
  font-size: .7rem;
  width: 100%;
}

.backlinks-body a {
  font-size: .7rem;
  margin-left: .2rem;
}



.showcaseTwo footer p {
  width: 100%;
  text-align: center;
}

.showcaseTwo footer a {
  color: $color-black;
  text-decoration: underline;
}

.showcaseTwo footer {
  /* 
  this code should be a mixin/extend cuz its the same as showcase footer the first one just a few lines up 
  */

  height: 12rem;
  padding: 5rem;
  padding-left: 0;
  background: rgba($color-primary-red, .7);
  color: $color-primary-light;
  font-size: .8rem;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ===============================================
                NEW ROUTE
================================================ */

.wrapper {
  padding: 4rem 2rem;
}

/* navbar */
.menu .left-menu {
  float: left;
}

.menu .right-menu {
  float: right;
}

.menu li {
  list-style: none;
}

.menu a {
  color: $color-primary-dark;
}

/************************** content boxes **************************/

.content-inputs,
.content-text {
  padding: 0 2rem;
}

.content-boxes {
  width: 70%;
  margin: 0 auto;
}

.content-boxes .row {
  margin-top: 6rem;
}

.content-inputs {
  flex: 1;
}

.content-text {
  flex: 1;
}

.content-boxes h1 {
  text-align: center;
  font-size: 2.5;
  font-weight: 300;
}

.content-boxes h1:after {
  display: block;
  height: .1rem;
  background-color: $color-primary-red;
  content: " ";
  width: 10rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.content-boxes input,
label {
  display: block;
}

/* ================
  new route images
================= */

.after::after {
  display: block;
  content: " ";
  margin: 0 auto;
  width: 30rem;
  height: .1rem;
  margin-top: 5rem;
  background-color: rgba($color-primary-red, .1);
}

.last {
  margin-bottom: 5rem;
}

.s0,
.s1,
.s2,
.s3,
.s4 {
  padding-left: 3rem;
}

.s0 img,
.s1 img,
.s2 img,
.s3 img,
.s4 img {
  padding: 3rem 0 2rem 0;
}

.s1 img {
  height: 50rem;
}

.s2 img {
  height: 35rem;
}

.s4 img {
  height: 40rem;
  margin-left: 10rem;
}

/******************** content-inputs ********************/
.comment .login,
.comment .content-inputs {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

*:focus {
  outline: none;
}

.comments-input .content-inputs {
  margin-top: 4rem;
}

.content-inputs {
  border-radius: 1rem;
  box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
}

.content-inputs h2 {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: $color-primary-red;
}

.content-inputs .left,
.right {
  width: 48%;
}

.content-inputs input[type="text"],
textarea,
.auth input[type="password"] {
  width: 100%;
  margin-bottom: 2rem;
  border: .1rem dashed rgba($color-black, .3);
  font-family: inherit;
  font-weight: 300;
  border-radius: .5rem;
}

.content-inputs input[type="text"],
.auth input[type="password"] {
  height: 8rem;
  font-size: .7rem;
  padding: 1rem;
}

.content-boxes input[type="submit"],
.comment .content-inputs form div.box-content input[type="submit"],
.comments-input input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  text-transform: none;
  display: inline-block;
  font-family: inherit;
}

.comments-input input[type="submit"] {
  margin-top: .5rem;
}

/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $color-primary-light;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 50%;
  height: 50px;
  line-height: 3;
  background: $color-primary-light;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: $color-black;
  cursor: pointer;
  font-size: 85%;
  font-weight: 300;
  background: $color-primary-light;
  font-family: inherit;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  color: rgba($color-primary-red, .7);
  background-color: $color-primary-light;
  cursor: pointer;
  pointer-events: none;
  transition: .5s all ease;
}

/* Transition */
.select:hover::after {
  color: $color-black;
  background: $color-primary-light;
}

/* input styles */
.box-content {
  position: relative;
}

.box-content label {
  position: absolute;
  text-transform: uppercase;
  padding: 1.2rem;
  font-size: .55rem;
  font-weight: bolder;
}

.box-content ::placeholder {
  text-transform: uppercase;
}

textarea {
  padding-top: 4rem;
  padding-left: 1rem;
  resize: vertical;
}

/* ==============================
  styles for new comment div only
================================ */
.new-comment {
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

/********************** content-text ************************/
.content-text h2 {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 3rem;
}

.content-text p {
  margin-top: 2rem;
  font-size: .8rem;
  line-height: 1.35;
}

div.content-text p a:link,
div.content-text p a:visited {
  /* this can be a mixin/extend cuz i'm using the same two rules on showcaseTwo anchor tags */

  color: rgba($color-black, .5);
  text-decoration: underline;
}

/* ===============================================
                COMMENT ROUTE
  most of comment route styles acquired from https://codepen.io/Creaticode/pen/ijExL
================================================ */

/** ====================
 * Show comments
 =======================*/
.comment-section {
  list-style: none;
  max-width: 80rem;
  width: 100%;
  margin: 5rem auto;
  padding: 1rem;
}

.comment-section h3 {
  text-align: center;
  margin-bottom: 2rem;
}

.comment {
  display: flex;
  border-radius: .3rem;
  margin-bottom: 4.5rem;
  flex-wrap: wrap;
}

.comment.user-comment {
  color: #808080;
}

.comment.author-comment {
  color: #60686d;
  justify-content: flex-end;
}

/* User and time info */

.comment .info {
  width: 17%;
}

.comment.user-comment .info {
  text-align: right;
  margin-left: .5rem;
}

.comment.author-comment .info {
  order: 3;
  margin-right: .5rem;
}


.comment .info a {
  /* User name */
  display: block;
  text-decoration: none;
  color: #656c71;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0 .3rem 0;
  font-size: .75rem;
}

.comment .info span {
  /* Time */
  font-size: 1.1rem;
  color: #9ca7af;
}


/* The user avatar */

.comment .avatar {
  width: 8%;
}

.comment.user-comment .avatar {
  padding: 1rem 1.8rem 0 .3rem;
}

.comment.author-comment .avatar {
  order: 2;
  padding: 1rem .3rem 0 1.8rem;
}

.comment .avatar img {
  display: block;
  border-radius: 50%;
}

.comment.user-comment .avatar img {
  float: right;
}

/* The comment text */

.comment p {
  line-height: 1.5;
  padding: 1.8rem 2.2rem;
  width: 50%;
  position: relative;
  word-wrap: break-word;
}

.comment.user-comment p {
  background-color: #f3f3f3;
}

.comment.author-comment p {
  background-color: #e2f8ff;
  order: 1;
}

.user-comment p:after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: .2rem solid #f3f3f3;
  left: -.8rem;
  top: 1.8rem;
}

.author-comment p:after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: .2rem solid #e2f8ff;
  right: -.8rem;
  top: 1.8rem;
}

/* Comment form */

.write-new {
  margin: 8rem auto 0;
  width: 50%;
}

.write-new textarea {
  color: #444;
  font: inherit;

  outline: 0;
  border-radius: .3rem;
  border: .1rem solid #cecece;
  background-color: #fefefe;
  box-shadow: .1rem .2rem .1rem 0 rgba($color-black, .1);
  overflow: auto;

  width: 100%;
  min-height: 8rem;
  padding: 1.5rem 2rem;
  font-size: .6rem;
}

.write-new img {
  border-radius: 50%;
  margin-top: 1.5rem;
}

.write-new button {
  float: right;
  background-color: #87bae1;
  box-shadow: .1rem .2rem .1rem .0 rgba($color-black, .1);
  border-radius: .2rem;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;

  padding: 1rem 2.5rem;
  margin-top: 1.8rem;
}

/* Responsive styles */

@media (max-width: 800px) {

  /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
  .comment p {
    width: 100%;
    margin-bottom: 0;
    font-size: .65rem;
  }

  /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
  .comment.user-comment .info {
    order: 3;
    text-align: left;
  }

  .comment.user-comment .avatar {
    order: 2;
  }

  .comment.user-comment p {
    order: 1;
  }


  /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
  .comment.author-comment {
    justify-content: flex-start;
  }


  .comment-section {
    margin-top: 1rem;
  }

  .comment .info {
    width: auto;
  }

  .comment .info a {
    padding-top: 1.5rem;
    font-size: .6rem;
    padding-bottom: 0;
  }

  .comment.user-comment .avatar,
  .comment.author-comment .avatar {
    padding: 1.5rem 1rem 0 1.8rem;
    width: auto;
  }

  .comment.user-comment p:after,
  .comment.author-comment p:after {
    width: 1.2rem;
    height: 1.2rem;
    top: initial;
    left: 2.8rem;
    bottom: -.6rem;
  }

  .write-new {
    width: 100%;
  }
}

/** =====================
  * Auth Routes
======================= */

.auth h5 {
  margin-top: 2rem;
  font-size: .7rem;
  margin-bottom: .5rem;
}

div.box-content.auth h5 a:link,
div.box-content.auth h5 a:visited {
  color: rgb(172, 165, 165);
}

div.box-content.auth h5 a:active,
div.box-content.auth h5 a:hover {
  color: #555;
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
}

/* ============================
      PROJECTS APP STYLES
============================ */

.projects {
  background-color: $color-primary-light;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-container {
  background-color: $color-white;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-container .logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 6rem;
}

.logo-box {
  list-style-type: none;
}

.projects-container .content {
  margin: 3rem 6rem;
  display: flex;
  align-items: center;
}

.content .text-box {
  flex: 1 1 50%;
  min-width: 50%;
}

.content .image-box {
  flex: 2 2 50%;
}

.text-box h1 {
  font-size: 110%;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.text-box span {
  display: inline-block;
  font-size: .7rem;
  margin-bottom: 1.5rem;
}

.projects-email {
  display: flex;
}

.projects-email h5 {
  font-weight: 300;
}

.projects-email input[type="email"] {
  /* removing borders from email input */
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;

  background-color: $color-white;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  width: 16rem;
}

.projects-email input[type="email"]::placeholder {
  text-align: center;
}

.text-box .btn {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.small-socials {
  display: flex;
  margin-top: 2.5rem;
}

.small-socials a:link,
.small-socials a:visited {
  color: $color-black;
  text-decoration: none;
  padding-right: 1rem;
}

.image-box {
  width: 50%;
  overflow: hidden;
  height: 65vh;
  background-image: linear-gradient(rgba(20, 30, 48, .5), rgba(20, 30, 48, .5)),
    url("https://images.unsplash.com/photo-1529088363398-8efc64a0eb95?ixlib=rb-1.2.1&auto=format&fit=crop&w=848&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects-container .contacts {
  display: flex;
  margin: 0 6rem;
  align-items: center;
  justify-content: space-between;
  font-size: .65rem;
}

.contact-card {
  display: flex;
}

.contact-card .card-primary {
  position: relative;
}

.contact-card .card-primary h4 {
  font-weight: 300;
  margin-right: .5rem;
}

/* Drawing a line after a heading */
.contact-card .card-primary h4::after {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: .1rem;
  background-color: $color-black;
  position: absolute;
  left: 105%;
  bottom: 75%;
}

.contact-card .card-secondary {
  margin-left: 4rem;
}

.projects-container .footer {
  background-color: #111;
  color: #555;
  text-align: center;
  padding: 1rem 0;
}