/* ===========================================
              UIVERSAL STYLES
=============================================*/
$color-primary-dark: #432344;
$color-primary-light: #f9f9f9;
$color-primary-red: #FF2525;
$color-primary-brown: #FFC03D;
$color-secondary-brown: #cf920d;
$color-background-light: rgb(255, 230, 226);

$color-white: #FFF;
$color-black: #100c08;
$color-grey: #8C92AC;

$color-instagram: #EE1092;
$color-twitter: #0764F7;
$color-github: #333;
$color-reddit: #FF5700;
$color-youtube: #c4302b;

$color-success: #16A085;
$color-error: #FF3F34;

$color-bg1: rgb(255, 30, 48);
$color-bg2: rgb(255, 59, 85);
$color-bg3: #EEEEEE;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $color-white;
  color: $color-black;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $color-primary-light;
  background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* =====================================
            REUSABLE CODE
======================================= */

.container {
  display: flex;
}

.section__heading {
  font-size: 3rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: $color-white;
}

/* Clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.fab {
  transition: all .2s;
}

.fa-instagram:active,
.fa-instagram:hover {
  color: $color-instagram;
  transition: color 0.2s;
}

.fa-twitter:active,
.fa-twitter:hover {
  color: $color-twitter;
  transition: color 0.2s;
}

.fa-github:active,
.fa-github:hover {
  color: $color-github;
}

.fa-reddit:active,
.fa-reddit:hover {
  color: $color-reddit;
  transition: color .2s;
}

.fa-youtube:active,
.fa-youtube:hover {
  color: $color-youtube;
}

/* ================= 
    flash messages
================== */
.flash {
  width: 100%;
  font-size: 90%;
  font-weight: 400;
}

.success-flash,
.error-flash {
  padding: .5rem;
  width: 100%;
}

.success-flash {
  background: rgba($color-success, .5);
  color: $color-primary-dark;
}

.error-flash {
  background: rgba($color-error, .5);
  color: $color-primary-dark;
}

/* body button */
.btn {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

/* body button prefered call to action selection */
.btn-full {
  background-color: $color-primary-brown;
  border: 1px solid $color-primary-brown;
  color: $color-black;
  font-weight: 400;
  box-shadow: .5rem 1.5rem 1.5rem -1.5rem rgba($color-black, .9);
  transition: all .2s;
}

/* body button alternative call to action selection */
.btn-ghost {
  background-color: transparent;
  border: .1rem solid $color-secondary-brown;
  color: $color-secondary-brown;
  box-shadow: .5rem 1.2rem 1.5rem -1.5rem rgba($color-black, .3)
}

.btn-full:hover {
  background-color: $color-secondary-brown;
  border-color: $color-secondary-brown;
  transform: translateY(-3px);
  box-shadow: .2rem .6rem 1rem -.75rem rgba($color-black, .5);
  color: $color-white;
}

.btn-full:active {
  transform: translateY(-1px);
  box-shadow: .1rem .3rem .5rem -.75rem rgba($color-black, .1);
}

.btn-ghost:hover,
.btn-ghost:active {
  box-shadow: .5rem 1.2rem 1.5rem -1.5rem rgba($color-black, .1);
  color: $color-black;
  background-color: $color-primary-brown;
  border-color: $color-primary-brown;
}

.italic {
  font-style: italic;
}

.text-wrap {
  white-space: pre-wrap;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

/* ============================================================= 
                        LANDING PAGE
============================================================== */

#menuIcon,
.menu-icon {
  position: fixed;
  font-size: 2.5rem;
  left: 3.5rem;
  top: 6rem;
  cursor: pointer;
  z-index: 1;
  color: $color-grey;
}

.l-container .landing--menu {
  animation: 2s menuFadeIn 3s forwards;
  opacity: 0;
}

.landing--menu {
  opacity: 1;
}

@keyframes menuFadeIn {
  100% {
    opacity: 1;
  }
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: $color-primary-brown;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.menu-content a:link,
.menu-content a:visited {
  padding: 1.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: $color-black;
  display: block;
  font-weight: 400;
}

.menu-content a:active,
.menu-content a:hover {
  background-color: $color-secondary-brown;
  transition: .3s ease-in-out;
}

.menu-container .closebtn {
  position: absolute;
  top: 6rem;
  right: 4.8rem;
  font-size: 3rem;
  color: $color-white;
  z-index: 1;
  cursor: pointer;
}

.landing-section {
  overflow: hidden;
}

.brand {
  color: $color-primary-red;
  font-weight: 400;
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
}

.caveat {
  font-family: 'Caveat', cursive;
}

/* Blog tag colors */
.green {
  background-color: $color-success;
}

.yellow {
  background-color: $color-secondary-brown;
}

.purple {
  background-color: $color-primary-dark;
}

.red {
  background-color: $color-primary-red;
}

/* ====================
  landing page styles
===================== */

/* ===============
  greeting styles 
================= */

@keyframes navFade {
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.jiggle {
  animation-name: jiggle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 10s;
}

@keyframes jiggle {

  48%,
  62% {
    transform: scale(1.0, 1.0)
  }

  50% {
    transform: scale(1.1, 0.9)
  }

  56% {
    transform: scale(0.9, 1.1) translate(0, -.5rem)
  }

  59% {
    transform: scale(1.0, 1.0) translate(0, -.3rem)
  }
}

  /* Boxes animations */
@keyframes h1slideRight {
  50% {
    opacity: 1;
    left: 0;
    padding-left: 0;
  }

  100% {
    border-left: .5rem solid $color-primary-red;
    padding-left: 2rem;
    opacity: 1;
    left: 0;
  }
}

  @keyframes spanSlideRight {
    100% {
      opacity: 0.6;
      margin-left: 0;
    }
  }

  @keyframes btnSlideDown {
    100% {
      opacity: 1;
      top: 0;
    }
  }

@keyframes imgSlideLeft {
  100% {
    opacity: 1;
    right: 0;
  }
}

.greeting {
  min-height: 100vh;
  width: 100%;

  &__nav {
    display: flex;
    list-style: none;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 4rem 3rem 1rem;
    animation: 1s navFade .5s forwards;
    opacity: 0;
    margin-top: -10rem;
    border-bottom: .1rem dashed rgba($color-black, .1);

    &--brand {
      flex: 1;
      font-size: 4rem;
      font-family: 'Caveat', cursive;
      color: $color-black;
    }

    &--items {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        padding: 1rem;

        a {

          &:link,
          &:visited {
            color: $color-black;
            font-weight: 400;
            font-size: 2rem;
            transition: border-bottom .2s, color .2s;
            margin-right: 2rem;
          }

          &.nav--item {

            &:hover,
            &:active {
              color: rgba($color-black, .8);
              padding-bottom: .5rem;
              border-bottom: .3rem solid $color-primary-red;
            }
          }

          &.btn-ghost {
            border: .1rem solid $color-black;

            &:link,
            &:visited {
              /* color: $color-black; */
              font-weight: 400;
            }

            &:hover,
            &:active {
              color: $color-black;
            }
          }

          &.jiggle {
            margin: 0;
            position: relative;
            left: 0;
            text-transform: none;
            margin-left: 1rem;
            font-weight: 300;
          }
        }
      }
    }
  }

  &__box {
    margin: 10vh 2rem 3rem 8rem;

    &--heading {
      font-size: 10rem;
      font-weight: 300;
      padding-left: 3rem;
      border-left: .2rem solid $color-primary-red;

      &Link {
        color: $color-black;
        font-weight: 400;
        display: inline-block;
        border-bottom: .1rem solid rgba($color-black, .3);
        
        &:after {
          display:block;
          content: '';
          /* width: 2rem;
          position: relative; */

          border-bottom: solid .3rem $color-black;  
          transform: scaleX(0);  
          transition: transform 250ms ease-in-out;
          transform-origin:  0% 50%;
        }

        &:hover:after {
          transform: scaleX(1);
        }
      }
    }

    .btn-ghost {
      position: relative;
      font-size: 3rem;
      top: -1.5rem;
      opacity: 0;
      animation: 1s btnSlideDown 3s ease-in forwards;
      background-color: $color-primary-light;
      color: $color-black;
      border: .1rem solid $color-black;
      margin-top: 4rem;

      /* Blink and expand/shrink effect on landing page main cta button */
      &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        background-color: $color-primary-light;
        transition: all .4s;
        z-index: -1;
      }

      /* animating the ::after element we created above, on .greeting__box .btn-full hover */
      &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        background-color: $color-primary-brown;
        opacity: 0;
      }

      & i {
        margin-right: 1rem;
      }
    }

  }
}

/*===================*/
.intro {
  background-color: $color-primary-light;

  /* larger nested container */
  &__container {
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    width: 90%;
    background-color: $color-white;
    padding: 10rem 0;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
    position: relative;
    top: -2rem;

    &--heading {
      font-size: 2rem;
      margin: 2rem 0;
    }

    &--paragraph {
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      width: 80%;

      &Link {
        &:link,
        &:visited {
          color: $color-black;
          text-decoration: underline;
          text-decoration-color: $color-primary-red;
          text-decoration-thickness: .2rem;
        }

        &:active,
        &:hover {
          opacity: .7;
        }
      }
    }

    &--image {
      height: 15rem;
    }

    &--btn {
      margin-top: 1.5rem;

      &Two {
        display: none;
      }
    }

    /* smaller nested containers */
    &--about {
      flex: 1;
    }

    &--give {
      flex: 1;

      .intro__container--btnTwo  {
        text-decoration: none;
      }
    }

    &--receive {
      flex: 1;
    }

    &--about,
    &--give,
    &--receive {
      padding: 0 2rem 0 3rem;
    }
  }
}

/* ==============
    features
=============== */

.features {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10rem;

  &__head {
    margin: 12rem 0 5rem 0;
    text-align: center;
  }

  &__head--paragraph {
    font-size: 1.3rem;
    font-weight: 400;
    opacity: .5;
  }

  &__boxes {
    display: flex;
    justify-content: space-between;

    &--box {
      flex-basis: 32%;
      padding: 3rem 3rem;
      border-radius: .5rem;
      background-color: $color-white;
      box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
      display: flex;
      flex-direction: column;
      transition: all .5s;
      transform: scale(1);

      &:hover,
      &:active {
        transform: scale(1.02);
      }

      &Link:link,
      &Link:visited {
        width: 3rem;
        color: rgba($color-primary-red, .7);
        font-size: 1.7rem;
        transition: color 0.2s;
      }

      &Icon {
        margin-top: 3rem;
        margin-bottom: 4rem;
        font-size: 3rem;
      }

      &Heading {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      &Paragraph {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 5rem;
      }

      .projects__link {
        &:link,
        &:visited {
          color: rgba($color-primary-red, .7);
          text-decoration: underline;
          transition: color .2s;
        }

        &:hover,
        &:active {
          color: $color-primary-red;
        }
      }

      &Image {
        height: 10rem;
        position: relative;
        left: 0;
        align-self: flex-end;
      }
    }
  }
}

/* ===============
    about us
================ */

.about {
  display: flex;
  align-items: center;
  padding: 5rem 0;


  &__image {
    flex: 1;
  }

  &__text {
    text-align: center;
    flex: 1;

    &--sub {
      display: inline-block;
      font-weight: 400;
      font-size: 1.1rem;
      padding: .7rem;
      color: $color-black;
      background-color: $color-primary-brown;
      clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%);
    }

    &--main {
      margin-top: 1rem;
      margin-bottom: 3rem;
    }

    &--main:after {
      display: block;
      width: 20rem;
      background-color: rgba($color-primary-dark, .2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto;
    }

    &--phrase {
      font-size: 2rem;
      margin: 0 auto;
      width: 80%;
      padding-top: 3rem;
      line-height: 1.3;
    }

    &--btn {
      margin-top: 3rem;
    }
  }
}



/* ==============
    services
=============== */

.services {

  &__head {
    padding: 20rem 0 20rem 10rem;

    &--title {
      font-size: 5rem;
      letter-spacing: .1rem;
      word-spacing: .1rem;
    }
  }

  &__boxes {
    width: 100vw;
  }
}

.servicesBox {
  display: flex;
  align-items: center;

  &__text {
    flex-basis: 40%;
    padding: 10rem 10rem;

    &--headSmall {
      text-transform: uppercase;
      font-size: 1.2rem;
      letter-spacing: .1rem;
    
      &::before {
        display: block;
        content: "";
        position: relative;
        bottom: .8rem;
        width: 1rem;
        height: .1rem;
        background-color: $color-black;
        font-weight: 400;
      }
    }
    
    &--headBig {
      font-size: 6rem;
      margin: 5rem 0;
    }
    
    &--paragraph {
      font-size: 1.5rem;
      letter-spacing: .1rem;
      word-spacing: .1rem;
      margin-bottom: 2rem;
      width: 87%;
    }
    
    &--paragraphLast {
      margin-bottom: 5rem;
    }
  }

  &__image {
    flex-basis: 60%;
  
    &--img  {
      width: 100%;
      
      &One {
        height: 75rem;
      }
    
      &Two {
        height: 85rem;
      }
    
      &Three {
        height: 75rem;
      }
    }
  }
}



/* ===============
      breaker
================ */
.breaker {
  width: 100%;
  background-image: url("/resources/img/breakerTwo.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}



/* ===============
      posts
================ */
.posts {
  background-color: $color-primary-light;
  padding-bottom: 20rem;

  &__head {
    padding: 20rem 10rem 0 10rem;
  
    &--heading {
      text-transform: uppercase;
      letter-spacing: .1rem;
      word-spacing: .1rem;
    
      &::before {
        display: block;
        content: "";
        position: relative;
        bottom: .8rem;
        width: 3rem;
        height: .1rem;
        background-color: $color-black;
        font-weight: 400;
      }
    }
  }

  &__boxes {
    display: flex;
    margin: 5rem 10rem;
    justify-content: space-between;
  }
}

.postsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 49%;
  padding: 3rem;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
  transition: all .5s;

  &:active,
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 1.5rem 1.5rem rgba($color-black, .1);
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  
    &--title {
      display: flex;
      align-items: center;
      
      &Empty {
        height: .8rem;
        width: .8rem;
        background-color: $color-black;
        border-radius: 50%;
        margin-right: 1rem;
        opacity: .8;
      }
      
      &Text {
        font-size: 1.5rem;
        opacity: .5;
        letter-spacing: .1rem;
        word-spacing: .1rem;
      }
      
      &TextTwo {
        font-size: 1.2rem;
        letter-spacing: .1rem;
        word-spacing: .1rem;
        opacity: .5;
      }
    }
  }

  &__body {
    margin-bottom: 5rem;
  
    &--title {
      font-size: 3.5rem;
      margin-bottom: 2rem;
      letter-spacing: .1rem;
      word-spacing: .1rem;
      width: 90%;
    }
    
    &--paragraph {
      font-size: 1.5rem;
      letter-spacing: .1rem;
      word-spacing: .1rem;
      opacity: .5;
    }
  }

  &__image--img {
    width: 100%;
  }
}

/* ================
    testimonials
================= */

.testimonials {
  &__header {
    text-align: center;
    background-color: $color-primary-light;
    padding: 10rem 0 15rem 0;

    &--main {
      text-transform: uppercase;
      color: rgba($color-primary-brown, .8);
    }

    &--brand {
      text-transform: none;
      color: $color-primary-red;
      font-size: 3rem;
    }

    &--sub {
      font-weight: 300;
      margin-bottom: 4rem;
    }
  }

  &__boxes {
    width: 80%;
    margin: 0 auto;
    padding-top: 5rem;
  }

  &__box {
    width: 30%;
    background-color: $color-white;
    padding-top: 5rem;
    padding-left: 2rem;
    border-radius: .5rem;
    position: relative;
    top: -18rem;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
    transform: scale(1);
    transition: all .5s;
    backface-visibility: hidden;

    &:hover,
    &:active {
      transform: scale(1.02);
    }

    &--paragraph {
      font-size: 1.5rem;
      line-height: 150%;
      margin: 2rem 0;
      width: 80%;
      
      &::before {
        display: block;
        content: "\201C";
        position: absolute;
        top: 5rem;
        color: rgba($color-primary-brown, .7);
        font-size: 12rem;
        font-weight: 400;
      }
    }

    &--name {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    &--title,
    &--company {
      display: block;
      font-size: 1.2rem;
      font-style: italic;
      letter-spacing: .05rem;
      padding-bottom: .5rem;
    }
  }
}

/* ===============================================================
    NEWSLETTER SECTION - still trying to improve this bit :)
================================================================== */

.newsletter {
  background: linear-gradient(rgba($color-black, .8), rgba($color-black, .8)), url('/resources/img/newsletter-bg-min.jpg');
  /* try to compress the background image or remove 'background-size: cover' to remove lag on scroll" */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color-white;
  padding: 15rem 0;

  &__content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--mainHeading {
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 6rem;
      letter-spacing: .1rem;
      word-spacing: .3rem;
    }

    &--subHeading {
      margin: 0 auto;
      color: rgba($color-white, .8);
      font-size: 2.35rem;
      margin-bottom: 2rem;
      word-spacing: .2rem;
    }

    &--email,
    &--btn {
      margin: 1rem 0 2rem;
    }

    &--email {
      font-size: 2rem;
      font-family: inherit;
      width: 60rem;
      text-align: center;
      padding: 2rem 0;
      color: $color-white;
      border: .2rem solid rgba($color-white, .7);
      background-color: rgba($color-black, .1);
      border-radius: 12rem;
      transition: all .2s;
    }

    &--email:hover,
    &--email:active,
    &--email:focus {
      background-color: rgba($color-black, .7);
      outline: none;
    }

    &--email::placeholder {
      color: rgba($color-white, .7);
      word-spacing: .3rem;
    }

    &--btn {
      cursor: pointer;
    }
  }
}

/* ==============
      socials
=============== */
.socials {
  margin: 10rem 0 5rem 0;
  padding: 0 3rem;
  text-align: center;

  &--mainHeading {
    margin-bottom: 4.5rem;

    &::after {
      display: block;
      width: 10rem;
      background-color: rgba($color-primary-red, .2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto;
    }
  }

  &__boxes {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-bottom: 5rem;

    &--box {
      margin-top: 3rem;

      .socials--boxLink:link,
      .socials--boxLink:visited {
        color: rgba($color-primary-red, .7);
        font-size: 2rem;
      }

      .socials--boxIcon {
        font-size: 6rem;
      }
    }
  }
}

/* ================
    contact-us
================ */
.contact {
  display: flex;
  align-items: center;
  padding: 5rem 0 10rem 0;

  &--image {
    flex: 1;
  }

  &--form {
    flex: 1;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);
    padding: 5rem 0 5rem 3rem;
    position: relative;
    right: 6.5rem;
    display: flex;
    border-radius: .5rem;

    /* OUR-CONTACTS */
    .form__cards,
    .form__inputs {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}

.form__cards {

  &--mainHeading {
    margin-bottom: 3rem;
    font-weight: 300;
    font-size: 2rem;
  }

  &--card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.card {
  &__icon {
    &--container {
      padding: 0 2rem 0 0;
    }

    &--element {
      font-size: 1.5rem;
      color: rgba($color-black, .5);
    }
  }

  &__txt {
    &--title {
      margin-bottom: .5rem;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
    }

    &--desc {
      color: rgba($color-black, .5);
      font-size: 1.3rem;
      width: 80%;
    }
  }
}

/* SEND-US-A-MESSAGE */
.form__inputs {
  margin-right: 7rem;
  border-radius: 1rem;

  &--secondaryHeading {
    word-spacing: .2rem;
  }

  .form__input {
    margin-bottom: 3rem;

    &--label {
      position: relative;
      top: -1rem;
    }

    &--labelHead {
      font-weight: 300;
      font-size: 1.3rem;
    }

    &--text,
    &--email,
    &--textArea {
      width: 100%;
      outline: none;
      border: .1rem solid rgba($color-primary-dark, .3);
      color: inherit;
      font-family: inherit;
    }

    &--textArea {
      padding: 10px 0 0 10px;
    }

    &--text,
    &--email {
      padding: 1.5rem 1rem;
      border-radius: .5rem;
    }

    &--submitBtn {
      position: relative;
      top: 0;
      letter-spacing: .05rem;
      cursor: pointer;
    }
  }
}

/* ======================
    landing page footer 
====================== */
.landingFooter {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  
  &__content {
    display: flex;
    padding: 10rem 6rem;
    background-image: linear-gradient(rgba($color-primary-dark, 1), rgba($color-black, .7)),
      url("https://images.unsplash.com/photo-1598746666848-01f94f708ebe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: $color-white;
  }

  /* Developers */
  &__developer {
    text-align: center;
    background-color: $color-black;
    border: none;
    padding: 1rem 0;
    color: rgba($color-white, .5);
  }
}

.footerCard {
  flex: 1;
  margin-right: 2rem;

  &--title {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  &__text {
    font-size: 1.5rem;

    &--paragraph {
      line-height: 1.5;
      color: rgba($color-white, .9);
      width: 95%;
      margin-bottom: 1rem;
    }

    &--icon {
      margin: 1rem 1rem 0 0;
      font-size: 2rem;
      color: $color-primary-light;
    }
  }

  /* recent posts */
  &__post {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 1rem 0;

    &:nth-of-type(even) {
      border-top: .1rem solid rgba($color-primary-light, .5);
      border-bottom: .1rem solid rgba($color-primary-light, .5);
    }

    &--image,
    &--image2 {
      height: 7.6rem;
      width: 7.6rem;
    }

    &--image {
      border-radius: 50%;
      margin-right: 2rem;
    }

    &--bodySpan {
      color: rgba($color-white, .5);
      font-size: 1.3rem;
    }

    &--bodyTitle {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

/* ============================================================= 
                      BLOG APP STYLES
============================================================== */
@keyframes headerSlideUp {
  100% {
    opacity: 1;
    bottom: 0;
  }
}

/* Hero section */
.hero,
.heroTwo,
.hero-l {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
  /* fixing hero div to NOT scroll with the showcase div */
  position: sticky;
  top: 0;
  color: $color-white;
  overflow: hidden;
}

/* Index hero(left side) section */
.hero {
  background: linear-gradient(rgba($color-black, .2), rgba($color-black, .8)),
  url("https://images.unsplash.com/photo-1569437061238-3cf61084f487?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* 
  use this as a mixin/extend cuz i'm gonna do the same thing with heroTwo__header too
  margin-top will be a variable to cater for the difference
  */
  &__header {
    width: 100%;
    text-align: center;
    margin-top: 55vh;
    font-size: .8rem;
    position: relative;
    bottom: -5rem;
    opacity: 0;
    backface-visibility: hidden;
    animation: headerSlideUp 1.5s linear 2s forwards;
    display: flex;
    flex-direction: column;

    &--image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      border: 8px solid rgba($color-primary-red, .2);
    }
  }

  &__body {
    &--mainTitle {
      font-size: 1.5rem;
      font-weight: 300;
      opacity: .7;
    }

    &--desc {
      font-weight: 300;
      text-align: center;
      font-size: 2rem;
      width: 70%;
      margin: auto;
      margin-top: 1rem;
    }

    &--link {
      &:link,
      &:visited {
        padding: 1rem;
        color: $color-primary-light;
      }

      &Text {
        text-decoration: underline;
        transform: all .5s;

        &:link,
        &:visited {
          opacity: .7;
        }

        &:active,
        &:hover {
          opacity: 1;
        }
      }

      &Icon {
        font-size: 3rem;
        margin-top: 1.5rem;
      }
    }
  }
}

.heroTwo__headerTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */
  width: 80%;
  margin: 65vh auto;
  font-size: .8rem;
  position: relative;
  /* for Pop up animation */
  bottom: -5rem;
  opacity: 0;
  backface-visibility: hidden;
  animation: headerSlideUp 1.5s linear 2s forwards;
  display: flex;
  flex-direction: column;

  &--mainTitle {
    font-size: 1.5rem;
    font-weight: 400;
    width: 70%;
  }
}

.heroTwo__body {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  &--cardImage {
    height: 10rem;
    border-radius: 50%;
    border: .8rem solid rgba($color-primary-red, .2);
  }

  &--cardText {
    padding: .5rem 1rem;
    position: relative;
    top: -1rem;
    width: 70%;
  }

  &--cardTitle {
    margin-bottom: .5rem;
    font-size: 1.3rem;
  }

  &--cardDate {
    color: rgba($color-primary-light, .5);
    margin-left: .2rem;
    font-size: 1.3rem;
  }
}

/* ===================
    Showcase section
==================== */
@keyframes slideLeft {
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes textLeftRight {
  80% {
    left: 1rem;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes btnSlideDown {
  100% {
    opacity: 1;
    top: 0;
  }
}

.showcase {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */

  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__writers {
    width: 80%;
    height: 50rem;
    background-image: linear-gradient(rgba($color-black, 0.5), rgba($color-black, 0.5)),
      url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    opacity: 0;
    position: relative;
    right: -25rem;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    animation: slideLeft 2s 1 0s forwards;

    &Container {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      flex-basis: 90%;
      opacity: 0;
      position: relative;
      left: -25rem;
      background-color: $color-white;
      padding-left: 0;
      animation: textLeftRight 2s ease-out 0s 1 forwards;

      &--title {
        padding: 3rem 0 1.5rem;
        font-size: 2rem;
        font-weight: 400;
      }

      &--mainLink:link,
      &--mainLink:visited {
        opacity: .8;
        color: $color-black;
      }

      &--paragraph {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        width: 85%;
      }

      /* meet the writers button */
      &--link {
        padding: 1rem 2rem;
        position: relative;
        top: -1.5rem;
        opacity: 0;
        animation: btnSlideDown 1s linear 2s 1 forwards;
        backface-visibility: hidden;
      }
    }

    &--empty {
      flex-basis: 15%;
    }
  }

  @keyframes smallSlideRight {
    50% {
      margin-top: 3rem;
    }

    70% {
      opacity: 0;
      left: -1.5rem;
    }

    100% {
      margin-top: 3rem;
      left: 0;
      opacity: 1;
    }
  }

  /* Separator Section */
  &__separator {
    align-self: flex-end;
    margin-right: 10%;
    position: relative;
    left: -5rem;
    opacity: 0;
    animation: smallSlideRight 2.5s linear 2s 1 forwards;
    backface-visibility: hidden;

    &--title {
      font-weight: 300;
      font-size: 1.3rem;
    }
  }

  &Boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
    /* using the same padding as on the .wrapper class. Can make it into a mixin */
    padding-bottom: 10rem;

    &__box {
      position: relative;
      width: 100%;
      height: 20rem;
      margin-top: 1rem;
      overflow: hidden;
      border-radius: .5rem;

      &--linkImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        transform: scale(1);
        transition: .3s ease-in-out;
      }

      &--linkImage:hover {
        filter: grayscale(.5);
        transform: scale(1.1);
      }
    }
  }

  /* Index footer */
  &__footer {
    /* 
    this code should be a mixin/extend cuz its the same as showcase footer the second one just a few lines down 
    */

    height: 12rem;
    padding: 5rem;
    padding-left: 0;
    background: rgba($color-primary-red, .7);
    color: $color-primary-light;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    &--paragraph {
      width: 100%;
      text-align: center;
    }
  }
}

/* 
showcaseCard is the top div nested within showcasesBoxes__box fixed to the top 
contains blog author name, blog date and tag
*/
.showcaseCard {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem;
  padding-top: 1rem;
  padding-left: 2rem;
  background-image: linear-gradient(to bottom, rgba(10, 0, 0, .6), rgba(27, 29, 32, .5), rgba(5, 30, 54, .4), rgba(15, 36, 56, .3), rgba(7, 40, 73, 0));
  border-radius: .5rem;

  &__author {
    display: flex;
    flex-basis: 100%;

    &--image {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }
  }

  &__text {
    font-weight: 300;
    color: $color-white;
    margin-left: 2rem;
    margin-top: 1rem;

    &--title {
      font-size: 1.3rem;
      margin-bottom: .2rem;
    }

    &--paragraph {
      font-size: 1.3rem;
      color: rgba($color-primary-light, .7);
      font-family: 'Caveat', cursive;
    }
  }

  &__tag {
    flex: 1;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem;

    &--link {
      &:link,
      &:visited {
        color: $color-primary-light;
        padding: .5rem 1.6rem;
        border-radius: 1.5rem;
      }

      &:active,
      &:hover {
        color: $color-white;
        transition: color .2s;
      }
    }
  }
}

.showcaseText {
  width: 100%;

  &__head {
    &--title {
      margin-bottom: 1rem;
      width: 85%;

      &Link {
        &:link,
        &:visited {
          color: $color-black;
          font-weight: 400;
          font-size: 2rem;
        }

        &:active,
        &:hover {
          color: rgba($color-black, .5);
          transition: color .2s;
        }
      }
    }
  }

  &__paragraph {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  &__link {
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
    transition: all .2s;

    &--anchorTag {
      &:link,
      &:visited {
        color: rgba($color-black, .5);
        border-bottom: .1rem solid rgba($color-primary-red, .5);
        transition: all .2s;
      }

      &:active,
      &:hover {
        color: $color-black;
        font-weight: 400;
        border-bottom: .2rem solid $color-primary-red;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: .1rem;
    background-color: rgba($color-black, .1);
  }
}

/* ===============================================
                SHOW ROUTE
================================================ *

/* ADMING MENU STYLES HERE */
@keyframes admenuLeft {
  50% {
    opacity: 1;
    right: -.5rem;
  }

  100% {
    opacity: .7;
    right: -1rem;
  }
}

.showcaseTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */

  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f3c5;


/*
  figure out a way to style all links in the blog body without affecting the backlinks a tags styling down below
  that's why I've commented these out for now

  & a:link,
  & a:visited {
    color: rgba($color-black, .5);
    text-decoration: underline;
  }

  & a:active,
  & a:hover {
    color: $color-black;
  } 
*/

  &__admin {
    list-style: none;
    display: flex;
    flex-direction: column;

    position: fixed;
    right: -1rem;
    top: 65%;
    opacity: 0;
    transform: translate(-40%);
    animation: admenuLeft 1.5s linear 6s forwards;
    background-color: $color-primary-dark;
    border-radius: .5rem;
    width: 3rem;
    text-align: center;

    &--li {
      padding: 1.2rem 0;

      &:last-of-type {
        border-bottom: .1rem solid transparent;
      }
    }

    &--link {
      transition: all 0.5s;

      &:link,
      &:visited {
        color: $color-primary-brown;
      }

      &:active,
      &:hover {
        color: $color-secondary-brown;
      }

      /* showing tooltip on li item hover */
      &:hover .showcaseTwo__admin--tooltip,
      &:active .showcaseTwo__admin--tooltip {
        visibility: visible;
      }
    }

    &--tooltip {
      visibility: hidden;
      width: 6rem;
      color: $color-black;
      text-align: center;
      border-radius: 1.5rem;
      padding: .5rem 0;
      font-size: .7rem;

      /*Positioning the tooltip*/
      position: absolute;
      z-index: 1;
      right: 105%;
    }

    &--i {
      font-size: 1.2rem;
    }

    &--button {
      display: inline-block;
      border: none;
      font-size: .7rem;
      margin: 0;
      text-decoration: none;
      color: rgba($color-primary-brown, .5);
      font-family: sans-serif;
      cursor: pointer;
      text-align: center;
      transition: color 0.5s;
    }

    &--button:hover,
    &--button:active {
      color: $color-primary-red;
    }
  }

  .blog {
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* this can be a mixin/extend. using the same padding on showcaseBoxes */
    padding-bottom: 10rem;

    /* find a better way to do this */
    /* & p {
      margin-bottom: 20px;
      line-height: 135%;
      font-size: 1.6rem;
    } */
  }

  &__footer {
    /* 
  this code should be a mixin/extend cuz its the same as showcase footer the first one just a few lines up 
  */

    padding: 2rem;
    padding-left: 0;
    background: rgba($color-primary-red, .7);
    color: $color-primary-light;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;

    &--paragraph {
      width: 100%;
      text-align: center;
    }
  }
}

/* ================================
        Blog show section 
=================================== */

@keyframes mainHeadingSlideDown {
  0% {
    font-weight: 500;
  }

  95% {
    font-weight: 500;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes smallPop {
  90% {
    color: rgba($color-black, .8);
    transform: scale(1.03);
  }

  100% {
    color: rgba($color-black, .5);
    transform: scale(1);
  }
}

/* BLOG HEADINGS */
.blog__heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  &--mainHeading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    position: relative;
    top: -2.5rem;
    opacity: 0;
    animation: mainHeadingSlideDown 1s linear 0s forwards;
    
    &:after {
      display: block;
      height: .1rem;
      background-color: rgba($color-primary-light, .5);
      content: " ";
      width: 20rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }

  &--paragraph {
    color: rgba($color-black, .3);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    animation: smallPop 1s linear 2s forwards;
    transform: scale(1);

    &:after {
      display: block;
      height: .1rem;
      content: " ";
      background-color: rgba($color-primary-light, .5);
      width: 20rem;
      margin-top: 2rem;
      margin: 0 auto;
    }
  }

  &--h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &--h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }

  &--h5 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    font-weight: 300;
  }

  &--h6 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }
}

/* BLOG BODY SECTION */
.blog__body {
  width: 90%;
  margin: 0 auto;
  letter-spacing: .1rem;

  &--paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    word-spacing: .1rem;
  }

  &--sectionOne {
    margin-top: 3rem;
  }

  &--sectionTwo p:nth-of-type(2) {
    border-left: .2rem solid $color-primary-red;
    padding: 1rem;
    line-height: 1.5rem;
    word-spacing: .5rem;
  }

  &--sectionThree .text-wrap {
    padding: 1rem 2rem;
    line-height: 2rem;
  }

  &--sectionThree img {
    width: 100%;
    height: 40rem;
  }

  &--sectionThree p:last-of-type {
    margin-top: 2rem;
  }
}

.new-comment-form {
  margin: 3rem 0;
}

/********* Show-backlinks section *************/
.backlinks {

  &--heading {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
    border-top: .1rem solid rgba($color-primary-red, .1);
    padding-top: 2rem;
  }

  &__tag {
    color: rgba($color-black, .5);
    font-size: 1.3rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid rgba($color-primary-red, .1);

    &--link {
      font-size: 1.3rem;
      margin-left: .5rem;
      font-weight: 400;
      text-decoration: underline;
    }

    &--green:link,
    &--green:visited {
      color: $color-success;
    }

    &--yellow:link,
    &--yellow:visited {
      color: $color-secondary-brown;
    }

    &--purple:link,
    &--purple:visited {
      color: $color-primary-dark;
    }

    &--red:link,
    &--red:visited {
      color: $color-primary-red;
    }
  }
}

/********* backlinks-cards *****************/
.backlinks__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.backlinkCard {
  flex-basis: 49%;
  margin-bottom: 3rem;

  &__header {
    position: relative;
    overflow: hidden;

    &--image {
      width: 100%;
      height: 33.5rem;
      border-radius: .3rem;
      opacity: .7;
      transform: scale(1);
      transition: .3s ease-in-out;
    }

    &--image:active,
    &--image:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  &__tag {
    &--link:link,
    &--link:visited {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      font-size: .7rem;
      padding: .5rem 2rem;
      color: $color-white;
      border-radius: 3rem;
    }

    &--green:link,
    &--green:visited {
      background-color: $color-success;
    }

    &--yellow:link,
    &--yellow:visited {
      background-color: $color-secondary-brown;
    }

    &--purple:link,
    &--purple:visited {
      background-color: $color-primary-dark;
    }

    &--red:link,
    &--red:visited {
      background-color: $color-primary-red;
    }
  }

  &__body {
    &--heading {
      width: 85%;
      margin-top: 1rem;
      margin-bottom: .5rem;
      font-size: 1.3rem;
      letter-spacing: .01rem;
    }

    &--headingLink {
      &:link,
      &:visited {
        color: $color-black;
        font-weight: 400;
        text-decoration: none;
      }

      &:active,
      &:hover {
        color: rgba($color-black, .7);
        transition: color .2s;
      }
    }

    &--paragraph {
      margin-bottom: .5rem;
      color: rgba($color-black, .7);
      font-size: 1.1rem;
      width: 100%;
    }

    &--link {
      &:link,
      &:visited {
        font-size: 1.1rem;
        margin-left: .2rem;
        color: rgba($color-black, .5);
        text-decoration: underline;
      }

      &:hover,
      &:active {
        color: $color-black;
      }
    }
  }
}

/* ===============================================
                NEW ROUTE
================================================ */

.wrapper {
  padding: 4rem 2rem;
}

.create {
  width: 90%;
  margin: 0 auto;

  &--mainHeading {
    text-align: center;
    font-size: 5rem;
    font-weight: 300;

    &::after {
      display: block;
      height: .1rem;
      background-color: $color-primary-red;
      content: " ";
      width: 10rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
  }

  &__form {
    &--row {
      margin-top: 6rem;
    }

    &--after::after {
      display: block;
      content: " ";
      margin: 0 auto;
      width: 30rem;
      height: .1rem;
      margin-top: 5rem;
      background-color: rgba($color-primary-red, .1);
    }

    &--last {
      margin-bottom: 5rem;
    }
  }
}

/* ==========================
Content sections in form rows 
=========================== */
.section {
  display: flex;
  align-items: center;

  &__inputs {
    /* mixin or extend for these two cuz they have the same code  [__inputs and __desc] */
    flex: 1;
    padding: 0 2rem;

    border-radius: 1rem;
    box-shadow: 0 .5rem 1.5rem rgba($color-black, .1);

    &--heading {
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      color: $color-primary-red;
    }
  }

  &__desc {
    flex: 1;
    padding: 0 2rem;
  }
}

/* ============================== 
Individual boxes in section rows 
=============================== */
.inputsBox {
  position: relative;

  //styling for all labels in the .inputsBox container
  &--label {
    position: absolute;
    text-transform: uppercase;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: bolder;
    display: block;
  }

  //for the small left/right sections in input areas
  &--left,
  &--right {
    width: 48%;
  }

  .inputsBox--input {
    width: 100%;
    margin-bottom: 2rem;
    border: .1rem dashed rgba($color-black, .3);
    font-family: inherit;
    font-weight: 300;
    border-radius: .5rem;
    display: block;
    font-size: 1.3rem;

    //all input placeholder styling
    &::placeholder {
      text-transform: uppercase;
    }
  }

  //text and password inputs in inputsBox container
  &--text,
  &--password {
    height: 8rem;
    padding: 1rem;
  }

  //textarea styles nested in inputsBox
  &--textarea {
    padding-top: 4rem;
    padding-left: 1rem;
    resize: vertical;
  }

  /* Custom dropdown styles */
  &__selectWrapper {
    position: relative;
    display: flex;
    width: 50%;
    height: 50px;
    line-height: 3;
    background: $color-primary-light;
    overflow: hidden;
    border-radius: .25em;

    /* Arrow */
    &::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      color: rgba($color-primary-red, .7);
      background-color: $color-primary-light;
      cursor: pointer;
      pointer-events: none;
      transition: .5s all ease;
    }

    /* Transition */
    &:hover::after {
      color: $color-black;
      background: $color-primary-light;
    }

    &--select {
      flex: 1;
      padding: 0 .5em;
      color: $color-black;
      cursor: pointer;
      font-weight: 300;
      background: $color-primary-light;
      font-family: inherit;
    }
  }
}

/* ===================
  new route desc side
====================== */
.section__desc {
  padding-left: 3rem;

  &--heading {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 2rem;
  }

  &--paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &--link {
    &:link,
    &:visited {
      color: rgba($color-black, .5);
      text-decoration: underline;
      transition: all .2s;
    }

    &:hover,
    &:active {
      color: $color-black;
      text-decoration-color: $color-primary-red;
      text-decoration-style: wavy;
    }
  }

  &--image {
    padding: 3rem 0 3rem 0;
  }

  &--imageZero {
    height: 25rem;
  }

  &--imageOne {
    height: 35rem;
  }

  &--imageTwo {
    height: 28rem;
  }

  &--imageThree {
    height: 50rem;
  }

  &--imageFour {
    height: 30rem;
    margin-left: 10rem;
  }

  &--imageFive {
    height: 35rem;
  }
}

/* =================
form submit buttons
================== */
.form--btn {
  margin-top: 2rem;
  cursor: pointer;
  text-transform: none;
  display: inline-block;
  font-family: inherit;
  margin-bottom: 1rem;
}

/** =====================
  * Auth Routes
======================= */
.zero {
  width: 40vw;
}

.auth__smallHeading {
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: 300;

  &--link:link,
  &--link:visited {
    color: rgb(172, 165, 165);
  }

  &--link:active,
  &--link:hover {
    color: #555;
    transition: color .2s;
  }
}

/* ============================
      PROJECTS APP STYLES
============================ */

.projects {
  background-color: $color-primary-light;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    background-color: $color-white;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--logo {
      font-size: 2rem;
    }

    &--logoBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.5rem 6rem;
      list-style-type: none;
    }

    &--body {
      margin: 3rem 6rem;
      display: flex;
      align-items: center;
    }

    &--contacts {
      display: flex;
      margin: 0 6rem;
      align-items: center;
      justify-content: space-between;
      font-size: .65rem;
    }

    &--footer {
      background-color: #111;
      color: #555;
      text-align: center;
      padding: 1rem 0;
    }
  }

  &__imageBox {
    flex: 2 2 50%;

    width: 50%;
    overflow: hidden;
    height: 65vh;
    background-image: linear-gradient(rgba(20, 30, 48, .5), rgba(20, 30, 48, .5)),
      url("https://images.unsplash.com/photo-1529088363398-8efc64a0eb95?ixlib=rb-1.2.1&auto=format&fit=crop&w=848&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.projects__textBox {
  flex: 1 1 50%;
  min-width: 50%;

  &--heading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  &--span {
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  &--email {
    display: flex;

    &Input {
      /* removing borders from email input */
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;

      background-color: $color-white;
      margin-top: 2rem;
      margin-bottom: 3rem;
      height: 3rem;
      width: 16rem;
    }

    &Input::placeholder {
      text-align: center;
    }
  }

  &--submit {
    cursor: pointer;
  }

  &--smallSocials {
    display: flex;
    margin-top: 2.5rem;
    font-size: 2rem;
  }

  &--smallLink:link,
  &--smallLink:visited {
    color: $color-black;
    text-decoration: none;
    padding-right: 1rem;
  }
  
}

.projects__card {
  display: flex;

  &--primary {
    position: relative;
  }

  &--primaryHeading {
    font-weight: 300;
    margin-right: .5rem;
    font-size: 1.3rem;
  }

  /* Drawing a line after a heading */
  &--primaryHeading::after {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: .1rem;
    background-color: $color-black;
    position: absolute;
    left: 105%;
    bottom: 75%;
  }

  &--secondary {
    margin-left: 4rem;
    margin-bottom: 1rem;
  }

  &--secondaryParagraph {
    font-size: 1.3rem;
  }
}







/*
E-COMMERCE STYLES


SME templates first
*/

.smeNavItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
  list-style-type: none;

  &__brand {
    display: flex;
    flex-direction: column;

    &--link {
      color: $color-black;
      font-size: 4rem;
      font-weight: 400;
    }
    
    &--country {
      align-self: flex-end;
      display: inline-block;
      position: relative;
      bottom: .5rem;
      letter-spacing: .1rem;
    }
  }

  &__links {
    display: flex;
    align-items: center;

    &--number {
      text-decoration: none;
      font-size: 1.8rem;
      letter-spacing: .1rem;
      opacity: .8;
    }

    &--li {
      list-style-type: none;
      margin: 0 2rem;
      font-weight: 400;
    }

    &--link {
      color: $color-black;
      font-size: 1.8rem;
      transition: all .5s;
    
      &:link,
      &:visited {
        font-weight: 400;
        opacity: .8;
      }
    
      &:active,
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
  }

  .smeNav--btn {
    box-shadow: none;
    margin-left: 2rem;
  }
}

.smeIntro {
  width: 100vw;
  height: 75vh;
  background-image: linear-gradient(rgba(50, 74, 119, 1), rgba(20, 30, 48, .5)), url("/resources/img/smeIntro-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 5rem;
  color: $color-white;

  &__header,
  &__body,
  &__form,
  &__disclaimer {
    width: 30%;
  }

  &__header {
    margin: 0 0 3rem;

    &--main {
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 155%;
      word-spacing: .1rem;
    }
  }

  &__body--paragraph {
    font-size: 2rem;
    margin-bottom: 4rem;
    letter-spacing: .05rem;
    word-spacing: .1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    &--input {
      padding: 2rem;
      background-color: transparent;
      border: .05rem solid $color-white;
      border-radius: .5rem;
      margin-bottom: 1rem;
      color: $color-white;
      border-radius: 5rem;

      &:focus {
        outline: none;
      }
    }
    
    &--input::placeholder {
      letter-spacing: .1rem;
      color: $color-white;
      opacity: .8;
    }

    &--btn {
      align-self: flex-start;
      cursor: pointer;
      border: none;
      word-spacing: .1rem;
      box-shadow: none;
      text-transform: lowercase;
    }
  }

  &__disclaimer--paragraph {
    font-size: 1.3rem;
    word-spacing: .1rem;
  }
}


/*
smeFeatures
*/
.smeFeatures {
  background-color: $color-background-light;

  &__head {
    width: 70%;
    padding: 10rem 5rem;
  
    &--title {
      font-size: 4rem;
    }
  }

  &__boxes {
    background-color: $color-white;
    padding: 3rem 5rem;
  }
}

.smeFbox {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;

  &__text {
    flex-basis: 50%;

    &Right {
      padding-left: 15rem;
    }

    &--small {
      font-size: 1.2rem;
      letter-spacing: .1rem;
      text-transform: uppercase;
    
      &::before {
        display: block;
        content: "";
        position: relative;
        bottom: .8rem;
        width: 1rem;
        height: .1rem;
        background-color: $color-black;
        font-weight: 400;
      }
    }
    
    &--big {
      font-size: 5rem;
      width: 70%;
      margin: 3rem 0 2rem;
    }
    
    &--paragraph {
      font-size: 1.5rem;
      width: 70%;
      margin-bottom: 2rem;
      line-height: 160%;
      word-spacing: .1rem;

      &Right {
        width: 80%;
      }

      &Bold {
        display: inline;
        font-weight: 400;
      }
    }
  }
  
  &__image {
    flex-basis: 50%;

    &--img {
      width: 100%;
      border-radius: .5rem;
    }
  }
}

.smeBreaker {
  background: $color-background-light;
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  padding: 10rem 5rem;

  &__header--main {
    font-size: 5rem;
    font-weight: 400;
    word-spacing: .1rem;
    margin-bottom: 3rem;
  }
  
  &__paragraph--p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
}

.smeCta {
  height: 50vh;
  display: flex;

  &--empty {
    flex-basis: 50%;
  }
  
  &--text {
    flex-basis: 50%;
    padding: 10rem 5rem;
  }

  &__head {
    
    &--small {
      font-size: 1.3rem;
      word-spacing: .1rem;
      margin-bottom: 1rem;
    
      &::before {
        display: block;
        content: "";
        position: relative;
        bottom: .8rem;
        width: 1rem;
        height: .1rem;
        background-color: $color-black;
        font-weight: 400;
      }
    }

    &--big {
      font-size: 5rem;
      margin-bottom: 3rem;
      width: 80%;
    }
  }

  &__body {
    &--paragraph {
      font-size: 1.5rem;
      width: 85%;
      margin-bottom: 2rem;
      line-height: 150%;
      word-spacing: .1rem;
    }
  }

  &__button {
    &--btn {
      margin-left: -3rem;
    }
  }
}

.smeBreakerTwo {
  background-image: linear-gradient(rgba(50, 74, 119, 1), rgba(20, 30, 48, .5)), url("https://images.unsplash.com/photo-1509100194014-d49809396daa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $color-white;
}