<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <!-- Google Verification Code -->
    <meta name="google-site-verification" content="1_0CROE3Sbtxt3Gl2EWhIBWqxq6VtbY7OTkPyhRgMfM" />
    
    <meta name="description" content="
    <% if(typeof blog !== 'undefined') { %>
        <%= blog.body.content.introParagraph %>
    <% } else if (typeof blog === 'undefined' || typeof blog === null) { %>
        Add your voice to our chorus. Get ur idea funded or support a peer's!
    <% } %>
    ">
    <title>
        <% if(typeof blog !== "undefined") { %>
            urAfro Blog | <%= blog.body.header.mainHeading %>
        <% } else if(typeof blog === "undefined" || typeof blog === null) { %>
            urAfro | Inspiring responsible initiation
        <% } %>
    </title>
    <!-- primary stylesheet -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <!-- media queries -->
    <link rel="stylesheet" href="/resources/css/queries.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2369667c99.js" crossorigin="anonymous"></script>
    <!-- FAVICON CODE -->
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resources/favicon/site.webmanifest">
</head>

<body>
    <% if(success.length > 0 || error.length > 0) { %>
        <div class="container flash">
            <% if(success && success.length > 0) { %>
            <div class="success-flash">
                <p><%= success %></<p>
            </div>
            <% } %>
            <% if( error && error.length > 0) { %>
            <div class="error-flash">
                <p><%= error %></p>
            </div>
            <% } %>
        </div>
    <% } %>