<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/resources/css/queries.css">
    <title>#weRme | Blog</title>
    <!-- primary stylesheet -->
    <link rel="stylesheet" href="/resources/css/style.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/2369667c99.js" crossorigin="anonymous"></script>
</head>

<body>
    <% if(success.length > 0 || error.length > 0) { %>
        <div class="container flash">
            <% if(success && success.length > 0) { %>
            <div class="success-flash">
                <p><%= success %></<p>
            </div>
            <% } %>
            <% if( error && error.length > 0) { %>
            <div class="error-flash">
                <p><%= error %></p>
            </div>
            <% } %>
        </div>
    <% } %>