<footer class="landingFooter">
  <div class="landingFooter__content">
    <div class="footerCard">
      <h3 class="footerCard--title">About Us</h3>
      <div class="footerCard__text">
        <p class="footerCard__text--paragraph">
          <span class="brand">urAfro</span> &nbsp; is the first e-commerce platform empowering local governments to provide cheap logistics rates for developing countries in Africa
        </p>
      </div>
      <!-- start by styling this section and replacing the generic links with the correct ones. Now take a rest :) -->
      <a href="https://www.instagram.com/official_urafro" target="_blank">
        <i class="fab fa-instagram footerCard__text--icon"></i>
      </a>
      <a href="https://twitter.com/official_urafro" target="_blank">
        <i class="fab fa-twitter footerCard__text--icon"></i>
      </a>
      <a href="https://www.reddit.com/r/urafro" target="_blank">
        <i class="fab fa-reddit footerCard__text--icon"></i>
      </a>
      <a href="https://www.facebook.com/official.urafro" target="_blank">
        <i class="fab fa-facebook footerCard__text--icon"></i>
      </a>
      <a href="https://www.github.com/tinashy" target="_blank">
        <i class="fab fa-github footerCard__text--icon"></i>
      </a>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Contacts</h3>
      <div class="footerCard__text">
        <p class="footerCard__text--paragraph">
          <i class="fas fa-map-marker-alt footerCard__text--icon"></i> Country, Street name-number
        </p>
        <p class="footerCard__text--paragraph">
          <i class="fab fa-whatsapp footerCard__text--icon"></i> (+263) 772 794 678
        </p>
        <p class="footerCard__text--paragraph">
          <i class="far fa-envelope footerCard__text--icon"></i> tinashydaniel@gmail.com
        </p>
        <p class="footerCard__text--paragraph">
          <i class="far fa-clock footerCard__text--icon"></i> Mon-Frie. 11am - 17pm
        </p>
      </div>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Recent Posts</h3>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Life</span>
          <h5 class="footerCard__post--bodyTitle">Introversion confusion</h5>
        </div>
      </div>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Code</span>
          <h5 class="footerCard__post--bodyTitle">The dark planet</h5>
        </div>
      </div>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Music</span>
          <h5 class="footerCard__post--bodyTitle">Of escapism in dance</h5>
        </div>
      </div>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Latest Projects</h3>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
    </div>
  </div>
  
  <div class="landingFooter__developer">
    <h3 class="italic landingFooter__developer--title">
      <span class="brand landingFooter__developer--brand">urAfro</span> Designed & Developed by 
      <a href="#">Dan</a>
    </h3>
  </div>
</footer>