<footer class="smeFooter">
  <ul class="smeFooter__head">
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--li">
        <h3 class="smeFooter__head--title">
          About
        </h3>
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--li">
        <h3 class="smeFooter__head--title">
          Vacancies
        </h3>
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--li">
        <h3 class="smeFooter__head--title">
          Blog
        </h3>
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--li">
        <h3 class="smeFooter__head--title">
          urafro Plus
        </h3>
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--li">
        <h3 class="smeFooter__head--title">
          Sitemap
        </h3>
      </li>
    </a>
  </ul>
</footer>