<footer class="smeFooter">
  <ul class="smeFooter__head">
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        About
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Vacancies
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Blog
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        urafro Plus
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Sitemap
      </li>
    </a>
  </ul>
</footer>