<footer class="smeFooter">
  <ul class="smeFooter__head">
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        About
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Vacancies
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Blog
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        urafro Plus
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Sitemap
      </li>
    </a>
    <a href="#" class="smeFooter__head--link">
      <li class="smeFooter__head--title">
        Pricing
      </li>
    </a>
  </ul>

  <div class="smeFooter__boxes">
    <div class="smeFooter__boxes--box smeFooterBox">
      <div class="smeFooterBox__head">
        <h3 href="#" class="smeFooterBox__head--title">
          Online Store
        </h3>
      </div>
      <div class="smeFooterBox--group">
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Sell online</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Features</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Online retail</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">E-commerce website</li>
          </a>
        </ul>
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Themes</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Shopping cart</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">E-commerce hosting</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Domain names</li>
          </a>
        </ul>
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Dropshipping Business</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Mobile commerce</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Development Process</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="smeFooter__boxes--box smeFooterBox">
      <div class="smeFooterBox__head">
        <h3 href="#" class="smeFooterBox__head--title">
          Point of sale
        </h3>
      </div>
      <div class="smeFooterBox--group">
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Point of sale</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Features</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Hardware</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="smeFooter__boxes--box smeFooterBox">
      <div class="smeFooterBox__head">
        <h3 href="#" class="smeFooterBox__head--title">
          Support
        </h3>
      </div>
      <div class="smeFooterBox--group">
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">24/7 support</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">urafro Help Center</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">urafro Community</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">API Documentation</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Free tools</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Websites for sale</li>
          </a>
        </ul>
      </div>
    </div>

    <div class="smeFooter__boxes--box smeFooterBox">
      <div class="smeFooterBox__head">
        <h3 href="#" class="smeFooterBox__head--title">
          urafro
        </h3>
      </div>
      <div class="smeFooterBox--group">
        <ul class="smeFooterBox__links">
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Contact</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">App developers</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Investors</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Community events</li>
          </a>
          <a href="#" class="smeFooterBox__links--link">
            <li class="smeFooterBox__links--li">Charities We Support</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <!-- link to pricing page -->
  <div class="lastCta">
    <a href="#" class="btn btn-full">start for free</a>
  </div>
</footer>