<% include ./partials/header %>

<div class="l-container">

  <span class="menu-icon">&#9776;</span>

  <img
    src="https://images.unsplash.com/photo-1509099863731-ef4bff19e808?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80"
    alt="happy african children" class="image">

</div>

<div class="menu-container">
  <div class="menu-content">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Projects</a>
    <a href="#">Contact Us</a>
    <a href="#">Login</a>
  </div>
</div>

<% include ./partials/footer %>