<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon landing--menu" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="/projects">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<section class="greeting">
  <ul class="greeting__nav">
    <div class="brand greeting__nav--brand">
      <li>urAfro</li>
    </div>
    <div class="greeting__nav--items">
      <!-- this link should redirect to a more faq type content page -->
      <li>
        <a href="/sme" class="nav--item">Join</a>
      </li>
      <li>
        <a href="#features" class="nav--item js--scroll-to-features">Features</a>
      </li>
      <li>
        <a href="#about" class="nav--item js--scroll-to-about">About</a>
      </li>
      <li>
        <a href="#contact-us" class="nav--item js--scroll-to-contact">Contact</a>
      </li>
      <li>
        <a href="/blogs" class="btn btn-ghost jiggle">Blog</a>
      </li>
    </div>
  </ul>

  <div class="greeting__box">
    <h1 class="greeting__box--heading">
      We're startup <a class="greeting__box--headingLink js--scroll-to-intro" href="#">people.</a> In times of change, we back <a class="greeting__box--headingLink js--scroll-to-features" href="#">initiators</a> with conviction around the <a class="greeting__box--headingLink js--scroll-to-about" href="#">future</a> they want to build
    </h1>

    <a href="#intro-div" class="btn btn-ghost js--scroll-to-intro"><i class="fas fa-angle-down"></i> See how</a>
  </div>
</section>

<section class="intro js--section--intro">
  <div class="intro__container" id="intro-div">
    <div class="intro__container--about">
      <h2 class="intro__container--heading">Join minds with others. 
        <br> 
        what are we tho?</h2>

      <p class="intro__container--paragraph">
        At least 90% of African trade is done offline. That means <span class="brand">YOUR</span> &nbsp; business has a small or no online presence at all if you're African.
      </p>

      <p class="intro__container--paragraph">
        Challenges like Logistics and lowering the cost of access to tools like <span class="brand">E-COMMERCE</span> &nbsp; for SMEs are positive problems we are working to fix.
      </p>

      <p class="intro__container--paragraph">the best <span class="brand">SOLUTIONS</span> &nbsp; are a collaborative effort so 👇🏼</p>

      <a href="/signup" class="btn btn-full intro__container--btn">Join us</a>
    </div>

    <div class="intro__container--give">
      <img class="intro__container--image" src="./resources/img/receive.svg" alt="urafro initiator">

      <h2 class="intro__container--heading">You</h2>

      <p class="intro__container--paragraph">
        Are you an African SME looking to join the e-commerce craze and future-proof your business? Checkout <a class="intro__container--paragraphLink" href="/sme">how we can help</a> get your business online for free 
      </p>

      <p class="intro__container--paragraph">Invest in yourself by supporting our vision</p>

      <a href="/projects" class="btn btn-full intro__container--btnTwo">get your website</a>
    </div>

    <div class="intro__container--receive">
      <img class="intro__container--image" src="./resources/img/sponsor.svg" alt="urafro sponsor">

      <h2 class="intro__container--heading">Us</h2>

      <p class="intro__container--paragraph">
        <em>urAfro</em> the idea, was born out of necessity really. Mega challenges to intra-African trade, like Logistics, need a culture-specific and scalable approach to solving them
      </p>

      <p class="intro__container--paragraph">Trust us with your problem — we got next</p>
    </div>

  </div>

  <section class="about js--section--about" id="about">
    <div class="about__image">
      <img class="about__image--img" src="./resources/img/about-image.svg" alt="urafro community">
    </div>
    <div class="about__text">
      <span class="italic about__text--sub">Brand Since 2020</span>
      <h2 class="about__text--main section__heading">The story of <span class="brand">urAfro</span></h2>
      <p class="about__text--phrase">
        <span class="brand">urAfro</span> &nbsp; is the first e-commerce platform empowering indigenous local governments to provide cheap logistics rates for developing countries in the African market
      </p>

      <p class="about__text--phrase">
        <span class="brand">#We</span> &nbsp; believe that hope can be coded, that reality is malleable
      </p>

      <!-- redirect user to details about us page -->
      <a href="/projects" class="btn btn-ghost about__text--btn">more about us</a>
      
    </div>
  </section>

  <div class="features js--section--features" id="features">

    <div class="features__head">
      <h2 class="features__head--mainHeading section__heading">How to use <span class="brand features__head--brand">urAfro</span></h2>
      <p class="features__head--paragraph italic">the right to shape the future, the choice to pick your side</p>
    </div>

    <div class="boxes features__boxes">
      <div class="box features__boxes--box">
        <!-- link directs user to projects initiate page -->
        <a class=features__boxes--boxLink href="/sme"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
        <h3 class="features__boxes--boxHeading">SMEs</h3>
        <p class="features__boxes--boxParagraph">Get a free website <span class="brand">+</span> &nbsp; the best inventory management software for your SME</p>
        <img class="features__boxes--boxImage" src="./resources/img/initiator.svg" alt="urafro initiator">
      </div>

      <div class="box features__boxes--box">
        <!-- link directs user to projects sponsor page-->
        <a class=features__boxes--boxLink href="/projects"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
        <h3 class="features__boxes--boxHeading">Corporates</h3>
        <p class="features__boxes--boxParagraph">Let's collaborate on your next big idea. And challenge mediocre norms together</p>
        <img class="features__boxes--boxImage" src="./resources/img/sponsor2.svg" alt="urafro sponsor">
      </div>

      <div class="box features__boxes--box">
        <!-- link directs user to blog -->
        <a class=features__boxes--boxLink href="/blogs"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
        <h3 class="features__boxes--boxHeading">Lurker</h3>
        <p class="features__boxes--boxParagraph">Browse around, read posts from <a class="projects__link" href="/blogs">our blog</a> until you get a project or idea to support.</p>
        <img class="features__boxes--boxImage" src="./resources/img/lurker.svg" alt="urafro lurker">
      </div>
    </div>
  </div>

</section>

<section class="services">
  <div class="services__head">
    <h2 class="services__head--title">
      We are the world's first e-commerce <br>
      platform empowering indigenous <br>
      local governments to provide cheap <br>
      logistics rates to Africans
    </h2>
  </div>

  <div class="services__boxes">
    <!-- SMEs div -->
    <div class="services__boxes--box">
      <div class="servicesBox">
        <div class="servicesBox__text">
          <h5 class="servicesBox__text--headSmall">
            small businesses
          </h5>

          <h2 class="servicesBox__text--headBig">
            For your SME
          </h2>

          <p class="servicesBox__text--paragraph">
            Get the best designed African e-commerce websites for free. The catch?
          </p>

          <p class="servicesBox__text--paragraph servicesBox__text--paragraphLast">
            You can opt for an inventory management system to come fused with your website. If you like it, you start paying subscriptions after a month's trial period, from as low as USD $4.99/month
          </p>

          <a href="/sme" class="btn btn-full">get a website</a>
        </div>

        <div class="servicesBox__image">
          <img src="/resources/img/servicesOne.jpg" alt="urafro SME's image" class="servicesBox__image--img servicesBox__image--imgOne">
        </div>
      </div>
    </div>
    <!-- Corporates div -->
    <div class="services__boxes--box">
      <div class="servicesBox">
        <div class="servicesBox__image">
          <img src="/resources/img/corporatesTwo-min.jpg" alt="urafro SME's image" class="servicesBox__image--img servicesBox__image--imgTwo">
        </div>

        <div class="servicesBox__text">
          <h5 class="servicesBox__text--headSmall">
            corporates
          </h5>

          <h2 class="servicesBox__text--headBig">
            For your big-ish consumer goods company
          </h2>

          <p class="servicesBox__text--paragraph">
            We're currently trialing Africa's best e-commerce biased inventory management system on local SME's. Keep in touch to get the first update when we scale it up for corporations your size
          </p>

          <p class="servicesBox__text--paragraph">
            Our software engineers are also researching and coding ways to solve our continent's greatest challenge of logistics
          </p>

          <p class="servicesBox__text--paragraph servicesBox__text--paragraphLast">
            We believe we found a cheap and scalable culture-specific solution to it
          </p>

          <a href="/projects" class="btn btn-ghost">join the waiting list</a>
        </div>
      </div>
    </div>
    <!-- lurker div -->
    <div class="services__boxes--box">
      <div class="servicesBox">
        <div class="servicesBox__text">
          <h5 class="servicesBox__text--headSmall">
            tiny startups
          </h5>

          <h2 class="servicesBox__text--headBig">
            Not sure where you fit?
          </h2>

          <p class="servicesBox__text--paragraph servicesBox__text--paragraphLast">
            Take a short 5 minute survey to find out if your business qualifies for a free website
          </p>

          <a href="/projects" class="btn btn-ghost">take survey</a>
        </div>

        <div class="servicesBox__image">
          <img src="/resources/img/startupOne-min.jpg" alt="urafro SME's image" class="servicesBox__image--img servicesBox__image--imgThree">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shortCta">
  <div class="services__head shortCta">
    <h2 class="services__head--title chortCta--title">
      The world is changing and so should your <br>
      business. Partner with us and get into <br>
      E-Commerce to leverage the power of <br>
      modern technologies
    </h2>
  </div>
</section>

<section class="breaker">
  
</section>

<section class="posts">
  <div class="posts__head">
    <h2 class="posts__head--heading">
      recent posts
    </h2>
  </div>

  <div class="posts__boxes">
    <a href="/projects" class="posts__boxes--box postsBox">
      <div class="postsBox__head">
        <div class="postsBox__head--title">
          <div class="postsBox__head--titleEmpty"></div>
          <h5 class="postsBox__head--titleText">In the press</h5>
        </div>
        <h5 class="postsBox__head--titleTextTwo">16 Oct, 2021</h5>
      </div>

      <div class="postsBox__body">
        <h2 class="postsBox__body--title">urafro, leading with empathy</h2>

        <p class="postsBox__body--paragraph">Nashe Dan, Founder</p>
      </div>

      <div class="postsBox__image">
        <img src="/resources/img/postsThree.jpg" alt="image of emojis with face coverings" class="postsBox__image--img">
      </div>
    </a>

    <a href="/projects" class="posts__boxes--box postsBox">
      <div class="postsBox__head">
        <div class="postsBox__head--title">
          <div class="postsBox__head--titleEmpty"></div>
          <h5 class="postsBox__head--titleText">Technology</h5>
        </div>
        <h5 class="postsBox__head--titleTextTwo">16 Oct, 2021</h5>
      </div>

      <div class="postsBox__body">
        <h2 class="postsBox__body--title">Adapting local SME businesses for uncertain, deadly circumstances</h2>

        <p class="postsBox__body--paragraph">Nashe Dan, CTO</p>
      </div>

      <div class="postsBox__image">
        <img src="/resources/img/posts.jpg" alt="image of emojis with face coverings" class="postsBox__image--img">
      </div>
    </a>
  </div>
</section>

<section class="socials">
  <h2 class="socials--mainHeading section__heading">Our Socials</h2>
  <div class="boxes socials__boxes">
    <div class="box socials__boxes--box">     
      <a class="socials--boxLink" href="https://www.instagram.com/official_urafro" target="_blank">
        <i class="fab fa-instagram socials--boxIcon"></i>
      </a>
    </div>
    <div class="box socials__boxes--box">      
      <a class="socials--boxLink" href="https://twitter.com/official_urafro" target="_blank">
        <i class="fab fa-twitter socials--boxIcon"></i>
      </a>
    </div>
    <div class="box socials__boxes--box">
      <a class="socials--boxLink" href="https://www.reddit.com/r/urafro" target="_blank">
        <i class="fab fa-reddit socials--boxIcon"></i>
      </a>
    </div>
    <div class="box socials__boxes--box">
      <a class="socials--boxLink" href="https://www.facebook.com/official.urafro" target="_blank">
        <i class="fab fa-facebook socials--boxIcon"></i>
      </a>
    </div>
    <div class="box socials__boxes--box">
      <a class="socials--boxLink" href="https://www.github.com/tinashy" target="_blank">
        <i class="fab fa-github socials--boxIcon"></i>
      </a>
    </div>
  </div>
  <!-- link will redirect to a page where a there are offers for users to run our social media for a set time -->
  <a href="/projects" class="btn btn-ghost">Run our socials</a>
</section>

<section class="contact" id="contact-us">
  
  <div class="contact--image">
    <img src="./resources/img/contact-us.svg" alt="urafro contact-us">
  </div>
  
  <div class="contact--form">
    <div class="form__cards">
      <h2 class="form__cards--mainHeading">
        <span class="brand">Our</span> Contacts
      </h2>

      <div class="card form__cards--card">
        <div class="card__icon--container">
          <i class="fas fa-map-marker-alt card__icon--element"></i>
        </div>
        <div class="card__txt">
          <h5 class="card__txt--title">Address</h5>
          <p class="card__txt--desc">Street number 5, Town, Country</p>
        </div>
      </div>

      <div class="card form__cards--card">
        <div class="card__icon--container">
          <i class="far fa-envelope card__icon--element"></i>
        </div>
        <div class="card__txt">
          <h5 class="card__txt--title">Email</h5>
          <p class="card__txt--desc">official.urafro@gmail.com</p>
        </div>
      </div>

      <div class="card form__cards--card">
        <div class="card__icon--container">
          <i class="fab fa-whatsapp card__icon--element"></i>
        </div>
        <div class="card__txt">
          <h5 class="card__txt--title">WhatsApp</h5>
          <p class="card__txt--desc">(+263) 772 794 678</p>
        </div>
      </div>

      <div class="card form__cards--card">
        <div class="card__icon--container">
          <i class="far fa-clock card__icon--element"></i>
        </div>
        <div class="card__txt">
          <h5 class="card__txt--title">Work Hours</h5>
          <p class="card__txt--desc">Mon - Frie. 11am - 19pm</p>
        </div>
      </div>

      <div class="card form__cards--card">
        <div class="card__icon--container">
          <i class="fas fa-info-circle card__icon--element"></i>
        </div>
        <div class="card__txt">
          <h5 class="card__txt--title">Additional Information</h5>
          <p class="italic card__txt--desc">Admin - check our socials out, see what we're up to!</p>
        </div>
      </div>
    </div>

    <div class="form__inputs">
      <h2 class="form__inputs--secondaryHeading form__cards--mainHeading">
        <span class="brand form__inputs--brand">Send Us</span> A Message
      </h2>
      <form action="/message" method="POST">
        <div class="form__input">
          <label for="name" class="form__input--label">
            <h5 class="form__input--labelHead">Name **</h5>
          </label>
          <input class="form__input--text" type="text" name="name" id="">
        </div>
        
        <div class="form__input">
          <label for="email" class="form__input--label">
            <h5 class="form__input--labelHead">Email **</h5>
          </label>
          <input class="form__input--email" type="email" name="email" id="">
        </div>
        
        <div class="form__input">
          <label for="name" class="form__input--label">
            <h5 class="form__input--labelHead">Message text **</h5>
          </label>
          <textarea class="form__input--textArea" name="message" id="" cols="30" rows="7"></textarea>
        </div>

        <input class="btn btn-full form__input--submitBtn" type="submit" value="send message">
      </form>
    </div>
  </div>
</section>

<footer class="landingFooter">
  <div class="landingFooter__content">
    <div class="footerCard">
      <h3 class="footerCard--title">About Us</h3>
      <div class="footerCard__text">
        <p class="footerCard__text--paragraph">
          <span class="brand">urAfro</span> &nbsp; is the first e-commerce platform empowering local governments to provide cheap logistics rates for developing countries in Africa
        </p>
      </div>
      <!-- start by styling this section and replacing the generic links with the correct ones. Now take a rest :) -->
      <a href="https://www.instagram.com/official_urafro" target="_blank">
        <i class="fab fa-instagram footerCard__text--icon"></i>
      </a>
      <a href="https://twitter.com/official_urafro" target="_blank">
        <i class="fab fa-twitter footerCard__text--icon"></i>
      </a>
      <a href="https://www.reddit.com/r/urafro" target="_blank">
        <i class="fab fa-reddit footerCard__text--icon"></i>
      </a>
      <a href="https://www.facebook.com/official.urafro" target="_blank">
        <i class="fab fa-facebook footerCard__text--icon"></i>
      </a>
      <a href="https://www.github.com/tinashy" target="_blank">
        <i class="fab fa-github footerCard__text--icon"></i>
      </a>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Contacts</h3>
      <div class="footerCard__text">
        <p class="footerCard__text--paragraph">
          <i class="fas fa-map-marker-alt footerCard__text--icon"></i> Country, Street name-number
        </p>
        <p class="footerCard__text--paragraph">
          <i class="fab fa-whatsapp footerCard__text--icon"></i> (+263) 772 794 678
        </p>
        <p class="footerCard__text--paragraph">
          <i class="far fa-envelope footerCard__text--icon"></i> tinashydaniel@gmail.com
        </p>
        <p class="footerCard__text--paragraph">
          <i class="far fa-clock footerCard__text--icon"></i> Mon-Frie. 11am - 17pm
        </p>
      </div>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Recent Posts</h3>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Life</span>
          <h5 class="footerCard__post--bodyTitle">Introversion confusion</h5>
        </div>
      </div>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Code</span>
          <h5 class="footerCard__post--bodyTitle">The dark planet</h5>
        </div>
      </div>
      <div class="footerCard__post">
        <div class="f-head">
          <img class="footerCard__post--image" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="footerCard__post--body">
          <span class="footerCard__post--bodySpan">Music</span>
          <h5 class="footerCard__post--bodyTitle">Of escapism in dance</h5>
        </div>
      </div>
    </div>
    <div class="footerCard">
      <h3 class="footerCard--title">Latest Projects</h3>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img class="footerCard__post--image2" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
    </div>
  </div>
  
  <div class="landingFooter__developer">
    <h3 class="italic landingFooter__developer--title">
      <span class="brand landingFooter__developer--brand">urAfro</span> Designed & Developed by 
      <a href="#">Dan</a>
    </h3>
  </div>
</footer>

<% include ./partials/footer %>