<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="#">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

  <div class="hero-l">
    
  </div>

  <div class="showcase-l">
    <span>Howdy! I'm F2F</span>
    <h1>Flawed 2wenty Free</h1>
    <p>F2F is a family of like-minded youth seeking practical betterment in our communities. We put the faces behind those '#hustleHard' IG comments! 
    </p>
<!--     <div class="socials">
      <a href="https://instagram.com/nashe_dan" target="_blank" class="hero-btn hero-btn-full">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://twitter.com/tinashe_dan" target="_blank" class="hero-btn hero-btn-ghost">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://github.com/tinashy" target="_blank" class="hero-btn hero-btn-ghost">
        <i class="fab fa-github"></i>
      </a>
    </div> -->

    <!-- reroute this link to about page when you're done coding it -->
    <a class="cta-button" href="/blogs"><i class="fas fa-book-open"></i> &nbsp; Read More</a>
  </div>

</div>

</div>

<% include ./partials/footer %>