<% include ./partials/header %>

<h1>Welcome to the landing page</h1>

<a style="color: #000" href="/blogs">View all</a>

<a style="color: #000" href="/blogs/new">Create</a>
<% include ./partials/footer %>