<% include ./partials/header %>

<div class="l-container">

  <span class="menu-icon" onclick="openMenu()">&#9776;</span>

  <img
    src="https://images.unsplash.com/photo-1509099863731-ef4bff19e808?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80"
    alt="picture of happy african children" class="image">

</div>

<div class="menu-container" id="navbar">

  <span class="closebtn" onclick="closeMenu()">&times</span>

  <div class="menu-content">
    <a href="/blogs">Home</a>
    <!-- will create an about page with mission statement and what-not -->
    <a href="#">About</a>
    <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
    <a href="#">Projects</a>
    <!-- create a contact us panel with socials -->
    <a href="#">Contact Us</a>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
  </div>
</div>

<script>

function closeMenu () {
  document.getElementById("navbar").style.height = "0%";
}

function openMenu () {
document.getElementById("navbar").style.height = "100%";
}

</script>

<% include ./partials/footer %>