<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="#">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<section class="greeting">
  <ul class="main-nav">
    <div class="brand">
      <li>#weRme</li>
    </div>
    <div class="nav-items">
      <!-- this link should redirect to a more faq type content page -->
      <li>
        <a href="/signup" class="nav-b">Join</a>
      </li>
      <li>
        <a href="#features" class="nav-b">Features</a>
      </li>
      <li>
        <a href="#about" class="nav-b">About</a>
      </li>
      <li>
        <a href="#contact-us" class="nav-b">Contact Us</a>
      </li>
      <li>
        <a href="/blogs" class="bdb bdb-ghost jiggle">go-to Blog</a>
      </li>
    </div>
  </ul>

  <div class="greeting-boxes">
    <div class="g-box">
      <span>You can make a difference</span>
      <h1>
        Add your voice to our chorus <br>
        Get ur idea funded or<br>
        support a peer's
      </h1>

      <a href="#intro-div" class="bdb bdb-full"><i class="fas fa-angle-down"></i> Find out more</a>
    </div>
    <div class="g-image">
      <img src="./resources/img/g-box1.svg" alt="">
    </div>
  </div>
</section>

<section class="intro">
  <div class="intro-div" id="intro-div">
    <div class="about">
      <h2>Join minds with others. 
        <br> 
        Become an initiator!</h2>

      <p>From commerce, environmentalism, fashion to even intrapersonal growth among youth, <span class="brand">#weRme</span> is a hub of 
        initiators seeking practical betterment in our communities.</p>

      <a href="/signup" class="bdb bdb-full">Join</a>
    </div>

    <div class="give">
      <img src="./resources/img/sponsor.svg" alt="">

      <h2>Sponsor</h2>

      <p>
        "An idea is salvation by imagination"... use our <a href="#">projects app</a> to find ideas that can save your pocket or soul on a rainy day!
      </p>

      <p>Invest in yourself by supporting a peer's idea.</p>
    </div>

    <div class="receive">
      <img src="./resources/img/receive.svg" alt="">

      <h2>Initiator</h2>

      <p>
        Is it a burst of fresh enthusiasm from a stranger's POV to an idea that's only known the walls of your mind, or
        just — busfare?
      </p>

      <p>It's that simple to unlock your potential.</p>
    </div>

  </div>

  <div class="how-it-works" id="features">

    <div class="head">
      <h2>How to use <span class="brand">#weRme</span></h2>
      <p class="italic">the right to shape the future, the choice to pick your side</p>
    </div>

    <div class="boxes">
      <div class="box">
        <!-- link directs user to blog -->
        <a href="/blogs"><i class="fas fa-angle-right"></i></a>
        <h3>Lurker</h3>
        <p>Browse around, read posts from <a href="/blogs">our blog</a> until you get a project or idea to support.</p>
        <img src="./resources/img/lurker.svg" alt="">
      </div>

      <div class="box">
        <!-- link directs user to projects initiate page -->
        <a href="#"><i class="fas fa-angle-right"></i></a>
        <h3>Initiator</h3>
        <p>Get funding to support your idea or boots on the ground to help carry out your mission.</p>
        <img src="./resources/img/initiator.svg" alt="">
      </div>

      <div class="box">
        <!-- link directs user to projects sponsor page-->
        <a href="#"><i class="fas fa-angle-right"></i></a>
        <h3>Sponsor</h3>
        <p>Put your money or labour where your heart is. Support the mission you'd be proud of.</p>
        <img src="./resources/img/sponsor2.svg" alt="">
      </div>
    </div>

  </div>

</section>

<section class="about-us" id="about">
  <div class="about-image">
    <img src="./resources/img/about-image.svg" alt="">
  </div>
  <div class="about-text">
    <span class="italic">Brand Since 2020</span>
    <h2>The story of <span class="brand">#weRme</span></h2>
    <p>
      <span class="brand">#weRme</span> is a community run by young people with a passion for positivity in effecting
      needful change APOLITICALLY in our diverse societies.
    </p>
    <!-- Placeholder Founder's Signature -->
    <img class="founder-signature" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Agency_signature.png" alt="founder's signature">
  </div>
</section>

<section class="numbers">
  <h2>Our Numbers So Far</h2>
  <div class="boxes">
    <div class="box">
      <h3>2</h3>
      <i class="far fa-handshake"></i> <h5>Projects</h5>
    </div>
    <div class="box">
      <h3>1</h3>
      <i class="fas fa-money-check-alt"></i> <h5>Sponsors</h5>
    </div>
    <div class="box">
      <h3>8</h3>
      <i class="far fa-comments"></i> <h5>Topics</h5>
    </div>
    <div class="box">
      <h3>2</h3>
      <i class="fas fa-trophy"></i> <h5>Awards</h5>
    </div>
  </div>
</section>

<section class="founder">
  <div class="text">
    <h2>Nashe Dan <span>/ Founder</span></h2>
    <p>"Hi, I'm a 24 year old man with a grade seven's results slip as my highest academic certification. If you're looking
    to judge my worth and value from first-look appearances, well then, my story is bleak and mired in failure.
    But if you believe in hard graft, persistence and positivity even in the face of enormous setbacks — then please, hang
    around. And hi, I'm Dan 🙋🏽."</p>

    <p>
      Although the text above is an excerpt from <a href="#">my story</a>, all OUR experiences speak to a broader and
      universal picture.
      That of resilience and belief in oneself and in the deeper sense of 'family' embedded in our social constructs or
      maybe... the lack of it sometimes!
    </p>

    <p>I made <span class="brand">#weRme</span> to create the saviour(s) younger-me
      couldn't find because I believe YOU are out there. And no problem is ever big enough to quell the will and grit of a
      determined collective. That said, don't over-complicate it. Fueling someone's dreams, sometimes it starts with giving them busfare 😉&nbsp;.
    </p>

    <p class="italic">I believe in living for an idea bigger than us. I believe in You and I believe in We!</p>
  </div>
  <div class="image-text">
    <!-- link will diret user to founder page (ABOUT ME PAGE?) -->
    <a href="#">
      <h2> <span class="italic">about</span> Founder</h2>
    </a>
  </div>
</section>

<section class="testimonials">
  <div class="header">
    <span>Our Testimonials</span>
    <h2><span class="brand">#weRme</span> Quotes</h2>
  </div>
  <div class="boxes">
    <div class="box">
      <p>Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3>John Doe</h3>
      <span class="title">Project Manager</span>
      <span class="company">Corporate Inc</span>
    </div>
    <div class="box">
      <p>Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3>Keith Kenning</h3>
      <span class="title">CEO</span>
      <span class="company">Finances for you Ltd</span>
    </div>
    <div class="box">
      <p>Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3>Filip Burton</h3>
      <span class="title">Accountant</span>
      <span class="company">Block Inc</span>
    </div>
  </div>
</section>

<section class="newsletter">

  <div class="newsletter-form">
    <h2>Subscribe to our <span class="brand">newsletter</span></h2>
    <p>You will receive newest information about upcoming projects, sponsorship opportunities and other important information.</p>

    <!-- form will redirect data to be stored somewhere safe -->
    <form action="">
      <input type="email" name="" id="" placeholder="Enter your email" required>
      <input class="bdb bdb-full" type="submit" value="Send">
    </form>
  </div>

</section>

<section class="socials">
  <h2>Our Socials</h2>
  <div class="boxes">
    <div class="box">     
      <a href="https://www.instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="box">      
      <a href="https://twitter.com/tinashe_dan" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/nashe.dan" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="box">
      <a href="https://www.github.com/tinashy" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <!-- link will redirect to a page where a there are offers for users to run our social media for a set time -->
  <a href="#" class="bdb bdb-ghost">Run our socials</a>
</section>

<section class="contact-us" id="contact-us">
  
  <div class="image">
    <img src="./resources/img/contact-us.svg" alt="">
  </div>
  
  <div class="form">
    <div class="our-contacts">
      <h2><span class="brand">Our</span> Contacts</h2>
      <div class="card">
        <div class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="card-txt">
          <h5>Address</h5>
          <p>Street number 5, Town, Country</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="far fa-envelope"></i>
        </div>
        <div class="card-txt">
          <h5>Email</h5>
          <p>tinashydaniel@gmail.com</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-phone-alt"></i>
        </div>
        <div class="card-txt">
          <h5>Telephone</h5>
          <p>(+263) 772 794 678</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="far fa-clock"></i>
        </div>
        <div class="card-txt">
          <h5>Work Hours</h5>
          <p>Mon - Frie. 11am - 19pm</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="card-txt">
          <h5>Additional Information</h5>
          <p class="italic">Please hmu on my socials. I'm more present on IG & Twitter.</p>
        </div>
      </div>
    </div>

    <div class="message">
      <h2>
        <span class="brand">Send Us</span> A Message
      </h2>
      <form action="https://google.com" target="_blank">
        <div class="message-input">
          <label for="name"><h5>Name **</h5></label>
          <input type="text" name="name" id="">
        </div>
        
        <div class="message-input">
          <label for="email"><h5>Email **</h5></label>
          <input type="email" name="email" id="">
        </div>
        
        <div class="message-input">
          <label for="name"><h5>Message text **</h5></label>
          <textarea name="message" id="" cols="30" rows="7"></textarea>
        </div>

        <input class="bdb bdb-full" type="submit" value="send message">
      </form>
      
    </div>
  </div>
</section>

<footer class="l-footer">
  <div class="content">
    <div class="footer-card">
      <h3>About Us</h3>
      <div class="f-text">
        <p>
          <span class="brand">#weRme</span> is a community run by young people with a passion for positivity in effecting
          needful change APOLITICALLY in our different societies.
        </p>
      </div>
      <!-- start by styling this section and replacing the generic links with the correct ones. Now take a rest :) -->
      <a href="https://www.instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/tinashe_dan" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/nashe.dan" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.github.com/tinashy" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-card">
      <h3>Contacts</h3>
      <div class="f-text">
        <p><i class="fas fa-map-marker-alt"></i> Country, Street name-number</p>
        <p><i class="fas fa-phone-alt"></i> (+263) 772 794 678</p>
        <p><i class="far fa-envelope"></i> tinashydaniel@gmail.com</p>
        <p><i class="far fa-clock"></i> Mon-Frie. 11am - 19pm</p>
      </div>
    </div>
    <div class="footer-card">
      <h3>Recent Posts</h3>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Life</span>
          <h5>Introversion confusion</h5>
        </div>
      </div>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Code</span>
          <h5>The dark planet</h5>
        </div>
      </div>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Music</span>
          <h5>Of escapism in dance</h5>
        </div>
      </div>
    </div>
    <div class="footer-card">
      <h3>Latest Projects</h3>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
    </div>
  </div>
  <div class="developer">
    <h3><span class="brand">#weRme</span> Developed by <a href="#">Dan</a></h3>
  </div>
</footer>

<% include ./partials/footer %>