<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="/projects">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<section class="greeting">
  <ul class="greeting__nav">
    <div class="brand greeting__nav--brand">
      <li>#weRme</li>
    </div>
    <div class="greeting__nav--items">
      <!-- this link should redirect to a more faq type content page -->
      <li>
        <a href="/signup" class="nav--item">Join</a>
      </li>
      <li>
        <a href="#features" class="nav--item">Features</a>
      </li>
      <li>
        <a href="#about" class="nav--item">About</a>
      </li>
      <li>
        <a href="#contact-us" class="nav--item">Contact</a>
      </li>
      <li>
        <a href="/blogs" class="btn btn-ghost jiggle">Blog</a>
      </li>
    </div>
  </ul>

  <div class="greeting__boxes">
    <div class="greeting__boxes--box">
      <span class="greeting__box--subHeading">
        You can make a difference
      </span>
      <h1 class="greeting__box--mainHeading">
        Add your voice to our chorus <br>
        Get ur idea funded or<br>
        support a peer's
      </h1>

      <a href="#intro-div" class="btn btn-full"><i class="fas fa-angle-down"></i> See how</a>
    </div>
    <div class="greeting__boxes--image">
      <img src="./resources/img/g-box1.svg" alt="">
    </div>
  </div>
</section>

<section class="intro">
  <div class="intro__container" id="intro-div">
    <div class="intro__container--about">
      <h2>Join minds with others. 
        <br> 
        Become an initiator!</h2>

      <p>From ideas about e-commerce, environmentalism, culture to even intrapersonal growth among youth, <span class="brand">#weRme</span> is a hub of 
        initiators seeking practical betterment in our communities.</p>

      <a href="/signup" class="btn btn-full">Join</a>
    </div>

    <div class="intro__container--give">
      <img src="./resources/img/sponsor.svg" alt="">

      <h2>Sponsor</h2>

      <p>
        "An idea is salvation by imagination"... use our <a href="/projects">projects app</a> to find ideas that can save your pocket or soul on a rainy day!
      </p>

      <p>Invest in yourself by supporting a peer's idea.</p>
    </div>

    <div class="intro__container--receive">
      <img src="./resources/img/receive.svg" alt="">

      <h2>Initiator</h2>

      <p>
        Is it a burst of fresh enthusiasm from a stranger's POV to an idea that's only known the walls of your mind, or
        just — busfare?
      </p>

      <p>It's that simple to unlock your potential.</p>
    </div>

  </div>

  <div class="features" id="features">

    <div class="features__head">
      <h2>How to use <span class="brand features__head--brand">#weRme</span></h2>
      <p class="italic">the right to shape the future, the choice to pick your side</p>
    </div>

    <div class="boxes features__boxes">
      <div class="box features__boxes--box">
        <!-- link directs user to blog -->
        <a href="/blogs"><i class="fas fa-angle-right"></i></a>
        <h3>Lurker</h3>
        <p>Browse around, read posts from <a href="/blogs">our blog</a> until you get a project or idea to support.</p>
        <img src="./resources/img/lurker.svg" alt="">
      </div>

      <div class="box features__boxes--box">
        <!-- link directs user to projects initiate page -->
        <a href="/projects"><i class="fas fa-angle-right"></i></a>
        <h3>Initiator</h3>
        <p>Get funding to support your idea or boots on the ground to help carry out your mission.</p>
        <img src="./resources/img/initiator.svg" alt="">
      </div>

      <div class="box features__boxes--box">
        <!-- link directs user to projects sponsor page-->
        <a href="/projects"><i class="fas fa-angle-right"></i></a>
        <h3>Sponsor</h3>
        <p>Put your money or labour where your heart is. Support the mission you'd be proud of.</p>
        <img src="./resources/img/sponsor2.svg" alt="">
      </div>
    </div>

  </div>

</section>

<section class="about" id="about">
  <div class="about__image">
    <img class="about__image--img" src="./resources/img/about-image.svg" alt="">
  </div>
  <div class="about__text">
    <span class="italic about__text--sub">Brand Since 2020</span>
    <h2 class="about__text--main">The story of <span class="brand">#weRme</span></h2>
    <p class="about__text--phrase">
      <span class="brand">#weRme</span> is a community run by young people with a passion for positivity in effecting
      needful change APOLITICALLY in our diverse societies.
    </p>
    <!-- Placeholder Founder's Signature -->
    <img class="about--signature" src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Agency_signature.png" alt="founder's signature">
  </div>
</section>

<section class="founder">
  <div class="founder__text">
    <h2 class="founder__text--mainHeading">Nashe Dan 
      <span class="founder__text--subHeading">/ Founder</span>
    </h2>
    <p class="founder__text--paragraph">"Hi. I'm a highschool dropout who quite like you, is living in a world of perspectives defined by celebrated scholarly naivete. I've grown to understand that in most rooms, this fact speaks loads against me but I don't mind though.
    The loudest boos often come from the nosebleeds. If you are positive and daring in your pursuit of right, please hang
    around. You may have found a friend in me. Oh and hi again, <a href="/projects">I'm Dan!</a> 🙋🏽."</p>

    <p class="founder__text--paragraph">
      Although the text above is an excerpt from <a href="/projects">my story</a>, all OUR human experiences speak to a broader and
      universal picture.
      That of resilience and belief in oneself and in the deeper sense of 'family' embedded in our social constructs or
      maybe... the lack of it sometimes!
    </p>

    <p class="founder__text--paragraph">While I still draw great inspiration from the stories my hidden scars tell, it took me a fair bit of time to realize it takes courage to admit that we all need help sometimes.
      That is why I created #weRme. To make positive change and to make it together.
    </p>

    <p class="italic founder__text--paragraph">Let's live for <span class="brand">We</span> &nbsp; 'N feel good while <span class="brand">doing it.</span></p>
  </div>
  <div class="founder__image">
    <!-- link will diret user to founder page (ABOUT ME PAGE?) -->
    <a href="/projects">
      <h2 class="founder__image--mainHeading"> <span class="italic founder__image--subHeading">about</span> Foundɘr</h2>
    </a>
  </div>
</section>

<section class="numbers">
  <h2 class="numbers__main--heading">Our Numbers So Far</h2>
  <div class="boxes numbers__boxes">
    <div class="box numbers__boxes--box">
      <h3 class="numbers__boxes--digit">2</h3>
      <i class="far fa-handshake numbers__boxes--icon"></i> 
      <h5 class="numbers__boxes--title">Projects</h5>
    </div>
    <div class="box numbers__boxes--box">
      <h3 class="numbers__boxes--digit">1</h3>
      <i class="fas fa-money-check-alt numbers__boxes--icon"></i> 
      <h5 class="numbers__boxes--title">Sponsors</h5>
    </div>
    <div class="box numbers__boxes--box">
      <h3 class="numbers__boxes--digit">8</h3>
      <i class="far fa-comments numbers__boxes--icon"></i> 
      <h5 class="numbers__boxes--title">Topics</h5>
    </div>
    <div class="box numbers__boxes--box">
      <h3 class="numbers__boxes--digit">2</h3>
      <i class="fas fa-trophy numbers__boxes--icon"></i> 
      <h5 class="numbers__boxes--title">Awards</h5>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="testimonials__header">
    <span class="testimonials__header--main">
      Our Testimonials
    </span>
    <h2 class="testimonials__header--sub">
      <span class="brand testimonials__header--brand">#weRme</span> Quotes
    </h2>
  </div>
  <div class="boxes testimonials__boxes">
    <div class="box testimonials__box">
      <p class="testimonials__box--paragraph">Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3 class="testimonials__box--name">John Doe</h3>
      <span class="testimonials__box--title">Project Manager</span>
      <span class="testimonials__box--company">Corporate Inc</span>
    </div>
    <div class="box testimonials__box">
      <p class="testimonials__box--paragraph">Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3 class="testimonials__box--name">Keith Kenning</h3>
      <span class="testimonials__box--title">CEO</span>
      <span class="testimonials__box--company">Finances for you Ltd</span>
    </div>
    <div class="box testimonials__box">
      <p class="testimonials__box--paragraph">Lorem ipsum dolor sit amet, consec- tetur adipiscing elit. Cras sed dui tempus, vestibulum tellus a, gravida orci. <br>
        Vivamus id hendrerit risus. Nam vel eleifend arcu. Curabitur rutrum lorem
      </p>
      <h3 class="testimonials__box--name">Filip Burton</h3>
      <span class="testimonials__box--title">Accountant</span>
      <span class="testimonials__box--company">Block Inc</span>
    </div>
  </div>
</section>

<section class="newsletter">

  <div class="newsletter-form">
    <h2>Subscribe to our <span class="brand">newsletter</span></h2>
    <p>You will receive newest information about upcoming projects, sponsorship opportunities and other important information.</p>

    <!-- form will redirect data to be stored somewhere safe -->
    <form action="">
      <input type="email" name="" id="" placeholder="Enter your email" required>
      <input class="btn btn-full" type="submit" value="Send">
    </form>
  </div>

</section>

<section class="socials">
  <h2>Our Socials</h2>
  <div class="boxes socials__boxes">
    <div class="box">     
      <a href="https://www.instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="box">      
      <a href="https://twitter.com/tinashe_dan" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/nashe.dan" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="box">
      <a href="https://www.github.com/tinashy" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <!-- link will redirect to a page where a there are offers for users to run our social media for a set time -->
  <a href="/projects" class="btn btn-ghost">Run our socials</a>
</section>

<section class="contact-us" id="contact-us">
  
  <div class="image">
    <img src="./resources/img/contact-us.svg" alt="">
  </div>
  
  <div class="form">
    <div class="our-contacts">
      <h2><span class="brand">Our</span> Contacts</h2>
      <div class="card">
        <div class="icon">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <div class="card-txt">
          <h5>Address</h5>
          <p>Street number 5, Town, Country</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="far fa-envelope"></i>
        </div>
        <div class="card-txt">
          <h5>Email</h5>
          <p>tinashydaniel@gmail.com</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-phone-alt"></i>
        </div>
        <div class="card-txt">
          <h5>Telephone</h5>
          <p>(+263) 772 794 678</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="far fa-clock"></i>
        </div>
        <div class="card-txt">
          <h5>Work Hours</h5>
          <p>Mon - Frie. 11am - 19pm</p>
        </div>
      </div>

      <div class="card">
        <div class="icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="card-txt">
          <h5>Additional Information</h5>
          <p class="italic">Please hmu on my socials. I'm more present on IG & Twitter.</p>
        </div>
      </div>
    </div>

    <div class="message">
      <h2>
        <span class="brand">Send Us</span> A Message
      </h2>
      <form action="#" target="">
        <div class="message-input">
          <label for="name"><h5>Name **</h5></label>
          <input type="text" name="name" id="">
        </div>
        
        <div class="message-input">
          <label for="email"><h5>Email **</h5></label>
          <input type="email" name="email" id="">
        </div>
        
        <div class="message-input">
          <label for="name"><h5>Message text **</h5></label>
          <textarea name="message" id="" cols="30" rows="7"></textarea>
        </div>

        <input class="btn btn-full" type="submit" value="send message">
      </form>
      
    </div>
  </div>
</section>

<footer class="l-footer">
  <div class="content">
    <div class="footer-card">
      <h3>About Us</h3>
      <div class="f-text">
        <p>
          <span class="brand">#weRme</span> is a community run by young people with a passion for positivity in effecting
          needful change APOLITICALLY in our different societies.
        </p>
      </div>
      <!-- start by styling this section and replacing the generic links with the correct ones. Now take a rest :) -->
      <a href="https://www.instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/tinashe_dan" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/nashe.dan" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.github.com/tinashy" target="_blank"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-card">
      <h3>Contacts</h3>
      <div class="f-text">
        <p><i class="fas fa-map-marker-alt"></i> Country, Street name-number</p>
        <p><i class="fas fa-phone-alt"></i> (+263) 772 794 678</p>
        <p><i class="far fa-envelope"></i> tinashydaniel@gmail.com</p>
        <p><i class="far fa-clock"></i> Mon-Frie. 11am - 19pm</p>
      </div>
    </div>
    <div class="footer-card">
      <h3>Recent Posts</h3>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Life</span>
          <h5>Introversion confusion</h5>
        </div>
      </div>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Code</span>
          <h5>The dark planet</h5>
        </div>
      </div>
      <div class="f-posts">
        <div class="f-head">
          <img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Blog_1-1024x683.jpg" alt="">
        </div>
        <div class="f-body">
          <span>Music</span>
          <h5>Of escapism in dance</h5>
        </div>
      </div>
    </div>
    <div class="footer-card">
      <h3>Latest Projects</h3>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
      <a href="#"><img src="https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/02/Portfolio_2_2-989x1024.jpg" alt=""></a>
    </div>
  </div>
  <div class="developer">
    <h3><span class="brand">#weRme</span> Designed & Developed by <a href="#">Dan</a></h3>
  </div>
</footer>

<% include ./partials/footer %>