<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="#">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

  <div class="hero-l">
    
  </div>

  <div class="showcase-l">
    
    <h1>Peer-to-peer.
      <br> 
        Let's actualize our small town dreams!
    </h1>

    <div class="cta-buttons">
      <a href="/signup" class="bdb bdb-full">join</a> <a href="#" class="bdb bdb-ghost">Tell me more</a>
    </div>

  </div>

</div>

<section class="intro">
  <div class="intro-div">
    <div class="about">
      <h2>Join minds with others. 
        <br> 
        Become an initiator!</h2>

      <p>From commerce, environmentalism, fashion to even intrapersonal growth among youth, #weRme is a hub of 
        initiators seeking practical betterment.</p>

      <a href="#" class="bdb bdb-full">Join</a>
    </div>

    <div class="give">
      <img src="./resources/img/sponsor.svg" alt="">

      <h2>Sponsor</h2>

      <p>
        "An idea is salvation by imagination"... use our <a href="#">projects app</a> to find ideas that can save your pocket or soul on a rainy day!
      </p>

      <p>Invest in yourself by supporting a peer's idea.</p>
    </div>

    <div class="receive">
      <img src="./resources/img/receive.svg" alt="">

      <h2>Initiator</h2>

      <p>
        Is it a burst of fresh enthusiasm from a stranger's POV to an idea that's only known the walls of your mind, or just busfare? 
      </p>

      <p>It's that simple to unlock your potential.</p>
    </div>

  </div>

</section>

<% include ./partials/footer %>