<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<header class="projects">
  <section class="projects-container">
    <ul class="logo-box">
      <li class="brand">urAfro</li>
      <!-- Remove this inline style ish when you're done styling the thing -->
      <li><a href="/" class="bdb bdb-ghost">Home</a></li>
    </ul>

    <section class="content">  
      <div class="text-box">
        <h1>Our developers are still cooking<br> 
          up the magic potions.
        </h1>

        <span>🙇🏽‍♂️ &nbsp; Bummer right? Sign up to be the first<br> 
            to know when we launch!
        </span>

        <form action="/projects" method="POST">
        
          <div class="projects-email">
            <input type="email" name="email" id="" placeholder="Enter your email here*" required>
          </div>

          <input class="bdb bdb-full" type="submit" value="notify me">

          <div class="small-socials">
            <a href="https://www.instagram.com/official_urafro" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/official_urafro" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.reddit.com/r/urafro" target="_blank"><i class="fab fa-reddit"></i></a>
          </div>
        </form>
      </div>
      <div class="image-box">
        
      </div>
    </section>

    <section class="contacts">
      <div class="contact-card">
        <div class="card-primary">
          <h4>Contact</h4>
        </div>
        <div class="card-secondary">
          <p>WhatsApp. +263 772 794 678</p>
          <p>Email: official.urafro@gmail.com</p>
        </div>
      </div>
      <div class="contact-card">
        <div class="card-primary">
          <h4>Head Office</h4>
        </div>
        <div class="card-secondary">
          <p>01 1997 New Office Street</p>
          <p>Harare, Zimbabwe ZW 263</p>
        </div>
      </div>
    </section>

    <section class="footer">
      <p>&copy; 2023 <span class="brand">urAfro</span> Proudly designed & developed by <a href="#">Dan</a></p>
    </section>

  </section>
</header>

<% include ./partials/footer %>