<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
      <a href="#">Projects</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<header class="projects">
  <section class="projects-container">
    <ul class="logo-box">
      <li class="brand">#weRme</li>
      <!-- Remove this inline style ish when you're done styling the thing -->
      <li><a href="/" style="color: #000;">Home</a></li>
    </ul>

    <section class="content">  
      <div class="text-box">
        <h1>Our developers are cooking<br> 
          up the magic spells.
        </h1>

        <span>Sign up to be the first to know when we launch</span>

        <form action="#" target="">
        
          <div class="projects-email">
            <input type="email" name="email" id="" placeholder="Enter your email here*" required>
          </div>

          <input class="bdb bdb-full" type="submit" value="notify me">

          <div class="small-socials">
            <a href="https://www.instagram.com/nashe_dan" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/tinashe_dan" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/nashe.dan" target="_blank"><i class="fab fa-facebook"></i></a>
          </div>
        </form>
      </div>
      <div class="image-box">

      </div>
    </section>

    <section class="socials">

    </section>
  </section>
</header>

<% include ./partials/footer %>