<% include ./partials/header %>

<div class="container landing-section">

  <div class="l-container">

    <span class="menu-icon" id="menuIcon" onclick="openMenu()">&#9776;</span>

  </div>

  <div class="menu-container" id="navbar">

    <span class="closebtn" onclick="closeMenu()">&times</span>

    <div class="menu-content">
      <a href="/blogs">Blog</a>
      <!-- will create an about page with mission statement and what-not -->
      <a href="#">About</a>
      <!-- create a contact us panel with socials -->
      <a href="#">Contact Us</a>
      <% if (!currentUser) { %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <% } %>
      <% if (currentUser) { %>
      <a href="/logout">Logout</a>
      <% } %>
    </div>
  </div>

</div>

<section class="projects">
  <div class="projects__content">
    <ul class="projects__content--logoBox">
      <li class="brand projects__content--logo">urAfro</li>
      <!-- Remove this inline style ish when you're done styling the thing -->
      <li><a href="/" class="btn btn-ghost">Home</a></li>
    </ul>

    <section class="projects__content--body">  
      <div class="projects__textBox">
        <h1 class="projects__textBox--heading">Our developers are still cooking<br> 
          up the magic portions.
        </h1>

        <span class="projects__textBox--span">🙇🏽‍♂️ &nbsp; Bummer right? Sign up to be the first<br> 
            to know when we launch
        </span>

        <form class="projects__textBox--form" action="/projects" method="POST">
        
          <div class="projects__textBox--email">
            <input class="inputsBox--input projects__textBox--emailInput" type="email" name="email" id="" placeholder="Enter your email here*" required>
          </div>

          <input class="btn btn-full projects__textBox--submit" type="submit" value="notify me">

          <div class="projects__textBox--smallSocials">
            <a class="projects__textBox--smallLink" href="https://www.instagram.com/official_urafro" target="_blank"><i class="fab fa-instagram"></i></a>
            <a class="projects__textBox--smallLink" href="https://twitter.com/official_urafro" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="projects__textBox--smallLink" href="https://www.reddit.com/r/urafro" target="_blank"><i class="fab fa-reddit"></i></a>
          </div>
        </form>
      </div>
      <div class="projects__imageBox">
        
      </div>
    </section>

    <section class="projects__content--contacts">
      <div class="projects__card">
        <div class="projects__card--primary">
          <h4 class="projects__card--primaryHeading">Contact</h4>
        </div>
        <div class="projects__card--secondary">
          <p class="projects__card--secondaryParagraph">Whatsapp. +263 772 794 678</p>
          <p class="projects__card--secondaryParagraph">Email: official.urafro@gmail.com</p>
        </div>
      </div>
      <div class="projects__card">
        <div class="projects__card--primary">
          <h4 class="projects__card--primaryHeading">Head Office</h4>
        </div>
        <div class="projects__card--secondary">
          <p class="projects__card--secondaryParagraph">01 1997 New Office Street</p>
          <p class="projects__card--secondaryParagraph">Harare, Zimbabwe ZW 263</p>
        </div>
      </div>
    </section>

    <section class="projects__content--footer">
      <p>&copy; 2021 <span class="brand">urAfro</span> Proudly designed & developed by <a href="#">Dan</a></p>
    </section>

  </div>
</section>

<% include ./partials/footer %>