<% include ./partials/header %>

<div class="container">

  <div class="hero">
    <div class="l-container">

      <span class="menu-icon" onclick="openMenu()">&#9776;</span>

    </div>

    <div class="menu-container" id="navbar">

      <span class="closebtn" onclick="closeMenu()">&times</span>

      <div class="menu-content">
        <a href="/blogs">Home</a>
        <!-- will create an about page with mission statement and what-not -->
        <a href="#">About</a>
        <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
        <a href="#">Projects</a>
        <!-- create a contact us panel with socials -->
        <a href="#">Contact Us</a>
        <% if (!currentUser) { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <% } %>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
      </div>
    </div>

    <div class="header">
      <a href="#">
        <!-- dynamic placeholder avatar -->
        <img src="https://i.imgur.com/f89JM9hs.png" %>" alt="author image">
      </a>
      <h2>Join.</h2>
      <p>Even finding worthy ideas to support can be a tedious task. Add your voice to our chorus!</p>
      <a href="#" class="hero-btn hero-btn-full">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="hero-btn hero-btn-ghost">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>

  <div class="showcase">

    <div class="show-wrapper">

      <div class="comment">
        <div class="section zero">

          <div class="content-inputs">

            <h2>Sign Up</h2>

            <form action="/signup" method="POST">

              <div class="box-content auth">

                <label for="username">Username**</label>
                <input type="text" name="username" id="username" placeholder="John" required>
                
                <label for="bio">Your Bio**</label>

                <textarea name="bio" id="bio" cols="30" rows="5" placeholder="My name is John and I write about food, love and meme culture! [short & concise. don't shout at us with big caps lol]" required></textarea>

                <label for="password">Password**</label>
                <input type="password" name="password" id="password" placeholder="Put in on lock :)">

                <input class="bdb bdb-full" id="auth-button" type="submit" value="join us">

                <h5>Already have an account? &nbsp; <a href="/login">Login!</a></h5>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>
        Copyright &copy; <span>#weRme</span>. Inspired by <a href="http://template-my-life.webflow.io/" target="_blank">
          Webflow </a>
      </p>
    </footer>
  </div>

</div>


<% include ./partials/footer %>

<!-- Notes for further developent -->
<!-- elements to be changed to variables 

  1. .hero h1
  2. .header img
  3. .header h2
  4. .header p
  
  figure out how to put dynamic social media links there

-->