<% include ../partials/header %>

<nav class="smeNav">
  <ul class="smeNavItems">
    <div class="smeNavItems__brand">
      <li class="smeNavItems__brand--name"><a href="/" class="smeNavItems__brand--link">urafro</a></li>
      <span class="smeNavItems__brand--country">Zimbabwe</span>
    </div>

    <div class="smeNavItems__links">
      <li class="smeNavItems__links--li smeNavItems__links--number">
        +263 772 794 678
      </li>
      <!-- link to pricing page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Pricing</a>
      </li>
      <!-- link to how-to page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">How-to</a>
      </li>
      <!-- link to e-commerce blog page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Blog</a>
      </li>
      <!-- link to sme sign up route -->
      <a href="#" class="btn btn-full smeNav--btn">start free trial</a>
    </div>
  </ul>
</nav>

<div class="smeIntro">
  <div class="smeIntro__header">
    <h1 class="smeIntro__header--main">
      The platform African commerce is built on
    </h1>
  </div>
  <div class="smeIntro__body">
    <p class="smeIntro__body--paragraph">
      urafro is helping businesses get online, sell and help design an afrocentric solution to our continental challenge of logistics
    </p>
  </div>
  <form action="" method="POST" class="smeIntro__form">
    <input class="smeIntro__form--input" type="text" name="number" placeholder="Enter your phone number" required>
    <input type="submit" value="Start free trial" class="btn btn-full smeIntro__form--btn">
  </form>
  <div class="smeIntro__disclaimer">
    <p class="smeIntro__disclaimer--paragraph">Try urafro free for 30 days, no credit card required. By entering your phone number, you agree to receive marketing messages from urafro.</p>
  </div>
</div>

<div class="smeFeatures">
  <div class="smeFeatures__head">
    <h2 class="smeFeatures__head--title">
      Bring your African business online. Let us help you create an ecommerce website backed by powerful tools to help you find customers, improve sales, manage your inventory and simplify your day-to-day
    </h2>
  </div>

  <div class="smeFeatures__boxes">
    <div class="smeFeatures__boxes--box smeFbox">
      <div class="smeFbox__text">
        <h5 class="smeFbox__text--small">
          Startup
        </h5>
        <h2 class="smeFbox__text--big">
          Start an online business
        </h2>

        <p class="smeFbox__text--paragraph">
          It's easier to start with an online shop and progress to a physical retail outlet when you're first getting into the selling business. We make it easy to bet on yourself
        </p>

        <a href="#" class="btn btn-ghost">get your website</a>
      </div>

      <div class="smeFbox__image">
        <!-- temporary image url to be replaced by statci downloaded image -->
        <img src="https://images.unsplash.com/photo-1544995228-a7a3abc39d89?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2970&q=80" alt="" class="smeFbox__image--img">
      </div>
    </div>

    <div class="smeFeatures__boxes--box smeFbox">
      <div class="smeFbox__image">
        <!-- temporary image url to be replaced by statci downloaded image -->
        <img src="https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" alt="" class="smeFbox__image--img">
      </div>

      <div class="smeFbox__text smeFbox__textRight">
        <h5 class="smeFbox__text--small">
          retailer
        </h5>
        <h2 class="smeFbox__text--big">
          Move your business online
        </h2>

        <p class="smeFbox__text--paragraph smeFbox__text--paragraphRight">
          Let us help you turn your retail store into an online store and reach more customers without much hassle
        </p>

        <a href="#" class="btn btn-full">get your website</a>
      </div>
    </div>
    
    <div class="smeFeatures__boxes--box smeFbox">
      <div class="smeFbox__text">
        <h5 class="smeFbox__text--small">
          already have a website?
        </h5>
        <h2 class="smeFbox__text--big">
          Switch to urafro e-commerce
        </h2>

        <p class="smeFbox__text--paragraph">
          Bring your business to urafro no matter which ecommerce platform you were using. We will transfer your domain for free and hold your *sanitized* hand throughout the whole process
        </p>

        <a href="#" class="btn btn-ghost">get started for free</a>
      </div>

      <div class="smeFbox__image">
        <!-- temporary image url to be replaced by statci downloaded image -->
        <img src="https://images.unsplash.com/photo-1507209696998-3c532be9b2b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" alt="" class="smeFbox__image--img">
      </div>
    </div>

    <div class="smeFeatures__boxes--box smeFbox">
      <div class="smeFbox__image">
        <!-- temporary image url to be replaced by statci downloaded image -->
        <img src="https://images.unsplash.com/photo-1532619675605-1ede6c2ed2b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80" alt="" class="smeFbox__image--img">
      </div>

      <div class="smeFbox__text smeFbox__textRight">
        <h5 class="smeFbox__text--small">
          hands-free launch
        </h5>
        <h2 class="smeFbox__text--big">
          You get expert help
        </h2>

        <p class="smeFbox__text--paragraph smeFbox__text--paragraphRight">
          One of our software engineers will help you pick a design and launch your website so you don't have to think about anything technical like domains, hosting or code!
        </p>

        <a href="#" class="btn btn-ghost">get your website</a>
      </div>
    </div>

    <div class="smeFeatures__boxes--box smeFbox">
      <div class="smeFbox__text">
        <h5 class="smeFbox__text--small">
          websites + inventory
        </h5>
        <h2 class="smeFbox__text--big">
          Create more than just a website
        </h2>

        <p class="smeFbox__text--paragraph">
          <span class="smeFbox__text--paragraphBold">We'll help you create AND run, a modern, professional and custom website with ease:</span> you run the business! We think that's a big enough responsibility to have to worry about what a domain is or when it's going to expire. Leave all the website maintenance to us
        </p>

        <p class="smeFbox__text--paragraph">
          <span class="smeFbox__text--paragraphBold">Work with the pros to help refine your design taste and create the best website for your idea. </span> You'll get a urafro software engineer to work with you in translating your idea from paper to website design
        </p>

        <p class="smeFbox__text--paragraph">
          <span class="smeFbox__text--paragraphBold">Be visible on search engines most frequented by your customers:</span> leverage the power of our intergrated tools dedicated to local SEO, social media and SMS marketing. 
        </p>

        <p class="smeFbox__text--paragraph">
          <span class="smeFbox__text--paragraphBold">Leave nothing to chance:</span> with urafro Insight and AI-powered financial advice tailored for your business
        </p>

        <a href="#" class="btn btn-full">get started for free</a>
      </div>

      <div class="smeFbox__image">
        <!-- temporary image url to be replaced by statci downloaded image -->
        <img src="https://images.unsplash.com/photo-1531837763904-5d3cb2632ea3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1460&q=80" alt="" class="smeFbox__image--img">
      </div>
    </div>

  </div>
</div>

<div class="smeBreaker">
  <div class="smeBreaker__header">
    <h2 class="smeBreaker__header--main">
      It all starts with a website.
    </h2>
  </div>
  <div class="smeBreaker__paragraph">
    <p class="smeBreaker__paragraph--p">
      Bring your idea to life. Claim your online identity with a website.
    </p>
  </div>
  <div class="smeBreaker__button">
    <a href="#" class="btn btn-full">get started for free</a>
  </div>
</div>

<div class="smeCta">
  <div class="smeCta--empty"></div>

  <div class="smeCta--text">
    <div class="smeCta__head">
      <h5 class="smeCta__head--small">urafro guides</h5>
      <h2 class="smeCta__head--big">Why choose urafro?</h2>
    </div>
    <div class="smeCta__body">
      <p class="smeCta__body--paragraph">Because we know that even the best performing technology needs the best specialists. This is why we provide permanent specialized telephone technical support, among other things.
      </p>
  
      <p class="smeCta__body--paragraph smeCta__body--paragraphLast">
        Call our technical support team on +263 772 794 678.
      </p>
    </div>
  
    <div class="smeCta__button">
      <a href="#" class="btn btn-ghost smeCta__button--btn">Get help</a>
    </div>
  </div>
</div>

<div class="smeBreaker smeBreakerTwo">
  <div class="smeBreaker__header">
    <h2 class="smeBreaker__header--main">
      Plant the seeds of your journey with urafro
    </h2>
  </div>
  <div class="smeBreaker__paragraph">
    <p class="smeBreaker__paragraph--p">
      Try urafro for free, and explore all the tools and services you need to start, run, and grow your business.
    </p>
  </div>
  <div class="smeBreaker__button">
    <a href="#" class="btn btn-full">start free trial</a>
  </div>
</div>

<div class="smeBio">
  <div class="smeBio__head">
    <h2 class="smeBio__head--main">
      urafro e-commerce is your African business' best partner because we ARE you. it helps that we are literally the best afrocentric software developers too. say hi, let's make something cool together!
    </h2>
  </div>
</div>

<% include ../partials/smeFooter %>

<% include ../partials/footer %>