<% include ../partials/header %>

<nav class="smeNav">
  <ul class="smeNavItems">
    <div class="smeNavItems__brand">
      <li class="smeNavItems__brand--name"><a href="/" class="smeNavItems__brand--link">urafro</a></li>
      <span class="smeNavItems__brand--country">Zimbabwe</span>
    </div>

    <div class="smeNavItems__links">
      <li class="smeNavItems__links--li smeNavItems__links--number">
        +263 772 794 678
      </li>
      <!-- link to pricing page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Pricing</a>
      </li>
      <!-- link to how-to page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">How-to</a>
      </li>
      <!-- link to e-commerce blog page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Blog</a>
      </li>
      <!-- link to sme sign up route -->
      <a href="#" class="btn btn-full smeNav--btn">start free trial</a>
    </div>
  </ul>
</nav>

<div class="smeIntro">
  <div class="smeIntro__header">
    <h1 class="smeIntro__header--main">
      The platform African commerce is built on
    </h1>
  </div>
  <div class="smeIntro__body">
    <p class="smeIntro__body--paragraph">
      More than 90% of African trade is done offline. urafro is helping businesses get online, sell and help design an afrocentric solution to our continental challenge of logistics
    </p>
  </div>
  <form action="" method="POST" class="smeIntro__form">
    <input class="smeIntro__form--input" type="text" name="number" placeholder="Enter your phone number">
    <input type="submit" value="Start free trial" class="btn btn-full smeIntro__form--btn">
  </form>
  <div class="smeIntro__disclaimer">
    <p class="smeIntro__disclaimer--paragraph">Try urafro free for 30 days, no credit card required. By entering your phone number, you agree to receive marketing messages from urafro.</p>
  </div>
</div>

<% include ../partials/footer %>