<% include ../partials/header %>

<nav class="smeNav">
  <ul class="smeNavItems">
    <div class="smeNavItems__brand">
      <li class="smeNavItems__brand--brand brand">urafro</li>
    </div>

    <div class="smeNavItems__links">
      <li class="smeNavItems__links--li">
        +263 772 794 678
      </li>
      <!-- link to pricing page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Pricing</a>
      </li>
      <!-- link to how-to page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">How-to</a>
      </li>
      <!-- link to e-commerce blog page -->
      <li class="smeNavItems__links--li">
        <a href="#" class="smeNavItems__links--link">Blog</a>
      </li>
      <!-- link to sme sign up route -->
      <li class="smeNavItems__links--li">
        <a href="#" class="btn btn-full">start free trial</a>
      </li>
    </div>
  </ul>
</nav>

<% include ../partials/footer %>