<!-- include html head items -->
<% include ../partials/header %>
<!-- include ecommerce nav -->
<% include ../partials/ecommerceNav %>

<!-- BODY GOES INSIDE HERE -->
<section class="ePrice">
  <div class="ePrice__header">
    <h1 class="ePrice__header--main">
      Get your website, pick a plan later
    </h1>
    <p class="ePrice__header--paragraph">
      Try urafro ecommerce free for 30 days, no credit card required
    </p>
    <a href="#" class="btn btn-full">Start your free trial</a>
  </div>

  <div class="ePrice__boxes">
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          basic urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for new ecommerce businesses with occassional in-person sales
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">15</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>
    
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for growing businesses selling online or in-store
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">75</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>

    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          advanced urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for businesses that require advanced inventory management
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">175</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ePrice__bottom">
    <a href="#" class="ePrice__bottom--btn"><i class="fas fa-plus ePrice__bottom--btnIcon"></i> Show plan features</a>
  </div>
</section>

<section class="eFeatures">
  <div class="eFeatures__head">
    <div class="eFeatures__head--empty"></div>
    <div class="eFeatures__head--basic efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          Basic urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            15
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--urafro efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            75
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--advanced efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          advanced urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            15
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="eFeatures__body">
    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        Features
      </h3>
    </div>
  </div>
</section>
<!-- BODY ENDS HERE -->

<!-- include ecommer footer -->
<% include ../partials/smeFooter %>
<!-- include javascript footer links -->
<% include ../partials/footer %>