<!-- include html head items -->
<% include ../partials/header %>
<!-- include ecommerce nav -->
<% include ../partials/ecommerceNav %>

<!-- BODY GOES INSIDE HERE -->
<section class="ePrice">
  <div class="ePrice__header">
    <h1 class="ePrice__header--main">
      Get your website, pick a plan later
    </h1>
    <p class="ePrice__header--paragraph">
      Try urafro ecommerce free for 30 days, no credit card required
    </p>
    <a href="#" class="btn btn-full">Start your free trial</a>
  </div>
  <div class="ePrice__boxes"></div>
  <div class="ePrice__bottom"></div>
</section>
<!-- BODY ENDS HERE -->

<!-- include ecommer footer -->
<% include ../partials/smeFooter %>
<!-- include javascript footer links -->
<% include ../partials/footer %>