<% include ../partials/header %>

<section class="smeNav">
  <ul class="smeNavItems">
    <div class="smeNavItems__brand">
      <li class="smeNavItems__brand--name"><a href="/" class="smeNavItems__brand--link">urafro</a></li>
      <span class="smeNavItems__brand--country">Zimbabwe</span>
    </div>

    <div class="smeNavItems__links">
      <li class="smeNavItems__links--li smeNavItems__links--number">
        +263 772 794 678
      </li>
      <!-- link to pricing page -->
      <li class="smeNavItems__links--li">
        <a href="/projects" class="smeNavItems__links--link">Pricing</a>
      </li>
      <!-- link to how-to page -->
      <li class="smeNavItems__links--li">
        <a href="/projects" class="smeNavItems__links--link">How-to</a>
      </li>
      <!-- link to e-commerce blog page -->
      <li class="smeNavItems__links--li">
        <a href="/projects" class="smeNavItems__links--link">Blog</a>
      </li>
      <!-- link to sme sign up route -->
      <a href="/projects" class="btn btn-full smeNav--btn">start free trial</a>
    </div>

    <nav role='navigation' class="ecoMenu">
      <div class="ecoMenu__toggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" class="ecoMenu__toggle--input" />
        
        <!--
        Some spans to act as a hamburger.
        
        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span class="ecoMenu__toggle--span"></span>
        <span class="ecoMenu__toggle--span"></span>
        <span class="ecoMenu__toggle--span"></span>
        
        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul class="ecoMenu__toggle--menu">
          <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">start</li></a>
          <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">get free website</li></a>
          <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">how-to</li></a>
          <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">features</li></a>
          <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">sell online</li></a>

          <div class="ecoMenu__toggle--middle">
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">pricing</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">learn</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">Login</li></a>

            <!-- link to pricing -->
            <a href="#" class="btn btn-full ecoMenu__toggle--middleBtn">start free trial</a>
          </div>

          <div class="ecoMenu__toggle--bottom">
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">about</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">careers</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">blog</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li ecoMenu__toggle--liBrand">urafro Plus</li></a>
            <a class="ecoMenu__toggle--link" href="/projects"><li class="ecoMenu__toggle--li">Sitemap</li></a>
          </div>
        </ul>
      </div>
    </nav>
  </ul>
</section>

<% include ../partials/smeFooter %>

<% include ../partials/footer %>