<!-- include html head items -->
<% include ../partials/header %>
<!-- include ecommerce nav -->
<% include ../partials/ecommerceNav %>

<!-- BODY GOES INSIDE HERE -->
<section class="ePrice">
  <div class="ePrice__header">
    <h1 class="ePrice__header--main">
      Get your website, pick a plan later
    </h1>
    <p class="ePrice__header--paragraph">
      Try urafro ecommerce free for 30 days, no credit card required
    </p>
    <a href="#" class="btn btn-full">Start your free trial</a>
  </div>

  <div class="ePrice__boxes">
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          basic urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for new ecommerce businesses with occassional in-person sales
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">15</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>
    
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for growing businesses selling online or in-store
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">75</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>

    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          advanced urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for businesses that require advanced inventory management
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">175</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ePrice__bottom">
    <a href="#" class="ePrice__bottom--btn"><i class="fas fa-plus ePrice__bottom--btnIcon"></i> Show plan features</a>
  </div>
</section>

<section class="eFeatures">
  <div class="eFeatures__head">
    <div class="eFeatures__head--empty"></div>
    <div class="eFeatures__head--basic efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          Basic urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            15
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--urafro efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            75
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--advanced efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          advanced urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            150
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="eFeatures__body">
    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        Features
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Online Store</h4>
        <p class="efRow__head--paragraph">Includes ecommerce website and inventory management system.</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Unlimited products</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Staff Accounts</h4>
        <p class="efRow__head--paragraph">Staff members with access to urafro ecommerce admin controls.</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">1</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">3</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">12</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">24/7 support</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">SMS marketing</h4>
        <p class="efRow__head--paragraph">Market your products with 'direct-to-customer' SMS marketing software</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Abandoned cart recovery</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>    

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Inventory Locations</h4>
        <p class="efRow__head--paragraph">Keep track of where your products are in retail stores, warehouses or wherever you store them</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">up to 2</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">up to 5</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">up to 8</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">In-depth product insights</h4>
        <p class="efRow__head--paragraph">Keep on top of your sales info by tracking individual product sales perfomance data</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">Standard</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">Advanced</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Free SSL certificate</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        Tech support
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Website setup</h4>
        <p class="efRow__head--paragraph">Get our software engineers to help you choose and develop the best web store front for your business. No coding or design skills required</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Custom design</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Stock intake</h4>
        <p class="efRow__head--paragraph">Get urafro software engineers to help you upload new stock onto your ecommerce store</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">30mins/week</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">1hr/week</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">2hr/week</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Product photography</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        urafro Insight
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Market research</h4>
        <p class="efRow__head--paragraph">Receive regular market research updates to keep ahead of the trends in African ecommerce</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Founder support</h4>
        <p class="efRow__head--paragraph">Get business owners' support through articles and videos we produce in collaboration with our community of founders</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>
  </div>
</section>

<section class="eAlternates">
  <div class="eAlternates--top">
    <div class="eAlternates__plus eAlternates--box">
      <h3 class="eAlternates__plus--head">urafro plus</h3>
      <p class="eAlternates__plus--paragraph">Enterprise grade solutions for high volume merchants, and large businesses</p>
      <a href="#" class="eAlternates__plus--link">learn more about urafro plus</a>
    </div>

    <div class="eAlternates__lite eAlternates--box">
      <h3 class="eAlternates__plus--head eAlternates__lite--head">urafro Lite</h3>
      <p class="eAlternates__plus--paragraph eAlternates__lite--paragraph">Get an ecommerce store up and running with just the basics for $5 USD per month.</p>
      <a href="#" class="eAlternates__plus--link eAlternates__lite--link">view the urafro Lite plan</a>
    </div>
  </div>
  <div class="eAlternates--bottom">
    <p class="eAlternates__bottom--paragraph">
      urafro collects sales taxes in countries where it is required by law. Stated prices do not include these taxes.
    </p>
  </div>
</section>
<!-- BODY ENDS HERE -->

<!-- include ecommer footer -->
<% include ../partials/smeFooter %>
<!-- include javascript footer links -->
<% include ../partials/footer %>