<!-- include html head items -->
<% include ../partials/header %>
<!-- include ecommerce nav -->
<% include ../partials/ecommerceNav %>

<!-- BODY GOES INSIDE HERE -->
<section class="ePrice">
  <div class="ePrice__header">
    <h1 class="ePrice__header--main">
      Get your website, pick a plan later
    </h1>
    <p class="ePrice__header--paragraph">
      Try urafro ecommerce free for 30 days, no credit card required
    </p>
    <a href="#" class="btn btn-full">Start your free trial</a>
  </div>

  <div class="ePrice__boxes">
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          basic urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for new ecommerce businesses with sporadic sales
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">15</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>

      <div class="ePrice__bottom ePrice__bottomTwo">
        <btn class="ePrice__bottom--btn ePrice__basic--btn js--show-hide-features-basic"><i class="fas fa-plus ePrice__basic--btnIcon ePrice__bottom--icon"></i> Show plan features</btn>
      </div>

      <div class="eFeatures__body eFeatures__body--basic">
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Features
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Online Store</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Includes ecommerce website and inventory management system.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Unlimited products</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Staff Accounts</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Staff members with access to urafro ecommerce admin controls.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">1</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">24/7 support</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">SMS marketing</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Market your products with 'direct-to-customer' SMS marketing software</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Abandoned cart recovery</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>    
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Inventory Locations</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep track of where your products are in retail stores, warehouses or wherever you store them</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">up to 2</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">In-depth product insights</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep on top of your sales info by tracking individual product sales perfomance data</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Free SSL certificate</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Tech support
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Website setup</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get our software engineers to help you choose and develop the best web store front for your business. No coding or design skills required</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Custom design</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Stock intake</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get urafro software engineers to help you upload new stock onto your ecommerce store</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">30mins/week</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Product photography</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            urafro Insight
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Market research</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Receive regular market research updates to keep ahead of the trends in African ecommerce</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Founder support</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get business owners' support through articles and videos we produce in collaboration with our community of founders</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for growing businesses selling online or in-store
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">75</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>

      <div class="ePrice__bottom ePrice__bottomTwo">
        <btn class="ePrice__bottom--btn ePrice__urafro--btn js--show-hide-features-urafro"><i class="fas fa-plus ePrice__urafro--btnIcon ePrice__bottom--icon"></i> Show plan features</btn>
      </div>

      <div class="eFeatures__body eFeatures__body--urafro">
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Features
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Online Store</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Includes ecommerce website and inventory management system.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Unlimited products</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Staff Accounts</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Staff members with access to urafro ecommerce admin controls.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">3</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">24/7 support</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">SMS marketing</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Market your products with 'direct-to-customer' SMS marketing software</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Abandoned cart recovery</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>    
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Inventory Locations</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep track of where your products are in retail stores, warehouses or wherever you store them</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">up to 5</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">In-depth product insights</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep on top of your sales info by tracking individual product sales perfomance data</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">Standard</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Free SSL certificate</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Tech support
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Website setup</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get our software engineers to help you choose and develop the best web store front for your business. No coding or design skills required</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Custom design</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Stock intake</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get urafro software engineers to help you upload new stock onto your ecommerce store</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">1hr/week</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Product photography</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            urafro Insight
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Market research</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Receive regular market research updates to keep ahead of the trends in African ecommerce</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Founder support</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get business owners' support through articles and videos we produce in collaboration with our community of founders</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
      </div>

    </div>

    <div class="ePrice__boxes--box planBox">
      <div class="planBox__head">
        <h2 class="planBox__head--main">
          advanced urafro
        </h2>
      </div>
      <div class="planBox__desc">
        <p class="planBox__desc--paragraph">
          Best for businesses that require advanced inventory management
        </p>
      </div>
      <div class="planBox__number">
        <div class="planBox__number--amount">
          <sup class="planBox__number--amountSup">$</sup>
          <span class="planBox__number--amountMain">175</span>
        </div>
        <div class="planBox__number--currency">
          <span class="planBox__number--currencySpan planBox__number--currencyCode">
            USD
          </span>
          <span class="planBox__number--currencySpan planBox__number--currencyInterval">
            /mo
          </span>
        </div>
      </div>

      <div class="ePrice__bottom ePrice__bottomTwo">
        <btn class="ePrice__bottom--btn ePrice__adv--btn js--show-hide-features-adv"><i class="fas fa-plus ePrice__adv--btnIcon ePrice__bottom--icon"></i> Show plan features</btn>
      </div>

      <div class="eFeatures__body eFeatures__body--adv">
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Features
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Online Store</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Includes ecommerce website and inventory management system.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Unlimited products</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Staff Accounts</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Staff members with access to urafro ecommerce admin controls.</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">12</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">24/7 support</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">SMS marketing</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Market your products with 'direct-to-customer' SMS marketing software</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Abandoned cart recovery</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>    
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Inventory Locations</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep track of where your products are in retail stores, warehouses or wherever you store them</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">up to 8</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">In-depth product insights</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Keep on top of your sales info by tracking individual product sales perfomance data</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">Advanced</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Free SSL certificate</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            Tech support
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Website setup</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get our software engineers to help you choose and develop the best web store front for your business. No coding or design skills required</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Custom design</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Stock intake</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get urafro software engineers to help you upload new stock onto your ecommerce store</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <h5 class="efRow__small--text">2hr/week</h5>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Product photography</h4>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--header">
          <h3 class="eFeatures__body--headerMain eFeatures__body--headerSmall">
            urafro Insight
          </h3>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Market research</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Receive regular market research updates to keep ahead of the trends in African ecommerce</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
    
        <div class="eFeatures__body--container efRow">
          <div class="efRow__head efRow__headSmall">
            <h4 class="efRow__head--main efRow__head--mainSmall">Founder support</h4>
            <p class="efRow__head--paragraph efRow__head--paragraphSmall">Get business owners' support through articles and videos we produce in collaboration with our community of founders</p>
          </div>
          <div class="efRow__basic efRow__small efRow__smallScreen">
            <i class="fas fa-check efRow__small--icon"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="ePrice__bottom">
    <btn class="ePrice__bottom--btn js--show-hide-features"><i class="fas fa-plus ePrice__bottom--btnIcon"></i> Show plan features</btn>
  </div>
</section>

<section class="eFeatures smeFeatures--hidden">
  <div class="eFeatures__head">
    <div class="eFeatures__head--empty"></div>
    <div class="eFeatures__head--basic efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          Basic urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            15
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--urafro efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            75
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
    <div class="eFeatures__head--advanced efBox">
      <div class="efBox__head">
        <h3 class="efBox__head--main">
          advanced urafro
        </h3>
      </div>
      <div class="efBox__body">
        <div class="efBox__body--amount">
          <sup class="efBox__body--amountSup">
            $
          </sup>
          <span class="efBox__body--amountDigits">
            150
          </span>
        </div>
        <div class="efBox__body--text">
          <span class="efBox__body--textCurrency efBox__body--textSpan">
            USD
          </span>
          <span class="efBox__body--textMonth efBox__body--textSpan">
            /mo
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="eFeatures__body">
    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        Features
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Online Store</h4>
        <p class="efRow__head--paragraph">Includes ecommerce website and inventory management system.</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Unlimited products</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Staff Accounts</h4>
        <p class="efRow__head--paragraph">Staff members with access to urafro ecommerce admin controls.</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">1</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">3</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">12</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">24/7 support</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">SMS marketing</h4>
        <p class="efRow__head--paragraph">Market your products with 'direct-to-customer' SMS marketing software</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Abandoned cart recovery</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>    

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Inventory Locations</h4>
        <p class="efRow__head--paragraph">Keep track of where your products are in retail stores, warehouses or wherever you store them</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">up to 2</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">up to 5</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">up to 8</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">In-depth product insights</h4>
        <p class="efRow__head--paragraph">Keep on top of your sales info by tracking individual product sales perfomance data</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">Standard</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">Advanced</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Free SSL certificate</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        Tech support
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Website setup</h4>
        <p class="efRow__head--paragraph">Get our software engineers to help you choose and develop the best web store front for your business. No coding or design skills required</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Custom design</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Stock intake</h4>
        <p class="efRow__head--paragraph">Get urafro software engineers to help you upload new stock onto your ecommerce store</p>
      </div>
      <div class="efRow__basic efRow__small">
        <h5 class="efRow__small--text">30mins/week</h5>
      </div>
      <div class="efRow__urafro efRow__small">
        <h5 class="efRow__small--text">1hr/week</h5>
      </div>
      <div class="efRow__advanced efRow__small">
        <h5 class="efRow__small--text">2hr/week</h5>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Product photography</h4>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--header">
      <h3 class="eFeatures__body--headerMain">
        urafro Insight
      </h3>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Market research</h4>
        <p class="efRow__head--paragraph">Receive regular market research updates to keep ahead of the trends in African ecommerce</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-minus efRow__small--icon efRow__small--iconMinus"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>

    <div class="eFeatures__body--container efRow">
      <div class="efRow__head">
        <h4 class="efRow__head--main">Founder support</h4>
        <p class="efRow__head--paragraph">Get business owners' support through articles and videos we produce in collaboration with our community of founders</p>
      </div>
      <div class="efRow__basic efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__urafro efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
      <div class="efRow__advanced efRow__small">
        <i class="fas fa-check efRow__small--icon"></i>
      </div>
    </div>
  </div>
</section>

<section class="eAlternates">
  <div class="eAlternates--top">
    <div class="eAlternates__plus eAlternates--box">
      <h3 class="eAlternates__plus--head">urafro plus</h3>
      <p class="eAlternates__plus--paragraph">Enterprise grade solutions for high volume merchants, and large businesses</p>
      <a href="#" class="eAlternates__plus--link">learn more about urafro plus</a>
    </div>

    <div class="eAlternates__lite eAlternates--box">
      <h3 class="eAlternates__plus--head eAlternates__lite--head">urafro Lite</h3>
      <p class="eAlternates__plus--paragraph eAlternates__lite--paragraph">Get an ecommerce store up and running with just the basics for $5 USD per month.</p>
      <a href="#" class="eAlternates__plus--link eAlternates__lite--link">view the urafro Lite plan</a>
    </div>
  </div>
  <div class="eAlternates--bottom">
    <p class="eAlternates__bottom--paragraph">
      urafro collects sales taxes in countries where it is required by law. Stated prices do not include these taxes.
    </p>
  </div>
</section>

<div class="smeBreaker">
  <div class="smeBreaker__header">
    <h2 class="smeBreaker__header--main">
      Get your website, pick a plan later
    </h2>
  </div>
  <div class="smeBreaker__paragraph">
    <p class="smeBreaker__paragraph--p">
      Bring your idea to life. Claim your online identity with a website.
    </p>
  </div>
  <div class="smeBreaker__button">
    <!-- link to pricing page -->
    <a href="/projects" class="btn btn-full">get started for free</a>
  </div>
</div>

<section class="qna">
  <div class="qna__general qna--box">
    <h2 class="qna__general--header qna--header">
      General questions
    </h2>

    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Is there a setup fee?
      </h4>
      <p class="qna__general--boxP">
        No. There are no setup fees on any of our plans.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Do I need to enter my payment details to sign up?
      </h4>
      <p class="qna__general--boxP">
        No. You can sign up and use urafro ecommerce for 30 days without entering your payment details. At the end of your trial, or when you decide to launch your store, you will need to pick a plan and enter your payment details.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Can I cancel my account at any time?
      </h4>
      <p class="qna__general--boxP">
        Yebo. If you ever decide that urafro isn’t the best ecommerce platform for your African business, simply cancel your account.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        How long are your contracts?
      </h4>
      <p class="qna__general--boxP">
        All urafro ecommerce plans are month to month unless you sign up for an annual or biennial plan.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Do you offer any discounted plans?
      </h4>
      <p class="qna__general--boxP">
        Yes, we offer a 10% discount on annual plans and a 20% discount on biennial plans, when they are paid upfront.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Can I change my plan later on?
      </h4>
      <p class="qna__general--boxP">
        Ehe! You can upgrade or downgrade your plan at any time.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Do I have to sell the products in-store as I do online?
      </h4>
      <p class="qna__general--boxP">
        We highly recommend you to do that inorder to give your inventory management system the best chance of helping you run your business smoothly. However, you can choose exactly what products to sell online, in-store, or both.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Are there any transaction fees?
      </h4>
      <p class="qna__general--boxP">
        No. There are no hidden transaction fees on any of our plans.
      </p>
    </div>
  </div>


  <div class="qna__online qna--box">
    <h2 class="qna__online--header qna--header">
      Tech questions
    </h2>
    
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        What about domain name?
      </h4>
      <p class="qna__general--boxP">
        Our subscription plans cover ALL the technicalities of designing and running a website. Leave all that maintenance to our software engineers
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        What are your bandwidth fees?
      </h4>
      <p class="qna__general--boxP">
        Zero. There are no bandwidth fees for any of our plans.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Do I need a web host?
      </h4>
      <p class="qna__general--boxP">
        No. We cover the full process of finding your store's web hosting and its renewal so you only have to focus on running your business.
      </p>
    </div>

    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        What about my existing website?
      </h4>
      <p class="qna__general--boxP">
        If you have an ecommerce website already, we will migrate it to our platform for free. Don't worry about technicalities like transferring domains e.t.c. urafro engineers will do that for you for free.
      </p>
    </div>

    <h2 class="qna__online--header qna--header">
      POS questions
    </h2>

    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        What does urafro POS do?
      </h4>
      <p class="qna__general--boxP">
        urafro POS is a system intergrated into all our ecommerce websites that you can use for transactions in a physical store or pop-up setting. Find products, process orders, record payments, create receipts, and control it all from your iPad or mobile device. All the background management of your store is done from your urafro admin panel, which you can also access using any device that is connected to the internet.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Can I merge my urafro online store's inventory management software with urafro POS?
      </h4>
      <p class="qna__general--boxP">
        Yes. Your urafro online store's inventory management system automatically synchronizes with urafro POS, and you manage your entire business from one dashboard. Product or inventory updates that you make in your urafro admin panel will instantly take effect in urafro POS. Sales data from your urafro POS is synced in real-time to your urafro online store's inventory management system to prevent customers from buying items which have run out of stock.
      </p>
    </div>
    <div class="qna__general--box">
      <h4 class="qna__general--boxTitle">
        Where can I get urafro POS hardware accessories for my store?
      </h4>
      <p class="qna__general--boxP">
        We are currently in the process of developing a one-stop solution where you can get hardware and supported accessories like (cheap tablets, iPads, receipt printers, and more). Links will be provided to those resources as soon as we launch! In the mean, you can keep a lookout for updates on our blog or social media accounts!
      </p>
    </div>
  </div>
</section>

<section class="pricingCta">
  <div class="pricingCta__text pricingCta--box">
    <h2 class="pricingCta__text--header">
      Start your 30 day free trial today!
    </h2>
  </div>
  <div class="pricingCta__right pricingCta--box">
    <form action="" class="pricingCta__right--form">
      <input type="tel" name="phone" placeholder="Enter your phone number" class="pricingCta__right--input">
      <button type="submit" class="pricingCta__right--formBtn btn btn-full">Start free trial</button>
      <p class="pricingCta__right--paragraph">Try urafro free for 30 days, no credit card required. By entering your phone number, you agree to receive marketing messages from urafro.
      </p>
    </form>
  </div>
</section>
<!-- BODY ENDS HERE -->

<!-- include ecommer footer -->
<% include ../partials/smeFooter %>
<!-- include javascript footer links -->
<% include ../partials/footer %>