<!-- include html head items -->
<% include ../partials/header %>
<!-- include ecommerce nav -->
<% include ../partials/ecommerceNav %>

<div class="features js--section--features" id="features">

  <div class="features__head">
    <h2 class="features__head--mainHeading section__heading">How to use <span class="brand features__head--brand">urAfro</span></h2>
    <p class="features__head--paragraph italic">the right to shape the future, the choice to pick your side</p>
  </div>

  <div class="boxes features__boxes">
    <div class="box features__boxes--box">
      <!-- link directs user to projects initiate page -->
      <a class=features__boxes--boxLink href="/ecommerce/sme"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
      <h3 class="features__boxes--boxHeading">SME</h3>
      <p class="features__boxes--boxParagraph">1 to 2 branches</p>
      <p class="features__boxes--boxParagraph">1 to 5 employees</p>
      <p class="features__boxes--boxParagraphLast">Has occassional in-person sales</p>
      <img class="features__boxes--boxImage" src="../resources/img/lurker.svg" alt="urafro lurker">
    </div>

    <div class="box features__boxes--box">
      <!-- link directs user to projects sponsor page-->
      <a class=features__boxes--boxLink href="/ecommerce/retailer"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
      <h3 class="features__boxes--boxHeading">small Retailer</h3>
      <p class="features__boxes--boxParagraph">2 to 5 branches</p>
      <p class="features__boxes--boxParagraph">less than 50 employees</p>
      <p class="features__boxes--boxParagraphLast">Has frequent in-person sales</p>
      <img class="features__boxes--boxImage" src="../resources/img/initiator.svg" alt="urafro initiator">
    </div>

    <div class="box features__boxes--box">
      <!-- link directs user to blog -->
      <a class=features__boxes--boxLink href="/ecommerce/wholesalers"><i class="fas fa-angle-right features__boxes--boxIcon"></i></a>
      <h3 class="features__boxes--boxHeading">large Retailer</h3>
      <p class="features__boxes--boxParagraph">more than 5 branches</p>
      <p class="features__boxes--boxParagraph">more than 50 employees</p>
      <p class="features__boxes--boxParagraphLast">High volume of in-person sales</p>
      <img class="features__boxes--boxImage" src="../resources/img/sponsor2.svg" alt="urafro sponsor">
    </div>
  </div>
</div>

<!-- BODY ENDS HERE -->
<!-- include ecommer footer -->
<% include ../partials/smeFooter %>
<!-- include javascript footer links -->
<% include ../partials/footer %>