/* Largest Laptop screens and small TVs: 1366px and more */
@media only screen and (min-width: 1920px) {

  html {
    font-size: 12.5px;
  }

}

/* In between largest and large screens */
@media only screen and (max-width: 1600px) {

  html {
    font-size: 11.5px;
  }

  .greeting__box--heading {
    font-size: 7rem;
  }

  /* servicesBox */
  .servicesBox__text--headBig {
    font-size: 5rem;
  }

  /* postsBox */
  .postsBox__body--title {
    font-size: 3rem;
  }
  
}

/* Extra large screens, TVs: 1201px and more */
@media only screen and (min-width: 1201px) and (max-width: 1366px) {

  html {
    font-size: 10px;
  }

  .brand {
    font-size: 2rem;
  }

  .greeting__box--heading {
    font-size: 7rem;
  }

  /* servicesBox */
  .servicesBox__image--imgOne {
    height: 63rem;
  }

  .servicesBox__image--imgThree {
    height: 60rem;
  }

  /* postsBox */
  .postsBox__body--title {
    font-size: 2.5rem;
  }

}

/* Desktops, Large Screens: 1025px to 1200px */
@media only screen and (max-width: 1200px) {

  html {
    font-size: 9px;
  }

  .greeting__box--heading {
    font-size: 7.5rem;
  }

  /* servicesBox */
  .servicesBox__image--imgOne {
    height: 65rem;
  }

  .servicesBox__image--imgThree {
    height: 58rem;
  }

  /* postsBox */
  .postsBox__body--title {
    font-size: 2.5rem;
  }

}

/* Small Screens and Laptops: 769px to 1024px */
@media only screen and (max-width: 1024px) {

  html {
    font-size: 10px;
  }

  .greeting__box {
    margin-left: 4.5rem;
  }

  .greeting__box--heading {
    font-size: 6rem;
    width: 98%;
  }

  .greeting__box .btn-ghost {
    margin-top: 6rem;
  }

  div.intro__container {
    flex-direction: column;
    padding: 5rem 0;
  }

  .intro__container--paragraph {
    width: 65%;
  }

  div.intro__container--about {
    margin-bottom: 0;
  }

  div.intro__container--about,
  div.intro__container--receive {
    display: none;
  }

  .intro__container--btnTwo {
    display: inline-block;
    margin-top: 3rem;
  }

  .about {
    flex-direction: column;
  }

  .about__image--img {
    height: 20rem;
  }

  .about__text--phrase {
    width: 60%;
  }

  /* servicesBox */
  .services__head--title {
    font-size: 4rem;
  }

  .servicesBox__text {
    padding: 5rem;
  }

  /* postsBox */
  .postsBox__body--title {
    font-size: 2.5rem;
  }

  div.testimonials__boxes {
    width: 90%;
  }

  div.socials__boxes {
    width: 75%;
  }

  /* show route */
  div.backlinks__cards {
    flex-direction: column;
  }

}

/* Small iPads, Tablets: 481px to 768px */
@media only screen and (max-width: 768px) {

  #menuIcon,
  .menu-icon {
    top: 5.5rem;
  }

  .greeting__nav--brand {
    font-size: 3rem;
    margin-left: 1rem;
  }

  .greeting__nav--items li a:link,
  .greeting__nav--items li a:visited {
    font-size: 1.5rem;
    margin-right: .5rem;
  }

  .greeting__box {
    margin-left: 3rem;
    margin-top: 8vh;
  }

  .greeting__box--heading {
    font-size: 7.2rem;
    width: 90%;
    margin: 0 auto;
  }

  .greeting__box .btn-ghost {
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
  }

  div.intro__container {
    width: 85%;
  }

  div.features {
    width: 85%;
  }

  div.features__boxes {
    flex-direction: column;
  }

  div.features__boxes--box {
    margin-bottom: 3rem;
  }

  p.features__boxes--boxParagraph {
    width: 65%;
  }

  p.about__text--phrase {
    width: 70%;
  }

  /* servicesBox */
  .services__head {
    padding: 15rem 0 15rem 8rem;
  }

  .services__head--title {
    font-size: 3.5rem;
  }

  .servicesBox__text {
    padding: 5rem;
  }

  .servicesBox__text--headBig {
    font-size: 3.5rem;
    margin: 4rem 0;
  }

  /* postsBox */
  .posts__boxes {
    flex-direction: column;
  }

  .postsBox {
    max-width: 100%;
    margin-bottom: 3rem;
  }

  .postsBox__body--title {
    font-size: 2.5rem;
  }

  section.contact {
    flex-direction: column;
  }

  div.contact--image {
    display: none;
  }

  div.contact--form {
    right: 0;
  }

  div.landingFooter__content {
    flex-direction: column;
  }

  div.footerCard {
    margin-bottom: 3rem;
  }

  h3.footerCard--title {
    margin-bottom: 1rem;
  }

  /* blog app styles */
  img.section__desc--imageTwo {
    height: 25rem;
  }

  img.section__desc--imageThree {
    height: 35rem;
  }

  /* blog app styles */
  div.container {
    flex-direction: column;
  }

  div.hero {
    display: none;
  }

  div.heroTwo {
    height: 45vh;
    width: 100%;
    position: static;
    top: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.heroTwo__headerTwo {
    margin: 3rem 0;
    margin-left: 20%;
  }

  img.heroTwo__body--cardImage {
    height: 6.25rem;
  }

  div.showcaseBoxes {
    width: 90%;
  }

  div.showcaseBoxes {
    width: 90%;
  }

  div.showcase__writers {
    width: 100%;
  }

  div.showcase__writersContainer {
    padding-left: 5%;
  }

  /* incoming changes to be smoothened over once i get to designing the whole chabang */
  /* .backlinkCard__header {
    width: 50%;
  }

  .backlinkCard__body {
    width: 50%;
  }

  .zero {
    width: 80vw;
  } */
}

/* Small Phones from 280px (... to include galaxy fold :/...) to 480p */
@media only screen and (max-width: 480px) {
  html {
    font-size: 8px;
  }

  span#menuIcon,
  div.l-container .menu-icon {
    font-size: 3rem;
    top: 2rem;
    left: 1.3rem;
  }

  .greeting__nav {
    border: none;
    padding-top: .5rem;
  }

  div.greeting__nav--brand {
    position: relative;
    top: 1.5rem;
    font-size: 3rem;
    text-align: center;
  }

  div.greeting__nav--items {
    display: none;
  }

  .greeting__box {
    margin-left: 4rem;
  }

  .greeting__box--heading {
    font-size: 5.5rem;
  }

  .greeting__box .btn-ghost {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  h2.section__heading {
    font-size: 2.5rem;
  }

  p.intro__container--paragraph {
    width: 80%;
  }

  img.features__boxes--boxImage {
    height: 7.5rem;
  }

  div.features {
    padding-bottom: 5rem;
  }

  section.about {
    flex-direction: column;
  }

  img.about__image--img {
    height: 12.5rem;
  }

  /* servicesBox */
  .services__head {
    padding-left: 4.5rem;
  }

  .services__head--title {
    font-size: 2.3rem;
  }

  .servicesBox {
    flex-direction: column;
  }

  .servicesBox__text {
    order: 2;
  }

  .servicesBox__image {
    order: 1;
  }

  .servicesBox__image--img {
    height: 36rem;
  }

  .servicesBox__image--imgThree {
    height: 40rem;
  }

  /* shortCta */
  .shortCta {
    background-color: #f9f9f9;
  }

  /* breaker */
  .breaker {
    height: 50vh;
  }

  /* postsBoxes */
  .posts__head {
    padding-left: 4rem;
  }

  .posts__boxes {
    margin: 5rem 4rem;
  }

  /* socials */
  div.socials__boxes {
    width: 90%;
  }

  /* contact form */
  div.contact--form {
    flex-direction: column;
    width: 90%;
  }

  .card__txt--desc {
    font-size: 1.6rem;
  }

  /* blog app styles */
  div.container {
    flex-direction: column;
  }

  div.hero {
    display: none;
  }

  div.heroTwo {
    height: 45vh;
    position: static;
    top: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.heroTwo__headerTwo {
    margin: 3rem 0;
    margin-left: 20%;
  }

  img.heroTwo__body--cardImage {
    height: 6.25rem;
  }

  div.showcaseBoxes {
    width: 90%;
  }

  div.showcase__writers {
    width: 100%;
  }

  div.showcase__writersContainer {
    padding-left: 5%;
  }

  div.showcaseTwo .blog {
    width: 90%;
  }

  .blog .blog__body--paragraph {
    font-size: 1.5rem;
  }

  div.zero {
    width: 80vw;
  }

  div.section__desc {
    display: none;
  }

  div.inputsBox--left,
  div.inputsBox--right {
    width: 100%;
  }

  div.inputsBox__selectWrapper {
    margin-bottom: 2rem;
  }

  div.inputsBox__selectWrapper::after {
    font-size: 2rem;
  }

  div.projects__imageBox {
    display: none;
  }

  section.projects__content--contacts {
    flex-direction: column;
    align-items: flex-start;
  }

  div.projects__card {
    flex-direction: column;
  }

  h4.projects__card--primaryHeading::after {
    content: none;
  }
}

/* small phone screen sizes */
@media only screen and (max-width: 375px) {
  .greeting__box--heading {
    font-size: 4rem;
    margin-left: 0;
  }

  .greeting__box .btn-ghost {
    margin-left: 0;
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {

  html {
    font-size: 7px;
  }

  .greeting__box--heading {
    font-size: 4rem;
  }

  .greeting__box .btn-ghost {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}