/* laptop screen to large displays: 1201px to larger */
@media only screen and (max-width: 1375px) {

  /* showcase styles */

  div.showcase-boxes {
    width: 100%;
    /* overflow: hidden; */
  }

  div.showcase-box {
    width: 550px;
  }

  div.showcase-text {
    width: 550px;
  }

  div.showcase-card {
    width: 550px;
    height: 80px;
  }

  .showcase-card .card-tag {
    flex: 1;
  }

  div.card-image img {
    height: 60px;
    width: 60px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
}

/* landscape tablet to laptop screen: from 1024px to 1200px */
@media only screen and (max-width: 1200px) {
  .hero .header,
  .hero-2 .header-2 {
    flex: 1;
  }

  /* showcase styles */
  div.showcase-box {
    width: 90%;
  }

  div.showcase-text {
    width: 90%;
  }

  div.showcase-card {
    width: 100%;
    height: 80px;
  }

}

/* gray area: from 1011px to 1023px */
@media only screen and (max-width: 1023px) {

  div.hero,
  div.hero-2 {
    min-width: 423px;
  }
  
  /* showcase styles */
  div.showcase-box {
    width: 500px;
  }

  div.showcase-text {
    width: 500px;
  }

  div.showcase-card {
    width: 100%;
    height: 80px;
  }
}

/* gray area: 971px to 1010px */
@media only screen and (max-width: 1010px) {
  /* showcase styles */
  div.showcase-box {
    width: 465px;
  }

  div.showcase-text {
    width: 465px;
  }
}

/* gray area: 768px to 970px */
@media only screen and (max-width: 970px) {
  /* showcase styles */
  div.showcase-box {
    width: 430px;
  }

  div.showcase-text {
    width: 430px;
  }
}

/* Small Phones from 0px to 480px */
@media only screen and (max-width: 767px) {
  
}

/* Small Phones from 0p to 480p */
@media only screen and (max-width: 480px) {}