/* Extra large screens, TVs: 1201px and more */
@media only screen and (min-width: 1367px) {
  .hero,
  .hero-2,
  .hero-l {
    min-width: 50%;
  }

  div.hero .header,
  div.hero-2 .header-2 {
    font-size: 100%;
  }

  /* Index Page styles */
  div.hero .header img,
  div.hero-2 .header-2 img {
    height: 120px;
    width: 120px;
  }

  div.hero .header h2,
  div.hero-2 .header-2 h2 {
    font-size: 180%;
    margin-bottom: 10px;
  }

  .hero .header p { 
    margin-bottom: 5px;
  }

  div.showcase-box {
    width: 800px;
    height: 250px;
  }

  div.showcase-text {
    width: 800px;
  }

  div.showcase-card {
    width: 800px;
    height: 80px;
  }

  .showcase-card .card-tag {
    position: absolute;
    right: 5px;
  }

  /* show route styles */
  div.section-three img {
    height: 300px;
  }

  /* Auth Routes */

  div.comment {
    margin-bottom: 0;
  }

  div.comment div.login {
    margin-top: 30vh;
    margin-bottom: 27vh;
    /* margin-left: 3.vw; */
  }

  div.comment .content-inputs {
    margin-top: 24vh;
    margin-bottom: 20.8vh;
    margin-left: 3.5vw;
    width: 600px;
  }
}

/* Desktops, Large Screens: 1025px to 1200px */
@media only screen and (max-width: 1200px) {
  .hero,
  .hero-2,
  .hero-l {
    min-width: 50%;
  }

  /* Index Page styles */
  div.showcase-box {
    width: 500px;
  }

  div.showcase-text {
    width: 500px;
  }

  div.showcase-card {
    width: 500px;
    height: 80px;
  }

  .showcase-card .card-tag {
    flex: 1;
  }

  div.section-three img {
    height: 250px;
  }

  /* Create Route styles */
  div.content-boxes {
    width: 90%;
  }

  .s0 img {
    height: 200px;
  }

  div.s1 img {
    height: 300px;
  }

  div.s2 img {
    height: 250px;
  }

  div.s4 img {
    margin-left: 50px;
    height: 280px;
  }

  /* Auth Routes */

  div.comment {
    margin-bottom: 0;
  }

  div.comment div.login {
    margin-top: 22.7vh;
    margin-bottom: 20vh;
    margin-left: 5vw;
  }

  div.comment .content-inputs {
    margin-top: 15vh;
    margin-bottom: 11.4vh;
    margin-left: 2vw;
  }
}

/* Small Screens and Laptops: 769px to 1024px */
@media only screen and (max-width: 1024px) {
  .hero,
  .hero-2,
  .hero-l {
    min-width: 50%;
  }

  /* centering the landing page text on small screens/laptops */
  .showcase-l span {
    margin-top: -10%;
  }

  /* Index Page styles */
  div.showcase-box {
    width: 450px;
  }

  div.showcase-text {
    width: 450px;
  }

  div.showcase-card {
    width: 450px;
    height: 80px;
  }

  .showcase-card .card-tag {
    flex: 1;
  }
  
  /* Create Route Styles */
  div.content-boxes {
    width: 100%;
  }

  .s0 img {
    height: 200px;
  }

  div.s1 img {
    height: 300px;
  }

  div.s2 img {
    height: 250px;
  }

  div.s4 img {
    margin-left: 50px;
    height: 280px;
  }

  /* Auth Routes */

  div.comment {
    margin-bottom: 0;
  }

  div.comment div.login {
    margin-bottom: 30.9vh;
  }

  div.comment .content-inputs {
    margin-top: 31.3vh;
    margin-bottom: 20.2vh;
    margin-left: 3vw;
  }

}

/* Small iPads, Tablets: 481px to 768px */
@media only screen and (max-width: 768px) {
  /* .hero,
  .hero-2, 
  .hero-l {
    display: none;
  } */

  div.showcase-l span {
    font-size: 110%;
  }

  div.showcase-l h1 {
    font-size: 150%;
  }

  div.showcase-l p {
    font-size: 85%;
  }

  div.showcase-l a:link,
  div.showcase-l a:visited {
    padding-right: 15px;
    font-size: 170%;
  }

  /* ==================
      blog index page
  =================== */

  div.showcase footer,
  div.showcase-2 footer {
    width: 100%;
    padding-left: 80px;
  }

  div.l-container .menu-icon {
    color: rgb(255, 255, 255);
    font-size: 30px;
    left: 0;
    top: 36px;
    padding: 5px 15px;
    background: rgba(235, 31, 116, 0.3);
  }

  div.menu-content a:link,
  div.menu-content a:visited {
    padding: 16px;
    font-size: 20px;
  }

  /* ================
   new blog template
  ================= */

  div.content-boxes {
    width: 100%;
  }

  .s0 img {
    height: 200px;
  }

  div.s1 img {
    height: 300px;
  }

  div.s2 img {
    height: 250px;
  }

  div.s4 img {
    margin-left: 50px;
    height: 280px;
  }

  /* Auth Routes */

  div.comment {
    margin-bottom: 0;
  }

  div.comment div.login {
    margin-top: 25.1vh;
    margin-left: 2vw;
    margin-bottom: 24.5vh;
  }

  div.comment .content-inputs {
    margin-top: 20vh;
    margin-bottom: 15.4vh;
    width: 550px;
  }

}

/* Small Phones from 320px to 480p */
@media only screen and (min-width: 320px) and (max-width: 480px) {

  /* ================
  landing page styles
  ================= */

  .container {
    flex-direction: column;
  }

  /* Hero section */
  .hero-l {
    display: none;
  }

  div.hero,
  div.hero-2 {
    /* to fix height and put the correct one for each screen size here */
    height: 194px;
    width: 100vw;
    position: -webkit-sticky;
    position: static;
    top: initial;
  }

  div.showcase-l span {
    font-size: 70%;
  }

  div.showcase-l h1 {
    font-weight: 300;
    padding: 15px 0px;
    font-size: 90%;
  }

  div.showcase-l p {
    color: #fff;
    font-size: 60%;
    width: 96%;
    line-height: 150%;
  }

  div.showcase-l a:link,
  div.showcase-l a:visited {
    margin: 0;
    padding: 0;
    padding-right: 5px;
    font-size: 110%;
  }

  /*================
  index route styles
  ================ */

  div.hero .header,
  div.hero-2 .header-2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
    overflow: hidden;
  }

  div.hero .header img,
  div.hero-2 .header-2 img {
    height: 50px;
    width: 50px;
    border: 4px solid rgba(153, 59, 140, .2);
  }

  div.hero .header h2,
  div.hero-2 .header-2 h2 {
    font-size: 100%;
  }

  div.hero .header p {
    font-size: 90%;
    width: 70%;
  }

  a.hero-btn:link,
  a.hero-btn:visited {
    padding: 5px 5px 20px 5px;
    font-size: 100%;
  }

  div.l-container .menu-icon {
    font-size: 20px;
    left: 0;
    top: 40px;
    padding: 0px 5px;
    background: rgba(235, 31, 116, 0.3);
  }

  /* showcase styles */
  div.hero-2 nav {
    display: none;
  }

  div.showcase-boxes {
    margin-top: 10px;
    grid-gap: 5px;
    width: 100%;
  }

  /* div.showcase-box {
    width: 90%;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
  } */

  div.showcase-box {
    width: 300px;
    height: 150px;
  }

  div.showcase-text {
    width: 300px;
  }

  div.showcase-card {
    width: 300px;
    height: 80px;
  }

  div.card-image a img {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }

  div.card-text {
    font-weight: 300;
    color: #fff;
    margin-left: 20px;
    position: relative;
    top: -5px;
  }

  div.card-text h3 {
    font-size: 75%;
    margin-bottom: 0;
  }

  div.card-text h3,
  div.header-2 .card-text p {
    position: relative;
    right: 10px;
  }

  div.showcase-card .card-text {
    font-size: 75%;
  }

  div.showcase-card .card-text h3,
  div.showcase-card .card-text p {
    position: relative;
    right: 10px;
  }

  div.header-2 .card-text p {
    font-size: 70%;
  }

  div.card-tag {
    margin-top: 3px;
    margin-right: 5px;
  }

  div.card-tag a:link,
  div.card-tag a:visited {
    font-size: 65%;
    padding: 5px 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  div.showcase-card {
    height: 55px;
  }

  div.showcase-text {
    width: 90%;
    font-size: 70%;
  }

  div.showcase-text h2 {
    margin-bottom: 0px;
    width: 95%;
  }

  /* Index footer */
  div.showcase footer,
  div.showcase-2 footer {
    height: 120px;
    width: 100%;
    font-size: 70%;
    padding: 0;
  }

  div.showcase footer p,
  div.showcase-2 footer p {
    width: 80%;
    padding-top: 45px;
    margin: 0 auto;
    text-align: center;
  }

  /* =================
    show route styles
  ================== */

  div.show-wrapper {
    width: 90%;
  }

  div.show-heading {
    width: 85%;
  }

  div.main-heading h2 {
    font-size: 105%;
  }

  div.main-heading h2:after,
  div.intro-paragraph:after {
    width: 100px;
  }

  div.intro-paragraph {
    line-height: 105%;
  }

  div.show-content {
    width: 98%;
  }

  div.section-two h3 {
    font-size: 92%;
  }

  div.section-two p:nth-of-type(2) {
    border-left: 2px solid rgb(186, 188, 189);
    padding: 10px;
    line-height: 140%;
    word-spacing: 2.5px;
  }

  div.section-three h4 {
    font-size: 88%;
  }

  div.section-three h5 {
    font-size: 80%;
  }

  div.section-three img {
    height: 150px;
  }

  div.section-four h6 {
    font-size: 78%;
    margin-bottom: 10px;
  }

  /* =================== 
  Show-backlinks section 
  ==================== */

  div.show-backlinks h3 {
    font-size: 100%;
  }

  div.show-backlinks p {
    font-size: 80%;
  }

  div.show-backlinks p a {
    font-size: 100%;
  }

  div.backlinks-header a img {
    height: 80px;
  }

  div.tag-links a:link,
  div.tag-links a:visited {
    bottom: 10px;
    right: 5px;
    font-size: 60%;
    padding: 3px 12px;
  }

  div.backlinks-body h4 {
    width: 90%;
    margin-bottom: 5px;
    font-size: 80%;
  }

  div.backlinks-body p {
    margin-bottom: 5px;
    font-size: 50%;
    width: 100%;
  }

  div.backlinks-body a {
    font-size: 60%;
    margin-left: 2px;
  }

  /* =========================
        edit route styles
  ========================== */

  div.content-boxes h1 {
    font-size: 200%;
  }

  div.content-boxes h1:after {
    height: 2px;
    width: 80px;
  }

  .content-text {
    display: none;
  }

  div.content-boxes {
    width: 100%;
  }

  div.content-boxes .row {
    margin-top: 30px;
  }

  div.content-inputs h2 {
    padding: 20px;
    text-align: center;
    font-size: 100%;
  }

  div.s3 {
    padding-left: 0;
  }

  div.content-inputs input[type=text],
  textarea,
  div.auth input[type=password] {
    margin-bottom: 10px;
  }

  div.content-inputs input[type=text],
  div.auth input[type=password] {
    height: 60px;
    font-size: 60%;
  }

  div.content-inputs .left,
  div.content-inputs .right {
    display: block;
    width: 100%;
  }

  div.after::after {
    width: 150px;
  }
  
}