/* ===========================================
              UIVERSAL STYLES
=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: #FFF;
  color: #100c08;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/* Reset Select */
select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #f9f9f9;
  background-image: none; }

/* Remove IE arrow */
select::-ms-expand {
  display: none; }

/* =====================================
            REUSABLE CODE
======================================= */
.container {
  display: flex; }

.section__heading {
  font-size: 3rem; }

.left {
  float: left; }

.right {
  float: right; }

a {
  text-decoration: none;
  color: #FFF; }

/* Clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both; }

.fab {
  transition: all .2s; }

.fa-instagram:active,
.fa-instagram:hover {
  color: #EE1092;
  transition: color 0.2s; }

.fa-twitter:active,
.fa-twitter:hover {
  color: #0764F7;
  transition: color 0.2s; }

.fa-github:active,
.fa-github:hover {
  color: #333; }

.fa-reddit:active,
.fa-reddit:hover {
  color: #FF5700;
  transition: color .2s; }

.fa-youtube:active,
.fa-youtube:hover {
  color: #c4302b; }

/* ================= 
    flash messages
================== */
.flash {
  width: 100%;
  font-size: 90%;
  font-weight: 400; }

.success-flash,
.error-flash {
  padding: .5rem;
  width: 100%; }

.success-flash {
  background: rgba(22, 160, 133, 0.5);
  color: #432344; }

.error-flash {
  background: rgba(255, 63, 52, 0.5);
  color: #432344; }

/* body button */
.btn {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.5rem;
  border-radius: 20rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s; }

/* body button prefered call to action selection */
.btn-full {
  background-color: #FFC03D;
  border: 1px solid #FFC03D;
  color: #100c08;
  font-weight: 400;
  box-shadow: 0.5rem 1.5rem 1.5rem -1.5rem rgba(16, 12, 8, 0.9);
  transition: all .2s; }

/* body button alternative call to action selection */
.btn-ghost {
  background-color: transparent;
  border: 0.1rem solid #cf920d;
  color: #cf920d;
  box-shadow: 0.5rem 1.2rem 1.5rem -1.5rem rgba(16, 12, 8, 0.3); }

.btn-full:hover {
  background-color: #cf920d;
  border-color: #cf920d;
  transform: translateY(-3px);
  box-shadow: 0.2rem 0.6rem 1rem -0.75rem rgba(16, 12, 8, 0.5);
  color: #FFF; }

.btn-full:active {
  transform: translateY(-1px);
  box-shadow: 0.1rem 0.3rem 0.5rem -0.75rem rgba(16, 12, 8, 0.1); }

.btn-ghost:hover,
.btn-ghost:active {
  box-shadow: 0.5rem 1.2rem 1.5rem -1.5rem rgba(16, 12, 8, 0.1);
  color: #100c08;
  background-color: #FFC03D;
  border-color: #FFC03D; }

.italic {
  font-style: italic; }

.text-wrap {
  white-space: pre-wrap; }

.boxes {
  display: flex;
  justify-content: space-between; }

/* ============================================================= 
                        LANDING PAGE
============================================================== */
#menuIcon,
.menu-icon {
  position: fixed;
  font-size: 2.5rem;
  left: 3.5rem;
  top: 6rem;
  cursor: pointer;
  z-index: 1;
  color: #8C92AC; }

.l-container .landing--menu {
  animation: 2s menuFadeIn 3s forwards;
  opacity: 0; }

.landing--menu {
  opacity: 1; }

@keyframes menuFadeIn {
  100% {
    opacity: 1; } }

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #FFC03D;
  overflow: hidden;
  transition: 1s ease-in-out; }

.menu-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3rem; }

.menu-content a:link,
.menu-content a:visited {
  padding: 1.6rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #100c08;
  display: block;
  font-weight: 400; }

.menu-content a:active,
.menu-content a:hover {
  background-color: #cf920d;
  transition: .3s ease-in-out; }

.menu-container .closebtn {
  position: absolute;
  top: 6rem;
  right: 4.8rem;
  font-size: 3rem;
  color: #FFF;
  z-index: 1;
  cursor: pointer; }

.landing-section {
  overflow: hidden; }

.brand {
  color: #FF2525;
  font-weight: 400;
  font-family: 'Caveat', cursive; }

.caveat {
  font-family: 'Caveat', cursive; }

/* Blog tag colors */
.green {
  background-color: #16A085; }

.yellow {
  background-color: #cf920d; }

.purple {
  background-color: #432344; }

.red {
  background-color: #FF2525; }

/* ====================
  landing page styles
===================== */
/* ===============
  greeting styles 
================= */
@keyframes navFade {
  100% {
    opacity: 1;
    margin-top: 0; } }

.jiggle {
  animation-name: jiggle;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 10s; }

@keyframes jiggle {
  48%,
  62% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 0.9); }
  56% {
    transform: scale(0.9, 1.1) translate(0, -0.5rem); }
  59% {
    transform: scale(1, 1) translate(0, -0.3rem); } }

/* Boxes animations */
@keyframes h1slideRight {
  50% {
    opacity: 1;
    left: 0;
    padding-left: 0; }
  100% {
    border-left: 0.5rem solid #FF2525;
    padding-left: 2rem;
    opacity: 1;
    left: 0; } }

@keyframes spanSlideRight {
  100% {
    opacity: 0.6;
    margin-left: 0; } }

@keyframes btnSlideDown {
  100% {
    opacity: 1;
    top: 0; } }

@keyframes imgSlideLeft {
  100% {
    opacity: 1;
    right: 0; } }

.greeting {
  min-height: 100vh;
  width: 100%; }
  .greeting__nav {
    display: flex;
    list-style: none;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 4rem 3rem 1rem;
    animation: 1s navFade .5s forwards;
    opacity: 0;
    margin-top: -10rem;
    border-bottom: 0.1rem dashed rgba(16, 12, 8, 0.1); }
    .greeting__nav--brand {
      flex: 1;
      font-size: 4rem;
      font-family: 'Caveat', cursive;
      color: #100c08; }
    .greeting__nav--items {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .greeting__nav--items li {
        padding: 1rem; }
        .greeting__nav--items li a:link, .greeting__nav--items li a:visited {
          color: #100c08;
          font-weight: 400;
          font-size: 2rem;
          transition: border-bottom .2s, color .2s;
          margin-right: 2rem; }
        .greeting__nav--items li a.nav--item:hover, .greeting__nav--items li a.nav--item:active {
          color: rgba(16, 12, 8, 0.8);
          padding-bottom: .5rem;
          border-bottom: 0.3rem solid #FF2525; }
        .greeting__nav--items li a.btn-ghost {
          border: 0.1rem solid #100c08; }
          .greeting__nav--items li a.btn-ghost:link, .greeting__nav--items li a.btn-ghost:visited {
            /* color: $color-black; */
            font-weight: 400; }
          .greeting__nav--items li a.btn-ghost:hover, .greeting__nav--items li a.btn-ghost:active {
            color: #100c08; }
        .greeting__nav--items li a.jiggle {
          margin: 0;
          position: relative;
          left: 0;
          text-transform: none;
          margin-left: 1rem;
          font-weight: 300; }
  .greeting__box {
    margin: 15vh 2rem 3rem 8rem; }
    .greeting__box--heading {
      font-size: 10rem;
      font-weight: 300;
      padding-left: 3rem;
      border-left: 0.2rem solid #FF2525; }
      .greeting__box--headingLink {
        color: #100c08;
        font-weight: 400;
        display: inline-block;
        border-bottom: 0.1rem solid rgba(16, 12, 8, 0.3); }
        .greeting__box--headingLink:after {
          display: block;
          content: '';
          /* width: 2rem;
          position: relative; */
          border-bottom: solid 0.3rem #100c08;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
          transform-origin: 0% 50%; }
        .greeting__box--headingLink:hover:after {
          transform: scaleX(1); }
    .greeting__box .btn-ghost {
      position: relative;
      font-size: 3rem;
      top: -1.5rem;
      opacity: 0;
      animation: 1s btnSlideDown 3s ease-in forwards;
      background-color: #f9f9f9;
      color: #100c08;
      border: 0.1rem solid #100c08;
      margin-top: 4rem;
      /* Blink and expand/shrink effect on landing page main cta button */
      /* animating the ::after element we created above, on .greeting__box .btn-full hover */ }
      .greeting__box .btn-ghost::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10rem;
        background-color: #f9f9f9;
        transition: all .4s;
        z-index: -1; }
      .greeting__box .btn-ghost:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        background-color: #FFC03D;
        opacity: 0; }
      .greeting__box .btn-ghost i {
        margin-right: 1rem; }

/*===================*/
.intro {
  background-color: #f9f9f9;
  /* larger nested container */ }
  .intro__container {
    margin: 0 auto;
    margin-bottom: 5rem;
    display: flex;
    width: 90%;
    background-color: #FFF;
    padding: 10rem 0;
    border-radius: .5rem;
    box-shadow: 0 0.5rem 1.5rem rgba(16, 12, 8, 0.1);
    position: relative;
    top: -2rem;
    /* smaller nested containers */ }
    .intro__container--heading {
      font-size: 2rem;
      margin: 2rem 0; }
    .intro__container--paragraph {
      line-height: 1.2;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      width: 80%; }
    .intro__container--image {
      height: 15rem; }
    .intro__container--btn {
      margin-top: 1.5rem; }
    .intro__container--about {
      flex: 1; }
    .intro__container--give {
      flex: 1; }
      .intro__container--give a:link, .intro__container--give a:visited {
        color: #100c08;
        text-decoration: underline;
        text-decoration-color: #FF2525;
        text-decoration-thickness: .2rem; }
    .intro__container--receive {
      flex: 1; }
    .intro__container--about, .intro__container--give, .intro__container--receive {
      padding: 0 2rem 0 3rem; }

/* ==============
    features
=============== */
.features {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 10rem; }
  .features__head {
    margin: 12rem 0 5rem 0;
    text-align: center; }
  .features__head--paragraph {
    font-size: 1.3rem;
    font-weight: 400;
    opacity: .5; }
  .features__boxes {
    display: flex;
    justify-content: space-between; }
    .features__boxes--box {
      flex-basis: 32%;
      padding: 3rem 3rem;
      border-radius: .5rem;
      background-color: #FFF;
      box-shadow: 0 0.5rem 1.5rem rgba(16, 12, 8, 0.1);
      display: flex;
      flex-direction: column;
      transition: all .5s;
      transform: scale(1); }
      .features__boxes--box:hover, .features__boxes--box:active {
        transform: scale(1.02); }
      .features__boxes--boxLink:link, .features__boxes--boxLink:visited {
        width: 3rem;
        color: rgba(255, 37, 37, 0.7);
        font-size: 1.7rem;
        transition: color 0.2s; }
      .features__boxes--boxIcon {
        margin-top: 3rem;
        margin-bottom: 4rem;
        font-size: 3rem; }
      .features__boxes--boxHeading {
        font-size: 2rem;
        margin-bottom: 2rem; }
      .features__boxes--boxParagraph {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 5rem; }
      .features__boxes--box .projects__link:link, .features__boxes--box .projects__link:visited {
        color: rgba(255, 37, 37, 0.7);
        text-decoration: underline;
        transition: color .2s; }
      .features__boxes--box .projects__link:hover, .features__boxes--box .projects__link:active {
        color: #FF2525; }
      .features__boxes--boxImage {
        height: 10rem;
        position: relative;
        left: 0;
        align-self: flex-end; }

/* ===============
    about us
================ */
.about {
  display: flex;
  align-items: center;
  padding: 5rem 0; }
  .about__image {
    flex: 1; }
  .about__text {
    text-align: center;
    flex: 1; }
    .about__text--sub {
      display: inline-block;
      font-weight: 400;
      font-size: 1.1rem;
      padding: .7rem;
      color: #100c08;
      background-color: #FFC03D;
      clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0 100%); }
    .about__text--main {
      margin-top: 1rem;
      margin-bottom: 3rem; }
    .about__text--main:after {
      display: block;
      width: 20rem;
      background-color: rgba(67, 35, 68, 0.2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto; }
    .about__text--phrase {
      font-size: 2rem;
      margin: 0 auto;
      width: 80%;
      padding-top: 3rem;
      line-height: 1.3; }

/* ===============
      founder
================ */
.founder {
  display: flex;
  align-items: center;
  background-color: #FFC03D;
  align-items: center; }
  .founder__text {
    flex: 1;
    flex-basis: 50%;
    padding-left: 6.5rem;
    border-left: 0.5rem solid #FF2525; }
    .founder__text--mainHeading {
      margin-bottom: 3rem;
      font-weight: 300;
      font-size: 4rem;
      letter-spacing: .1rem; }
      .founder__text--mainHeading::after {
        display: block;
        position: relative;
        top: 2rem;
        background-color: rgba(16, 12, 8, 0.1);
        width: 2rem;
        height: .5rem;
        content: " ";
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem; }
    .founder__text--subHeading {
      font-size: 2rem;
      margin-left: 1rem;
      color: #100c08;
      opacity: .5; }
    .founder__text--paragraph {
      color: #100c08;
      font-size: initial;
      width: 90%;
      margin-bottom: 2rem;
      letter-spacing: .1rem;
      line-height: 1.5; }
      .founder__text--paragraph a:link, .founder__text--paragraph a:visited {
        color: #FFF;
        transition: color .2s; }
      .founder__text--paragraph a:hover, .founder__text--paragraph a:active {
        color: #100c08;
        text-decoration: underline; }
  .founder__image {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%; }
    .founder__image--img {
      width: 100%; }
    .founder__image a:link, .founder__image a:visited {
      transition: background-color 1s;
      font-size: 2rem; }
    .founder__image a:hover, .founder__image a:active {
      background-color: rgba(249, 249, 249, 0.1); }
    .founder__image--mainHeading {
      font-size: 1.7;
      font-weight: 400;
      color: #FFF;
      padding: 3rem;
      border: 0.1rem solid #FFF;
      border-radius: .2rem; }
    .founder__image--subHeading {
      color: #FFF;
      opacity: .5;
      text-transform: uppercase;
      font-size: .5rem;
      font-weight: 400;
      letter-spacing: .05rem;
      margin-right: .5rem; }

/* ==============
    our numbers
=============== */
.numbers {
  padding: 5rem 0 10rem 0;
  text-align: center; }
  .numbers__main--heading {
    margin-bottom: 2rem; }
    .numbers__main--heading::after {
      display: block;
      height: .1rem;
      width: 10rem;
      content: " ";
      background-color: rgba(255, 37, 37, 0.3);
      margin: 0 auto;
      position: relative;
      top: 3rem; }
  .numbers__boxes {
    margin: 0 auto;
    width: 60%;
    text-align: center; }
    .numbers__boxes--digit {
      margin-top: 5rem;
      color: #FF2525;
      font-size: 8rem;
      font-weight: 900;
      font-family: "Caveat", cursive; }
    .numbers__boxes--icon {
      font-size: 2rem;
      margin-right: 2rem;
      color: rgba(255, 192, 61, 0.7); }
    .numbers__boxes--title {
      font-size: 1.1rem;
      display: inline-block;
      color: #FF2525;
      font-weight: 400; }

/* ================
    testimonials
================= */
.testimonials__header {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10rem 0 15rem 0; }
  .testimonials__header--main {
    text-transform: uppercase;
    color: rgba(255, 192, 61, 0.8); }
  .testimonials__header--brand {
    text-transform: none;
    color: #FF2525;
    font-size: 3rem; }
  .testimonials__header--sub {
    font-weight: 300;
    margin-bottom: 4rem; }

.testimonials__boxes {
  width: 80%;
  margin: 0 auto;
  padding-top: 5rem; }

.testimonials__box {
  width: 30%;
  background-color: #FFF;
  padding-top: 5rem;
  padding-left: 2rem;
  border-radius: .5rem;
  position: relative;
  top: -18rem;
  box-shadow: 0 0.5rem 1.5rem rgba(16, 12, 8, 0.1);
  transform: scale(1);
  transition: all .5s;
  backface-visibility: hidden; }
  .testimonials__box:hover, .testimonials__box:active {
    transform: scale(1.02); }
  .testimonials__box--paragraph {
    font-size: 1.5rem;
    line-height: 150%;
    margin: 2rem 0;
    width: 80%; }
    .testimonials__box--paragraph::before {
      display: block;
      content: "\201C";
      position: absolute;
      top: 5rem;
      color: rgba(255, 192, 61, 0.7);
      font-size: 12rem;
      font-weight: 400; }
  .testimonials__box--name {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  .testimonials__box--title, .testimonials__box--company {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: .05rem;
    padding-bottom: .5rem; }

/* ===============================================================
    NEWSLETTER SECTION - still trying to improve this bit :)
================================================================== */
.newsletter {
  background: linear-gradient(rgba(16, 12, 8, 0.8), rgba(16, 12, 8, 0.8)), url("/resources/img/newsletter-bg-min.jpg");
  /* try to compress the background image or remove 'background-size: cover' to remove lag on scroll" */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFF;
  padding: 15rem 0; }
  .newsletter__content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .newsletter__content--mainHeading {
      margin-bottom: 2rem;
      font-weight: 500;
      font-size: 6rem;
      letter-spacing: .1rem;
      word-spacing: .3rem; }
    .newsletter__content--subHeading {
      margin: 0 auto;
      color: rgba(255, 255, 255, 0.8);
      font-size: 2.35rem;
      margin-bottom: 2rem;
      word-spacing: .2rem; }
    .newsletter__content--email, .newsletter__content--btn {
      margin: 1rem 0 2rem; }
    .newsletter__content--email {
      font-size: 2rem;
      font-family: inherit;
      width: 60rem;
      text-align: center;
      padding: 2rem 0;
      color: #FFF;
      border: 0.2rem solid rgba(255, 255, 255, 0.7);
      background-color: rgba(16, 12, 8, 0.1);
      border-radius: 12rem;
      transition: all .2s; }
    .newsletter__content--email:hover, .newsletter__content--email:active, .newsletter__content--email:focus {
      background-color: rgba(16, 12, 8, 0.7);
      outline: none; }
    .newsletter__content--email::placeholder {
      color: rgba(255, 255, 255, 0.7);
      word-spacing: .3rem; }
    .newsletter__content--btn {
      cursor: pointer; }

/* ==============
      socials
=============== */
.socials {
  margin: 10rem 0 5rem 0;
  padding: 0 3rem;
  text-align: center; }
  .socials--mainHeading {
    margin-bottom: 4.5rem; }
    .socials--mainHeading::after {
      display: block;
      width: 10rem;
      background-color: rgba(255, 37, 37, 0.2);
      content: " ";
      height: .1rem;
      position: relative;
      top: 3rem;
      margin: 0 auto; }
  .socials__boxes {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    padding-bottom: 5rem; }
    .socials__boxes--box {
      margin-top: 3rem; }
      .socials__boxes--box .socials--boxLink:link,
      .socials__boxes--box .socials--boxLink:visited {
        color: rgba(255, 37, 37, 0.7);
        font-size: 2rem; }
      .socials__boxes--box .socials--boxIcon {
        font-size: 6rem; }

/* ================
    contact-us
================ */
.contact {
  display: flex;
  align-items: center;
  padding: 5rem 0 10rem 0; }
  .contact--image {
    flex: 1; }
  .contact--form {
    flex: 1;
    box-shadow: 0 0.5rem 1.5rem rgba(16, 12, 8, 0.1);
    padding: 5rem 0 5rem 3rem;
    position: relative;
    right: 6.5rem;
    display: flex;
    border-radius: .5rem;
    /* OUR-CONTACTS */ }
    .contact--form .form__cards,
    .contact--form .form__inputs {
      display: flex;
      flex-direction: column;
      flex: 1; }

.form__cards--mainHeading {
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2rem; }

.form__cards--card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }

.card__icon--container {
  padding: 0 2rem 0 0; }

.card__icon--element {
  font-size: 1.5rem;
  color: rgba(16, 12, 8, 0.5); }

.card__txt--title {
  margin-bottom: .5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300; }

.card__txt--desc {
  color: rgba(16, 12, 8, 0.5);
  font-size: 1.3rem;
  width: 80%; }

/* SEND-US-A-MESSAGE */
.form__inputs {
  margin-right: 7rem;
  border-radius: 1rem; }
  .form__inputs--secondaryHeading {
    word-spacing: .2rem; }
  .form__inputs .form__input {
    margin-bottom: 3rem; }
    .form__inputs .form__input--label {
      position: relative;
      top: -1rem; }
    .form__inputs .form__input--labelHead {
      font-weight: 300;
      font-size: 1.3rem; }
    .form__inputs .form__input--text, .form__inputs .form__input--email, .form__inputs .form__input--textArea {
      width: 100%;
      outline: none;
      border: 0.1rem solid rgba(67, 35, 68, 0.3);
      color: inherit;
      font-family: inherit; }
    .form__inputs .form__input--textArea {
      padding: 10px 0 0 10px; }
    .form__inputs .form__input--text, .form__inputs .form__input--email {
      padding: 1.5rem 1rem;
      border-radius: .5rem; }
    .form__inputs .form__input--submitBtn {
      position: relative;
      top: 0;
      letter-spacing: .05rem;
      cursor: pointer; }

/* ======================
    landing page footer 
====================== */
.landingFooter {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* Developers */ }
  .landingFooter__content {
    display: flex;
    padding: 10rem 6rem;
    background-image: linear-gradient(#432344, rgba(16, 12, 8, 0.7)), url("https://images.unsplash.com/photo-1598746666848-01f94f708ebe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFF; }
  .landingFooter__developer {
    text-align: center;
    background-color: #100c08;
    border: none;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.5); }

.footerCard {
  flex: 1;
  margin-right: 2rem;
  /* recent posts */ }
  .footerCard--title {
    margin-bottom: 3rem;
    font-size: 2rem; }
  .footerCard__text {
    font-size: 1.5rem; }
    .footerCard__text--paragraph {
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.9);
      width: 95%;
      margin-bottom: 1rem; }
    .footerCard__text--icon {
      margin: 1rem 1rem 0 0;
      font-size: 2rem;
      color: #f9f9f9; }
  .footerCard__post {
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    padding: 1rem 0; }
    .footerCard__post:nth-of-type(even) {
      border-top: 0.1rem solid rgba(249, 249, 249, 0.5);
      border-bottom: 0.1rem solid rgba(249, 249, 249, 0.5); }
    .footerCard__post--image, .footerCard__post--image2 {
      height: 7.6rem;
      width: 7.6rem; }
    .footerCard__post--image {
      border-radius: 50%;
      margin-right: 2rem; }
    .footerCard__post--bodySpan {
      color: rgba(255, 255, 255, 0.5);
      font-size: 1.3rem; }
    .footerCard__post--bodyTitle {
      font-size: 1.3rem;
      font-weight: 300; }

/* ============================================================= 
                      BLOG APP STYLES
============================================================== */
@keyframes headerSlideUp {
  100% {
    opacity: 1;
    bottom: 0; } }

/* Hero section */
.hero,
.heroTwo,
.hero-l {
  flex: 1;
  height: 100vh;
  align-self: flex-start;
  /* fixing hero div to NOT scroll with the showcase div */
  position: sticky;
  top: 0;
  color: #FFF;
  overflow: hidden; }

/* Index hero(left side) section */
.hero {
  background: linear-gradient(rgba(16, 12, 8, 0.2), rgba(16, 12, 8, 0.8)), url("https://images.unsplash.com/photo-1569437061238-3cf61084f487?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 
  use this as a mixin/extend cuz i'm gonna do the same thing with heroTwo__header too
  margin-top will be a variable to cater for the difference
  */ }
  .hero__header {
    width: 100%;
    text-align: center;
    margin-top: 55vh;
    font-size: .8rem;
    position: relative;
    bottom: -5rem;
    opacity: 0;
    backface-visibility: hidden;
    animation: headerSlideUp 1.5s linear 2s forwards;
    display: flex;
    flex-direction: column; }
    .hero__header--image {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      border: 8px solid rgba(255, 37, 37, 0.2); }
  .hero__body--mainTitle {
    font-size: 2rem;
    font-weight: 400; }
  .hero__body--desc {
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 1rem; }
  .hero__body--link:link, .hero__body--link:visited {
    padding: 1rem;
    color: #f9f9f9; }
  .hero__body--linkIcon {
    font-size: 3rem;
    margin-top: 1.5rem; }

.heroTwo__headerTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */
  width: 80%;
  margin: 65vh auto;
  font-size: .8rem;
  position: relative;
  /* for Pop up animation */
  bottom: -5rem;
  opacity: 0;
  backface-visibility: hidden;
  animation: headerSlideUp 1.5s linear 2s forwards;
  display: flex;
  flex-direction: column; }
  .heroTwo__headerTwo--mainTitle {
    font-size: 1.5rem;
    font-weight: 400;
    width: 70%; }

.heroTwo__body {
  display: flex;
  align-items: center;
  margin-top: 2rem; }
  .heroTwo__body--cardImage {
    height: 10rem;
    border-radius: 50%;
    border: 0.8rem solid rgba(255, 37, 37, 0.2); }
  .heroTwo__body--cardText {
    padding: .5rem 1rem;
    position: relative;
    top: -1rem;
    width: 70%; }
  .heroTwo__body--cardTitle {
    margin-bottom: .5rem;
    font-size: 1.3rem; }
  .heroTwo__body--cardDate {
    color: rgba(249, 249, 249, 0.5);
    margin-left: .2rem;
    font-size: 1.3rem; }

/* ===================
    Showcase section
==================== */
@keyframes slideLeft {
  100% {
    opacity: 1;
    right: 0; } }

@keyframes textLeftRight {
  80% {
    left: 1rem; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes btnSlideDown {
  100% {
    opacity: 1;
    top: 0; } }

.showcase {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */
  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Separator Section */
  /* Index footer */ }
  .showcase__writers {
    width: 80%;
    height: 50rem;
    background-image: linear-gradient(rgba(16, 12, 8, 0.5), rgba(16, 12, 8, 0.5)), url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    opacity: 0;
    position: relative;
    right: -25rem;
    animation-fill-mode: forwards;
    backface-visibility: hidden;
    animation: slideLeft 2s 1 0s forwards; }
    .showcase__writersContainer {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      flex-basis: 90%;
      opacity: 0;
      position: relative;
      left: -25rem;
      background-color: #FFF;
      padding-left: 0;
      animation: textLeftRight 2s ease-out 0s 1 forwards;
      /* meet the writers button */ }
      .showcase__writersContainer--title {
        padding: 3rem 0 1.5rem;
        font-size: 2rem;
        font-weight: 400; }
      .showcase__writersContainer--mainLink:link, .showcase__writersContainer--mainLink:visited {
        opacity: .8;
        color: #100c08; }
      .showcase__writersContainer--paragraph {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        width: 85%; }
      .showcase__writersContainer--link {
        padding: 1rem 2rem;
        position: relative;
        top: -1.5rem;
        opacity: 0;
        animation: btnSlideDown 1s linear 2s 1 forwards;
        backface-visibility: hidden; }
    .showcase__writers--empty {
      flex-basis: 15%; }

@keyframes smallSlideRight {
  50% {
    margin-top: 3rem; }
  70% {
    opacity: 0;
    left: -1.5rem; }
  100% {
    margin-top: 3rem;
    left: 0;
    opacity: 1; } }
  .showcase__separator {
    align-self: flex-end;
    margin-right: 10%;
    position: relative;
    left: -5rem;
    opacity: 0;
    animation: smallSlideRight 2.5s linear 2s 1 forwards;
    backface-visibility: hidden; }
    .showcase__separator--title {
      font-weight: 300;
      font-size: 1.3rem; }
  .showcaseBoxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
    justify-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;
    /* using the same padding as on the .wrapper class. Can make it into a mixin */
    padding-bottom: 10rem; }
    .showcaseBoxes__box {
      position: relative;
      width: 100%;
      height: 20rem;
      margin-top: 1rem;
      overflow: hidden;
      border-radius: .5rem; }
      .showcaseBoxes__box--linkImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        transform: scale(1);
        transition: .3s ease-in-out; }
      .showcaseBoxes__box--linkImage:hover {
        filter: grayscale(0.5);
        transform: scale(1.1); }
  .showcase__footer {
    /* 
    this code should be a mixin/extend cuz its the same as showcase footer the second one just a few lines down 
    */
    height: 12rem;
    padding: 5rem;
    padding-left: 0;
    background: rgba(255, 37, 37, 0.7);
    color: #f9f9f9;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0; }
    .showcase__footer--paragraph {
      width: 100%;
      text-align: center; }

/* 
showcaseCard is the top div nested within showcasesBoxes__box fixed to the top 
contains blog author name, blog date and tag
*/
.showcaseCard {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 8rem;
  padding-top: 1rem;
  padding-left: 2rem;
  background-image: linear-gradient(to bottom, rgba(10, 0, 0, 0.6), rgba(27, 29, 32, 0.5), rgba(5, 30, 54, 0.4), rgba(15, 36, 56, 0.3), rgba(7, 40, 73, 0));
  border-radius: .5rem; }
  .showcaseCard__author {
    display: flex;
    flex-basis: 100%; }
    .showcaseCard__author--image {
      height: 6rem;
      width: 6rem;
      border-radius: 50%; }
  .showcaseCard__text {
    font-weight: 300;
    color: #FFF;
    margin-left: 2rem;
    margin-top: 1rem; }
    .showcaseCard__text--title {
      font-size: 1.3rem;
      margin-bottom: .2rem; }
    .showcaseCard__text--paragraph {
      font-size: 1.3rem;
      color: rgba(249, 249, 249, 0.7);
      font-family: 'Caveat', cursive; }
  .showcaseCard__tag {
    flex: 1;
    margin-right: 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.3rem; }
    .showcaseCard__tag--link:link, .showcaseCard__tag--link:visited {
      color: #f9f9f9;
      padding: .5rem 1.6rem;
      border-radius: 1.5rem; }
    .showcaseCard__tag--link:active, .showcaseCard__tag--link:hover {
      color: #FFF;
      transition: color .2s; }

.showcaseText {
  width: 100%; }
  .showcaseText__head--title {
    margin-bottom: 1rem;
    width: 85%; }
    .showcaseText__head--titleLink:link, .showcaseText__head--titleLink:visited {
      color: #100c08;
      font-weight: 400;
      font-size: 2rem; }
    .showcaseText__head--titleLink:active, .showcaseText__head--titleLink:hover {
      color: rgba(16, 12, 8, 0.5);
      transition: color .2s; }
  .showcaseText__paragraph {
    font-size: 1.3rem;
    line-height: 1.2; }
  .showcaseText__link {
    margin-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
    transition: all .2s; }
    .showcaseText__link--anchorTag:link, .showcaseText__link--anchorTag:visited {
      color: rgba(16, 12, 8, 0.5);
      border-bottom: 0.1rem solid rgba(255, 37, 37, 0.5);
      transition: all .2s; }
    .showcaseText__link--anchorTag:active, .showcaseText__link--anchorTag:hover {
      color: #100c08;
      font-weight: 400;
      border-bottom: 0.2rem solid #FF2525; }
  .showcaseText::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: .1rem;
    background-color: rgba(16, 12, 8, 0.1); }

/* ===============================================
                SHOW ROUTE
================================================ *

/* ADMING MENU STYLES HERE */
@keyframes admenuLeft {
  50% {
    opacity: 1;
    right: -.5rem; }
  100% {
    opacity: .7;
    right: -1rem; } }

.showcaseTwo {
  /* 
  this code should be a mixin/extend cuz its the same as hero__header the first one just a few lines up 
  margin-top will be a variable to cater for the difference
  */
  flex: 1;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f3c5;
  /*
  figure out a way to style all links in the blog body without affecting the backlinks a tags styling down below
  that's why I've commented these out for now

  & a:link,
  & a:visited {
    color: rgba($color-black, .5);
    text-decoration: underline;
  }

  & a:active,
  & a:hover {
    color: $color-black;
  } 
*/ }
  .showcaseTwo__admin {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -1rem;
    top: 65%;
    opacity: 0;
    transform: translate(-40%);
    animation: admenuLeft 1.5s linear 6s forwards;
    background-color: #432344;
    border-radius: .5rem;
    width: 3rem;
    text-align: center; }
    .showcaseTwo__admin--li {
      padding: 1.2rem 0; }
      .showcaseTwo__admin--li:last-of-type {
        border-bottom: .1rem solid transparent; }
    .showcaseTwo__admin--link {
      transition: all 0.5s;
      /* showing tooltip on li item hover */ }
      .showcaseTwo__admin--link:link, .showcaseTwo__admin--link:visited {
        color: #FFC03D; }
      .showcaseTwo__admin--link:active, .showcaseTwo__admin--link:hover {
        color: #cf920d; }
      .showcaseTwo__admin--link:hover .showcaseTwo__admin--tooltip,
      .showcaseTwo__admin--link:active .showcaseTwo__admin--tooltip {
        visibility: visible; }
    .showcaseTwo__admin--tooltip {
      visibility: hidden;
      width: 6rem;
      color: #100c08;
      text-align: center;
      border-radius: 1.5rem;
      padding: .5rem 0;
      font-size: .7rem;
      /*Positioning the tooltip*/
      position: absolute;
      z-index: 1;
      right: 105%; }
    .showcaseTwo__admin--i {
      font-size: 1.2rem; }
    .showcaseTwo__admin--button {
      display: inline-block;
      border: none;
      font-size: .7rem;
      margin: 0;
      text-decoration: none;
      color: rgba(255, 192, 61, 0.5);
      font-family: sans-serif;
      cursor: pointer;
      text-align: center;
      transition: color 0.5s; }
    .showcaseTwo__admin--button:hover, .showcaseTwo__admin--button:active {
      color: #FF2525; }
  .showcaseTwo .blog {
    padding-top: 3rem;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* this can be a mixin/extend. using the same padding on showcaseBoxes */
    padding-bottom: 10rem;
    /* find a better way to do this */
    /* & p {
      margin-bottom: 20px;
      line-height: 135%;
      font-size: 1.6rem;
    } */ }
  .showcaseTwo__footer {
    /* 
  this code should be a mixin/extend cuz its the same as showcase footer the first one just a few lines up 
  */
    padding: 2rem;
    padding-left: 0;
    background: rgba(255, 37, 37, 0.7);
    color: #f9f9f9;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0; }
    .showcaseTwo__footer--paragraph {
      width: 100%;
      text-align: center; }

/* ================================
        Blog show section 
=================================== */
@keyframes mainHeadingSlideDown {
  0% {
    font-weight: 500; }
  95% {
    font-weight: 500; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes smallPop {
  90% {
    color: rgba(16, 12, 8, 0.8);
    transform: scale(1.03); }
  100% {
    color: rgba(16, 12, 8, 0.5);
    transform: scale(1); } }

/* BLOG HEADINGS */
.blog__heading {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .blog__heading--mainHeading {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    position: relative;
    top: -2.5rem;
    opacity: 0;
    animation: mainHeadingSlideDown 1s linear 0s forwards; }
    .blog__heading--mainHeading:after {
      display: block;
      height: .1rem;
      background-color: rgba(249, 249, 249, 0.5);
      content: " ";
      width: 20rem;
      margin: 0 auto;
      margin-top: 2rem; }
  .blog__heading--paragraph {
    color: rgba(16, 12, 8, 0.3);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    animation: smallPop 1s linear 2s forwards;
    transform: scale(1); }
    .blog__heading--paragraph:after {
      display: block;
      height: .1rem;
      content: " ";
      background-color: rgba(249, 249, 249, 0.5);
      width: 20rem;
      margin-top: 2rem;
      margin: 0 auto; }
  .blog__heading--h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .blog__heading--h4 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 300; }
  .blog__heading--h5 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    font-weight: 300; }
  .blog__heading--h6 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 300; }

/* BLOG BODY SECTION */
.blog__body {
  width: 90%;
  margin: 0 auto;
  letter-spacing: .1rem; }
  .blog__body--paragraph {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    word-spacing: .1rem; }
  .blog__body--sectionOne {
    margin-top: 3rem; }
  .blog__body--sectionTwo p:nth-of-type(2) {
    border-left: 0.2rem solid #FF2525;
    padding: 1rem;
    line-height: 1.5rem;
    word-spacing: .5rem; }
  .blog__body--sectionThree .text-wrap {
    padding: 1rem 2rem;
    line-height: 2rem; }
  .blog__body--sectionThree img {
    width: 100%;
    height: 40rem; }
  .blog__body--sectionThree p:last-of-type {
    margin-top: 2rem; }

.new-comment-form {
  margin: 3rem 0; }

/********* Show-backlinks section *************/
.backlinks--heading {
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: .5rem;
  border-top: 0.1rem solid rgba(255, 37, 37, 0.1);
  padding-top: 2rem; }

.backlinks__tag {
  color: rgba(16, 12, 8, 0.5);
  font-size: 1.3rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(255, 37, 37, 0.1); }
  .backlinks__tag--link {
    font-size: 1.3rem;
    margin-left: .5rem;
    font-weight: 400;
    text-decoration: underline; }
  .backlinks__tag--green:link, .backlinks__tag--green:visited {
    color: #16A085; }
  .backlinks__tag--yellow:link, .backlinks__tag--yellow:visited {
    color: #cf920d; }
  .backlinks__tag--purple:link, .backlinks__tag--purple:visited {
    color: #432344; }
  .backlinks__tag--red:link, .backlinks__tag--red:visited {
    color: #FF2525; }

/********* backlinks-cards *****************/
.backlinks__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 8rem; }

.backlinkCard {
  flex-basis: 49%;
  margin-bottom: 3rem; }
  .backlinkCard__header {
    position: relative;
    overflow: hidden; }
    .backlinkCard__header--image {
      width: 100%;
      height: 33.5rem;
      border-radius: .3rem;
      opacity: .7;
      transform: scale(1);
      transition: .3s ease-in-out; }
    .backlinkCard__header--image:active, .backlinkCard__header--image:hover {
      transform: scale(1.1);
      opacity: 1; }
  .backlinkCard__tag--link:link, .backlinkCard__tag--link:visited {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: .7rem;
    padding: .5rem 2rem;
    color: #FFF;
    border-radius: 3rem; }
  .backlinkCard__tag--green:link, .backlinkCard__tag--green:visited {
    background-color: #16A085; }
  .backlinkCard__tag--yellow:link, .backlinkCard__tag--yellow:visited {
    background-color: #cf920d; }
  .backlinkCard__tag--purple:link, .backlinkCard__tag--purple:visited {
    background-color: #432344; }
  .backlinkCard__tag--red:link, .backlinkCard__tag--red:visited {
    background-color: #FF2525; }
  .backlinkCard__body--heading {
    width: 85%;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.3rem;
    letter-spacing: .01rem; }
  .backlinkCard__body--headingLink:link, .backlinkCard__body--headingLink:visited {
    color: #100c08;
    font-weight: 400;
    text-decoration: none; }
  .backlinkCard__body--headingLink:active, .backlinkCard__body--headingLink:hover {
    color: rgba(16, 12, 8, 0.7);
    transition: color .2s; }
  .backlinkCard__body--paragraph {
    margin-bottom: .5rem;
    color: rgba(16, 12, 8, 0.7);
    font-size: 1.1rem;
    width: 100%; }
  .backlinkCard__body--link:link, .backlinkCard__body--link:visited {
    font-size: 1.1rem;
    margin-left: .2rem;
    color: rgba(16, 12, 8, 0.5);
    text-decoration: underline; }
  .backlinkCard__body--link:hover, .backlinkCard__body--link:active {
    color: #100c08; }

/* ===============================================
                NEW ROUTE
================================================ */
.wrapper {
  padding: 4rem 2rem; }

.create {
  width: 90%;
  margin: 0 auto; }
  .create--mainHeading {
    text-align: center;
    font-size: 5rem;
    font-weight: 300; }
    .create--mainHeading::after {
      display: block;
      height: .1rem;
      background-color: #FF2525;
      content: " ";
      width: 10rem;
      margin: 0 auto;
      margin-top: 2rem; }
  .create__form--row {
    margin-top: 6rem; }
  .create__form--after::after {
    display: block;
    content: " ";
    margin: 0 auto;
    width: 30rem;
    height: .1rem;
    margin-top: 5rem;
    background-color: rgba(255, 37, 37, 0.1); }
  .create__form--last {
    margin-bottom: 5rem; }

/* ==========================
Content sections in form rows 
=========================== */
.section {
  display: flex;
  align-items: center; }
  .section__inputs {
    /* mixin or extend for these two cuz they have the same code  [__inputs and __desc] */
    flex: 1;
    padding: 0 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(16, 12, 8, 0.1); }
    .section__inputs--heading {
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      color: #FF2525; }
  .section__desc {
    flex: 1;
    padding: 0 2rem; }

/* ============================== 
Individual boxes in section rows 
=============================== */
.inputsBox {
  position: relative;
  /* Custom dropdown styles */ }
  .inputsBox--label {
    position: absolute;
    text-transform: uppercase;
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: bolder;
    display: block; }
  .inputsBox--left, .inputsBox--right {
    width: 48%; }
  .inputsBox .inputsBox--input {
    width: 100%;
    margin-bottom: 2rem;
    border: 0.1rem dashed rgba(16, 12, 8, 0.3);
    font-family: inherit;
    font-weight: 300;
    border-radius: .5rem;
    display: block;
    font-size: 1.3rem; }
    .inputsBox .inputsBox--input::placeholder {
      text-transform: uppercase; }
  .inputsBox--text, .inputsBox--password {
    height: 8rem;
    padding: 1rem; }
  .inputsBox--textarea {
    padding-top: 4rem;
    padding-left: 1rem;
    resize: vertical; }
  .inputsBox__selectWrapper {
    position: relative;
    display: flex;
    width: 50%;
    height: 50px;
    line-height: 3;
    background: #f9f9f9;
    overflow: hidden;
    border-radius: .25em;
    /* Arrow */
    /* Transition */ }
    .inputsBox__selectWrapper::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 1em;
      color: rgba(255, 37, 37, 0.7);
      background-color: #f9f9f9;
      cursor: pointer;
      pointer-events: none;
      transition: .5s all ease; }
    .inputsBox__selectWrapper:hover::after {
      color: #100c08;
      background: #f9f9f9; }
    .inputsBox__selectWrapper--select {
      flex: 1;
      padding: 0 .5em;
      color: #100c08;
      cursor: pointer;
      font-weight: 300;
      background: #f9f9f9;
      font-family: inherit; }

/* ===================
  new route desc side
====================== */
.section__desc {
  padding-left: 3rem; }
  .section__desc--heading {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 2rem; }
  .section__desc--paragraph {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2rem; }
  .section__desc--link:link, .section__desc--link:visited {
    color: rgba(16, 12, 8, 0.5);
    text-decoration: underline;
    transition: all .2s; }
  .section__desc--link:hover, .section__desc--link:active {
    color: #100c08;
    text-decoration-color: #FF2525;
    text-decoration-style: wavy; }
  .section__desc--image {
    padding: 3rem 0 3rem 0; }
  .section__desc--imageZero {
    height: 25rem; }
  .section__desc--imageOne {
    height: 35rem; }
  .section__desc--imageTwo {
    height: 28rem; }
  .section__desc--imageThree {
    height: 50rem; }
  .section__desc--imageFour {
    height: 30rem;
    margin-left: 10rem; }
  .section__desc--imageFive {
    height: 35rem; }

/* =================
form submit buttons
================== */
.form--btn {
  margin-top: 2rem;
  cursor: pointer;
  text-transform: none;
  display: inline-block;
  font-family: inherit;
  margin-bottom: 1rem; }

/** =====================
  * Auth Routes
======================= */
.zero {
  width: 40vw; }

.auth__smallHeading {
  margin-top: 2rem;
  font-size: 1.3rem;
  margin-bottom: .5rem;
  font-weight: 300; }
  .auth__smallHeading--link:link, .auth__smallHeading--link:visited {
    color: #aca5a5; }
  .auth__smallHeading--link:active, .auth__smallHeading--link:hover {
    color: #555;
    transition: color .2s; }

/* ============================
      PROJECTS APP STYLES
============================ */
.projects {
  background-color: #f9f9f9;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .projects__content {
    background-color: #FFF;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .projects__content--logo {
      font-size: 2rem; }
    .projects__content--logoBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2.5rem 6rem;
      list-style-type: none; }
    .projects__content--body {
      margin: 3rem 6rem;
      display: flex;
      align-items: center; }
    .projects__content--contacts {
      display: flex;
      margin: 0 6rem;
      align-items: center;
      justify-content: space-between;
      font-size: .65rem; }
    .projects__content--footer {
      background-color: #111;
      color: #555;
      text-align: center;
      padding: 1rem 0; }
  .projects__imageBox {
    flex: 2 2 50%;
    width: 50%;
    overflow: hidden;
    height: 65vh;
    background-image: linear-gradient(rgba(20, 30, 48, 0.5), rgba(20, 30, 48, 0.5)), url("https://images.unsplash.com/photo-1529088363398-8efc64a0eb95?ixlib=rb-1.2.1&auto=format&fit=crop&w=848&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.projects__textBox {
  flex: 1 1 50%;
  min-width: 50%; }
  .projects__textBox--heading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2.5rem; }
  .projects__textBox--span {
    display: inline-block;
    font-size: 1.3rem;
    margin-bottom: 1.5rem; }
  .projects__textBox--email {
    display: flex; }
    .projects__textBox--emailInput {
      /* removing borders from email input */
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: #FFF;
      margin-top: 2rem;
      margin-bottom: 3rem;
      height: 3rem;
      width: 16rem; }
    .projects__textBox--emailInput::placeholder {
      text-align: center; }
  .projects__textBox--submit {
    cursor: pointer; }
  .projects__textBox--smallSocials {
    display: flex;
    margin-top: 2.5rem;
    font-size: 2rem; }
  .projects__textBox--smallLink:link, .projects__textBox--smallLink:visited {
    color: #100c08;
    text-decoration: none;
    padding-right: 1rem; }

.projects__card {
  display: flex;
  /* Drawing a line after a heading */ }
  .projects__card--primary {
    position: relative; }
  .projects__card--primaryHeading {
    font-weight: 300;
    margin-right: .5rem;
    font-size: 1.3rem; }
  .projects__card--primaryHeading::after {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: .1rem;
    background-color: #100c08;
    position: absolute;
    left: 105%;
    bottom: 75%; }
  .projects__card--secondary {
    margin-left: 4rem;
    margin-bottom: 1rem; }
  .projects__card--secondaryParagraph {
    font-size: 1.3rem; }
