/* ===========================================
              UNIVERSAL STYLES
=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* =====================================
            REUSABLE CODE
======================================= */

.container {
  display: flex;
}

.section {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Clearing floats */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.fa-instagram:active,
.fa-instagram:hover {
  color: #ee1092;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.fa-twitter:active,
.fa-twitter:hover {
  color: #0764f7;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

/* ============================================================= 
                          INDEX.EJS
============================================================== */

/* Hero section */
.hero,
.hero-2 {
  flex-basis: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.unsplash.com/flagged/photo-1575744007781-3eaadbfba049?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vh;
  align-self: flex-start;
  /* fixing hero div to NOT scroll with the showcase div */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff;
}

.hero h1,
.hero-2 h1 {
  align-self: flex-start;
  margin-top: 50px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 190%;
}

.hero .header, 
.hero-2 .header-2 {
  width: 100%;
  text-align: center;
  margin-top: 50vh;
  font-size: 80%;
  text-align: center;
}

.hero .header img,
.hero-2 .header-2 img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #a0c1b8;
  scale: .98;
}

.hero .header img:hover {
  scale: 1;
  transition: scale .5s ease-in;
  -webkit-transition: scale .5s ease-in;
  -moz-transition: scale .5s ease-in;
  -ms-transition: scale .5s ease-in;
  -o-transition: scale .5s ease-in;
}

.hero .header h2 {
  font-size: 300%;
  font-weight: bold;
}

.hero .header p {
  font-weight: 300;
  text-align: center;
  font-size: 180%;
  width: 70%;
  margin: 0 auto;
}

.hero-btn:link,
.hero-btn:visited {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 300;
  text-decoration: none;
  font-size: 300%;
  color: rgb(185, 178, 178);
}

/**************** Showcase section ********************/
.showcase,
.showcase-2 {
  flex-basis: 100%;
}

/* hamburger menu icon */
.showcase .group .right-menu,
.showcase-2 .group .right-menu {
  float: right;
  margin-top: 50px;
  padding-right: 40px;
  font-weight: 400;
  font-size: 140%;
}

.showcase-boxes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  justify-items: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.showcase-box {
  position: relative;
  width: 590px;
  height: 250px;
  margin-top: 10px;
}

 .showcase-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.showcase-box img:hover {
  filter: grayscale(.5);
  scale: 1.005;
  -webkit-filter: grayscale(.5);
  transition: filter .5s, scale .2s .2s;
  -webkit-transition: filter .5s, scale .2s .2s;
  -moz-transition: filter .5s, scale .2s .2s;
  -ms-transition: filter .5s, scale .2s .2s;
  -o-transition: filter .5s, scale .2s .2s;
}

.showcase-card {
  display: flex;
  position: absolute;
  top: 0;
  width: 590px;
  height: 80px;
  padding-top: 10px;
  padding-left: 20px;
  background-image: linear-gradient(to bottom, rgba(10, 0, 0, 0.6), rgba(27, 29, 32, 0.5), rgba(5, 30, 54, 0.4), rgba(15, 36, 56, 0.3), rgba(7, 40, 73, 0));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.showcase-card .author-card {
  display: flex;
}

.showcase-card .author-card {
  flex-basis: 480px;
}

.showcase-card .card-tag {
  flex: 1;
}

.author-card .card-image img {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.author-card .card-text {
  font-weight: 300;
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
}

.showcase-card .card-text h3 {
  font-size: 75%;
}

.author-card .card-text p {
  font-size: 70%;
  color: rgb(200, 200, 200);
}

.showcase-card .card-tag {
  margin-right: 20px;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
}

.showcase-card .card-tag a:link,
.showcase-card .card-tag a:visited {
  font-size: 90%;
  color: rgb(231, 229, 229);
  padding: 5px 16px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.showcase-card .card-tag a:active,
.showcase-card .card-tag a:hover {
  color: #fff;
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
}

.showcase-card .card-tag .green {
  background-color: #16a085;
}

.showcase-card .card-tag .yellow {
  background-color: #daa02d;
}

.showcase-card .card-tag .purple {
  background-color: #474787;
}

.showcase-card .card-tag .red {
  background-color: #e55039;
}

.showcase-text h2 {
  margin-bottom: 10px;
  width: 75%;
}

.showcase-text h2 a:link,
.showcase-text h2 a:visited {
  color: #000;
  font-weight: 400;
  font-size: 80%;
}

.showcase-text h2 a:active,
.showcase-text h2 a:hover {
  color: rgb(172, 165, 165);
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
}

.showcase-text p {
  font-size: 80%;
  line-height: 140%;
}

.showcase-text .show-link {
  margin-top: 10px;
  font-size: 80%;
  margin-bottom: 35px;
}

.showcase-text .show-link a:link,
.showcase-text .show-link a:visited {
  color: rgb(121, 117, 117);
  border-bottom: 1px solid gray;
}

.showcase-text .show-link a:active,
.showcase-text .show-link a:hover {
  color: #000;
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
  -ms-transition: color .2s;
  -o-transition: color .2s;
}

.showcase-text hr {
  color: rgba(218, 223, 225, .3);
}

/* Index footer */
.showcase footer,
.showcase-2 footer {
  height: 120px;
  padding: 50px;
  padding-left: 0;
  background-color: #f8f9fb;
  color: #555;
  font-size: 80%;
}

.showcase footer p,
.showcase-2 footer p {
  width: 550px;
  margin: 0 auto;
}

.showcase footer a,
.showcase-2 footer a {
  color: rgb(207, 207, 207);
  text-decoration: underline;
}

/* ===============================================
                NEW ROUTE
================================================ */

.wrapper {
  padding: 40px 20px;
}

/* navbar */
.menu .left-menu {
  float: left;
}

.menu .right-menu {
  float: right;
}

.menu li {
  list-style: none;
}

.menu a {
  color: rgb(39, 37, 37);
}

/************************** content boxes **************************/

.content-inputs, 
.content-text {
  padding: 0 20px;
}

.row div:last-child {
  padding-bottom: 20px;
}

.content-boxes {
  width: 70%;
  margin: 0 auto;
}

.content-boxes .row {
  margin-top: 50px;
}

.content-inputs {
  flex: 1;
}

.content-text {
  flex: 1;
}

.content-boxes h1 {
  text-align: center;
  font-size: 250%;
  font-weight: 300;
}

.content-boxes h1:after {
  display: block;
  height: 2px;
  background-color: #6d6966;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

.content-boxes input,label {
  display: block;
}

/******************** content-inputs ********************/
*:focus {
  outline: none;
}

.content-inputs {
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.content-inputs h2 {
  padding: 20px;
  text-align: center;
}

.content-inputs .left, .right {
  width: 48%;
}

.content-inputs input[type=text],textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #959595;
  font-family: inherit;
  font-weight: 300;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.content-inputs input[type=text] {
  height: 80px;
  font-size: 70%;
  padding: 10px;
}

.content-boxes input[type=submit] {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #fff;
  font-size: 120%;
  background-color: #000;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* input styles */
.box-content {
  position: relative;
}

.box-content label {
  position: absolute;
  text-transform: uppercase;
  padding: 12px;
  font-size: 55%;
  font-weight: bolder;
}

.box-content ::placeholder {
  text-transform: uppercase;
}

textarea {
  padding-top: 40px;
  padding-left: 10px;
  resize: vertical;
}

/********************** content-text ************************/
.content-text h2 {
  font-weight: 300;
  font-size: 185%;
  margin-top: 30px;
}

.content-text p {
  margin-top: 20px;
  line-height: 135%;
}

/* ===============================================
                SHOW ROUTE
================================================ */

.header-2 h2 {
  margin-top: 67vh;
  font-size: 250%;
  width: 60%;
  text-align: left;
}

.header-2 h2, .header-2 .author-card {
  margin-left: 20%;
}

.header-2 .author-card {
  display: flex;
  margin-top: 20px;
}

.header-2 .author-card img {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header-2 .card-text {
  margin: 15px 0;
}

.header-2 .card-text h3 {
  font-weight: 300;
  margin-left: 20px;
  padding-bottom: 5px;
}

.header-2 .card-text p {
  font-size: 90%;
}

/**************************** content section ***********************/

.show-wrapper {
  width: 76%;
  margin: 0 auto;
}

.show-wrapper p {
  margin-bottom: 20px;
  line-height: 135%;
}

.show-heading {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

.show-heading .main-heading h2 {
  font-size: 170%;
  margin-bottom: 20px;
}

.main-heading h2:after {
  display: block;
  height: 2px;
  background-color: rgba(218, 223, 225, .5);
  content: " ";
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.intro-paragraph {
  color: rgb(162, 166, 167);
}

.intro-paragraph:after {
  display: block;
  height: 2px;
  content: " ";
  background-color: rgba(218, 223, 225, .5);
  width: 200px;
  margin-top: 20px;
  margin: 0 auto;
}

.show-content {
  width: 90%;
  margin: 0 auto;
}

.section-one {
  margin-top: 30px;
}

.section-two h3 {
  font-size: 140%;
  margin-bottom: 20px;
}

.section-two p:nth-of-type(2) {
  border-left: 5px solid rgb(186, 188, 189);
  padding: 10px;
  line-height: 145%;
  word-spacing: 5px;
}

.section-three h4 {
  font-size: 125%;
  margin-bottom: 20px;
}

.section-three p:first-of-type {
  padding: 20px;
}

.section-three h5 {
  font-size: 115%;
  margin-bottom: 12px;
}

.section-three img {
  width: 100%;
  height: 392.65px;
}

.section-three p:last-of-type {
  margin-top: 20px;
}

.section-four h6 {
  font-size: 110%;
  margin-bottom: 15px;
}