<% include ../partials/header %>

<div class="wrapper">
  <div class="menu group">
    <ul class="left-menu">
      <li><a href="#"><i class="fas fa-arrow-right"></i></a></li>
    </ul>
    <ul class="right-menu">
      <li><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
  </div>
</div>

<% include ../partials/footer %>