<% include ../partials/header %>

<div class="wrapper">

  <div class="menu group">

    <div class="l-container">

      <span class="menu-icon" onclick="openMenu()" style="color: #100c08;">&#9776;</span>

    </div>

    <div class="menu-container" id="navbar">

      <span class="closebtn" onclick="closeMenu()">&times</span>

      <div class="menu-content">
        <a href="/blogs">Cancel</a>
        <!-- will create an about page with mission statement and what-not -->
        <a href="#">About</a>
        <!-- this will link to several ideas about how we can impact meaningful change in our communities -->
        <a href="/projects">Projects</a>
        <!-- create a contact us panel with socials -->
        <a href="#">Contact Us</a>
        <% if (!currentUser) { %>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
        <% } %>
        <% if (currentUser) { %>
        <a href="/logout">Logout</a>
        <% } %>
      </div>
    </div>

  </div>

  <div class="create">
    
    <h1 class="create--mainHeading">Create</h1>

    <form action="/blogs" method="POST" class="create__form">

        <div class="create__form--row create__form--after">

          <div class="section zero">

            <div class="content-inputs">

              <h2>Section Zero</h2>

              <div class="box-content">

                <label for="mainHeading">Title*</label>
                <input type="text" name="blog[mainHeading]" id="mainHeading" placeholder="blog heading" required>

                <div class="group">
                  <div class="left">
                    <label for="mainImage">Image*</label>
                    <input type="text" name="blog[mainImage]" id="mainImage" placeholder="main blog image url" required>
                  </div>

                  <div class="right select">
                    <!-- <input type="text" name="blog[tag]" id="tag" placeholder="blog tag" required> -->
                    <select name="blog[tag]" id="tag" required>
                      <option selected disabled>Choose a tag</option>
                      <option value="Self">Self</option>
                      <option value="Society">Society</option>
                      <option value="Tech">Tech</option>
                      <option value="Money">Money</option>
                    </select>
                  </div>
                </div>

                <label for="introParagraph">Intro*</label>
                
                <textarea name="blog[introParagraph]" id="introParagraph" cols="30" rows="5" placeholder="create a conversation" required></textarea>
              </div>

            </div>

            <div class="content-text s0">
              <p>Hook your readers.</p>
              <h2>A story lives and dies with <br>
                  the introduction!
              </h2>
              
              <img src="../resources/img/section0.svg" alt="Section 0 image">

              <p>Create a conversation from the title, the background image to the intro paragraph.</p>
              
              <p>The last thing you should do is make the reader feel like
                they're reading an essay. Spice it up and include the audience in your play.
              </p>
            </div>

          </div>
        </div>

        <!-- second row starts here -->

        <div class="create__form--row create__form--after">

          <div class="section one">

            <div class="content-text s1">
              <p>Open Up.</p>
              <h2>Establish the tone/mood<br>
                howbeit slowly!
              </h2>

              <img src="../resources/img/section1.svg" alt="Section 1 image">

              <p>Set up a road map to the core of your story by introducing the main pillars of your overall theme. </p>
            </div>

            <div class="content-inputs">

              <h2>Section One</h2>

              <div class="box-content">

                <label for="paragraphOne">Paragraph 1</label>

                <textarea name="blog[paragraphOne]" id="paragraphOne" cols="30" rows="5"
                  placeholder="theme 1"></textarea>

                <label for="paragraphTwo">Paragraph Two</label>

                <textarea name="blog[paragraphTwo]" id="paragraphTwo" cols="30" rows="5"
                  placeholder="theme 2"></textarea>
              </div>

            </div>

          </div>
        </div>

        <!-- Third row starts here -->

        <div class="create__form--row create__form--after">

          <div class="section two">

            <div class="content-inputs">

              <h2>Section Two</h2>

              <div class="box-content">

                <label for="mediumHeading">Small Heading</label>
                <input type="text" name="blog[mediumHeading]" id="smallHeading" placeholder="small blog heading" required>

                <label for="paragraphThree">Paragraph Three</label>

                <textarea name="blog[paragraphThree]" id="paragraphThree" cols="30" rows="5"
                  placeholder="create a conversation"></textarea>

                <label for="paragraphFour">Paragraph Four</label>

                <textarea name="blog[paragraphFour]" id="paragraphFour" cols="30" rows="5"
                    placeholder="create a conversation"></textarea>

                <label for="paragraphFive">paragraphFive</label>

                <textarea name="blog[paragraphFive]" id="paragraphFive" cols="30" rows="5"
                      placeholder="create a conversation"></textarea>
              </div>

            </div>

            <div class="content-text s2">
              <p>Approaching the gist.</p>
              <h2>Conclude your premise<br>
                Ease in :)
              </h2>

              <img src="../resources/img/section2.svg" alt="Section 2 image">

              <p>
                Ease the reader into your story. 
              </p>
              <p>
                While settling the audience's mind down in anticipation of your subject's highest depth, provide <a href="https://www.postmm.com/seo/backlinks/" target="_blank">backlinks</a> to simpler 
                content that defines the more complex facets of your theme[s].
              </p>
            </div>

          </div>
        </div>

        <!-- Fourth Row starts here -->

        <div class="create__form--row create__form--after">

          <div class="section zero s3">

            <div class="content-text">
              <p>Dissecting the frog.</p>
              <h2>Longer context is<br>
                usually better.
              </h2>

              <img src="../resources/img/section3.svg" alt="Section 3 image">

              <p>
                Higher word count typically results in more search traffic.
              </p>
              <p>
                The more content you have, the more of it gets <a href="https://en.wikipedia.org/wiki/Web_indexing" target="_blank">indexed</a>. The more that gets indexed, the better it will perfom in google searches and results!
              </p>
            </div>

            <div class="content-inputs">

              <h2>Section Three</h2>

              <div class="box-content">

                <label for="smallHeading">Blog Subheading</label>
                <input type="text" name="blog[smallHeading]" id="smallHeading" placeholder="small blog heading">

                <label for="paragraphSix">Paragraph Six</label>

                <textarea name="blog[paragraphSix]" id="paragraphSix" cols="30" rows="5"
                  placeholder="create a conversation"></textarea>

                <label for="paragraphSeven">Paragraph Seven</label>

                <textarea name="blog[paragraphSeven]" id="paragraphSeven" cols="30" rows="5"
                    placeholder="create a conversation"></textarea>

                <div class="group">
                  <div class="left">
                    <label for="smallerHeading">Smaller Heading</label>
                    <input type="text" name="blog[smallerHeading]" id="smallerHeading" placeholder="smaller blog heading">
                  </div>

                  <div class="right">
                    <label for="blogImage">Blog Image*</label>
                    <input type="text" name="blog[blogImage]" id="blogImage" placeholder="secondary blog image url" required>
                  </div>
                </div>

                <label for="paragraphEight">Paragraph Eight</label>
                <textarea name="blog[paragraphEight]" id="paragraphEight" cols="30" rows="5"
                  placeholder="create a conversation"></textarea>

                <label for="paragraphNine">Paragraph Nine</label>
                <textarea name="blog[paragraphNine]" id="paragraphNine" cols="30" rows="5"
                  placeholder="create a conversation"></textarea>
                    
              </div>

            </div>

          </div>
        </div>

        <!-- Fifth Row starts here -->
        <div class="create__form--row create__form--last">

          <div class="section zero">

            <div class="content-inputs">

              <h2>Section Four</h2>

              <div class="box-content">

                <label for="smallestHeading">Smallest Heading*</label>
                <input type="text" name="blog[smallestHeading]" id="smallestHeading" placeholder="outro heading" required>

                <label for="lastParagraph">Last Paragraph*</label>

                <textarea name="blog[lastParagraph]" id="lastParagraph" cols="30" rows="10"
                  placeholder="conclude your story" required></textarea>
              </div>

            </div>

            <div class="content-text s4">
              <p>Wrapping it up.</p>
              <h2>Short and Concise<br>
                simple does it!
              </h2>

              <img src="../resources/img/section4.svg" alt="Section 4 image">

              <p>If you had a really dumb doppleganger for a best friend, how would you like your idea paraphrased best for them to get it? Sum it all up and put it in perspective!</p>
            </div>

          </div>
        </div>

        <div class="form-btns">
          <input class="btn btn-full" type="submit" value="Publish"> 
          <input class="btn btn-ghost" type="submit" value="Save Draft" formaction="/blogs/drafts">
        </div>
        
      </div>
    </form>

  </div>
</div>

<% include ../partials/footer %>