<% include ../partials/header %>

<div class="wrapper">

  <div class="menu group">

    <ul class="left-menu">
      <li><a href="#"><i class="fas fa-arrow-right"></i></a></li>
    </ul>

    <ul class="right-menu">
      <li><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>

  </div>

  <div class="content-boxes">
    
    <h1>Create</h1>

    <div class="row">
      <div class="section zero">
        <div class="content-box">

          <h2>Section Zero</h2>

          <div class="box-content">

            <label for="mainHeading">Title</label>
            <input type="text" name="mainHeading" id="mainHeading" placeholder="blog heading">

            <div class="container">
              <label for="mainImage">Image</label>
              <input type="text" name="mainImage" id="mainImage" placeholder="main blog image url">

              <label for="tag">Tag</label>
              <input type="text" name="tag" id="tag" placeholder="blog tag">
            </div>

            <label for="introParagraph">Intro</label>
            <input type="text" name="introParagraph" id="introParagraph" placeholder="create a conversation">
          </div>

        </div>

        <div class="content-text">
          <p>Lorem ipsumdol</p>
          <h2>A story lives and dies with <br>
            the introduction!
          </h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos reiciendis ducimus corrupti recusandae eaque
            optio quae ipsa. Neque nihil
            optio recusandae nulla impedit nisi a molestias praesentium libero provident temporibus, quia natus tempora
            placeat eum quas sint accusantium
            vitae officiis officia labore beatae? Iusto odio pariatur illo excepturi soluta totam similique distinctio
            nihil animi quibusdam sapiente id
            voluptatum voluptates adipisci error, corrupti minima quas ad numquam veniam laboriosam! A modi iste ipsam
            nesciunt dolore fugit eos id quasi
            neque. Consequatur minima recusandae, enim atque fuga, numquam explicabo quibusdam totam praesentium
            exercitationem error architecto ipsam sit
            dicta itaque eos perferendis corporis.</p>
        </div>

        </div>
      </div>

  </div>
</div>

<% include ../partials/footer %>